
        <meta charset="utf-8" />
        <div
        class="rounded-lg shadow-md bg-white w-[1190px] max-w-full overflow-hidden flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[14px] box-border gap-[11.5px] leading-[normal] tracking-[normal] text-center text-[13px] text-[#939393] font-[Inter] mx-auto" 
        >
        <header
        class="self-stretch flex flex-col items-start justify-start text-left text-[18px] text-[#333] font-[Inter]"
        >
        <div
            class="self-stretch rounded-[13px] overflow-hidden flex flex-row items-start justify-start py-[19px] px-[16px] gap-[450px] mq450:gap-[112px] mq725:gap-[225px] mq725:flex-wrap"
            >
            <button id="photoCloseBtn">
            
            </button>

            <div
                class="flex flex-col items-start justify-start pt-[5.5px] px-[0px] pb-[0px]"
            >
                <a
                class="[text-decoration:none] relative leading-[22px] font-bold text-[inherit] whitespace-nowrap"
                >은평 씨에스에비뉴 호텔</a
                >
            </div>
            </div>
            <div
            class="w-[186px] flex flex-row items-start justify-start py-[0px] px-[22px] box-border text-center text-[15.1px] text-[#707070] pb-[8px]"
            >
            <div class="flex-1 flex flex-row items-start justify-start">
                <button class="flex-1 relative font-medium pb-[17px]">전체</button>
                <div class="flex-1 bg-[#fff] border-[#1273e4] border-b-[2px] border-solid overflow-hidden flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[17px] text-[#1273e4]">
                <button class="flex-1 relative">객실</button>
            </div>
            </div>
            </div>
        </header>
        <div
            class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[22px] pr-[15px] box-border max-w-full"
        >
            <div
            class="flex-1 flex flex-row items-start justify-between max-w-full gap-[20px] mq1050:flex-wrap"
            >
            <div
                class="w-[960px] flex flex-col items-start justify-start pt-[2px] px-[0px] pb-[0px] box-border max-w-full"
            >
                <div
                class="self-stretch flex flex-row items-start justify-start gap-[15px] mq1000:flex-wrap"
                >
                <button
                    class="flex-1 flex flex-row items-start justify-start py-[0px] px-[12px] box-border relative min-w-[176px] max-w-[180px]"
                >

                    <div
                    class="flex-1 relative border border-gray-400 font-semibold cursor-pointer bg-white h-[31px] min-w-[150px]  rounded-full whitespace-nowrap hover:bg-[#e6e6e6] p-0 flex items-center justify-center z-[1]"
                    >
                    은평 씨에스에비뉴 호텔
                    </div>
                </button>
                <button
                    class="flex-1 flex flex-row items-start justify-start py-[0px] px-[12px] box-border relative min-w-[176px] max-w-[180px]"
                >
                    <div
                    class="flex-1 relative border border-gray-400 font-semibold cursor-pointer bg-white h-[31px] min-w-[150px]  rounded-full whitespace-nowrap hover:bg-[#e6e6e6] p-0 flex items-center justify-center z-[1]"
                    >
                    은평 씨에스에비뉴 호텔
                    </div>
                </button>
                <button
                    class="flex-1 flex flex-row items-start justify-start py-[0px] px-[12px] box-border relative min-w-[176px] max-w-[180px]"
                >

                    <div
                    class="flex-1 relative border border-gray-400 font-semibold cursor-pointer bg-white h-[31px] min-w-[150px]  rounded-full whitespace-nowrap hover:bg-[#e6e6e6] p-0 flex items-center justify-center z-[1]"
                    >
                    은평 씨에스에비뉴 호텔
                    </div>
                </button>
                <button
                    class="flex-1 flex flex-row items-start justify-start py-[0px] px-[12px] box-border relative min-w-[176px] max-w-[180px]"
                >
                    <div
                    class="flex-1 relative border border-gray-400 font-semibold cursor-pointer bg-white h-[31px] min-w-[150px]  rounded-full whitespace-nowrap hover:bg-[#e6e6e6] p-0 flex items-center justify-center z-[1]"
                    >
                    은평 씨에스에비뉴 호텔
                    </div>
                </button>
                <button
                    class="flex-1 flex flex-row items-start justify-start py-[0px] px-[12px] box-border relative min-w-[176px] max-w-[180px] text-[#fff]"
                >

                    <div
                    class="flex-1 relative border border-gray-400 font-semibold cursor-pointer bg-white h-[31px] min-w-[150px]  rounded-full whitespace-nowrap hover:bg-[#e6e6e6] p-0 flex items-center justify-center z-[1]"
                    >
                    은평 씨에스에비뉴 호텔
                    </div>
                </button>
                </div>
            </div>
            <button
                class="h-[35px] w-[35px] relative shadow-[0px_2px_8px_rgba(0,_0,_0,_0.24)] rounded-[9999px] bg-[#fff] [transform:_rotate(90deg)]"
            >
             
            </button>
            </div>
        </div>
        <section
            class="self-stretch flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[6.5px] box-border max-w-full"
        >
            <div
            class="flex-1 bg-[#e9e9e9] overflow-hidden flex flex-row items-end justify-start py-[0px] px-[22px] box-border relative gap-[231px] max-w-full mq450:gap-[58px] mq1000:gap-[115px] mq1000:flex-wrap"
            >
            <div class="h-[241px] flex flex-col items-start justify-start">
            <button
                class="w-[40px] h-[40px] relative shadow-[0px_2px_8px_rgba(0,_0,_0,_0.24)] rounded-[9999px] bg-[#fff] [transform: rotate(90deg)]"
                >
          
                </button>
            </div> 
            <img
                class="w-[575px] relative max-h-full overflow-hidden shrink-0 object-cover max-w-full"
                loading="lazy"
                alt=""
                src="/image/detail/5f0432d6d9ff8jpg1@2x.png"
            />

            <button
                class="h-[40px] w-[40px] absolute !m-[0] right-[20px] bottom-[201px] shadow-[0px_2px_8px_rgba(0,_0,_0,_0.24)] rounded-[9999px] bg-[#fff]"
            >
               
            </button>
            </div>
        </section>
        <section
            class="flex flex-row items-start justify-start py-[0px] px-[18px] box-border max-w-full"
        >
            <div
            class="flex flex-row items-start justify-center gap-[10px] max-w-full mq1050:flex-wrap"
            >

            </div>
        </section>
        </div>
        <script src="https://cdn.tailwindcss.com"></script>
