 
        <meta charset="utf-8" />

        <div class="flex justify-center h-screen "> 
            <div
            class="w-[381px] h-[562px] bg-white rounded-[13px] overflow-hidden flex flex-col items-start justify-start pt-[23px] pb-[58px] pl-[14px] pr-[9px] relative gap-[17px] text-left text-[14px] text-[#777] font-Inter shadow-md mt-0" style = "top:204px"
            >
            <header
            class="w-[331px] flex flex-row items-end justify-start max-w-full text-left text-[19.2px] text-[#4f4f4f] font-Inter"
            >
            <div
            class="w-[128px] flex flex-col items-start justify-start gap-[36px]"
            >
            <button id="hostInfoDelBtn" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 text-2xl font-bold close">&times;</button>
           
            <div
                class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[21px] pr-[0px]"
            >
                <div
                class="h-[312px] flex-1 flex flex-col items-start justify-start"
                >
                <div
                    class="self-stretch h-[54px] relative bg-[#f7f7f7] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-r-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0"
                ></div>

                <div
                    class="self-stretch h-[54px] relative bg-[#f7f7f7] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-r-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0"
                ></div>
                <div
                    class="self-stretch h-[54px] relative bg-[#f7f7f7] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-r-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[1]"
                ></div>
                <div
                    class="self-stretch h-[54px] relative bg-[#f7f7f7] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-r-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[3]"
                ></div>
                <div
                    class="self-stretch h-[54px] relative bg-[#f7f7f7] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-r-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[5]"
                ></div>
                <div
                    class="self-stretch h-[54px] relative bg-[#f7f7f7] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-r-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[7]"
                ></div>
                </div>
            </div>
            </div>
            <div class="flex-1 flex flex-col items-start justify-start gap-[41px]">
            <a
                class="[text-decoration:none] relative leading-[20px] font-semibold text-[inherit] inline-block min-w-[101px] whitespace-nowrap"
                >판매자 정보</a
            >
            <div
                class="self-stretch h-[312px] flex flex-col items-start justify-start"
            >
                <div
                class="self-stretch h-[54px] relative bg-[#fff] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0"
                ></div>
                <div
                class="self-stretch h-[54px] relative bg-[#fff] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0"
                ></div>
                <div
                class="self-stretch h-[54px] relative bg-[#fff] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[2]"
                ></div>
                <div
                class="self-stretch h-[54px] relative bg-[#fff] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[4]"
                ></div>
                <div
                class="self-stretch h-[54px] relative bg-[#fff] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[6]"
                ></div>
                <div
                class="self-stretch h-[54px] relative bg-[#fff] border-[#bcbcbc] border-t-[1px] border-solid border-[#bcbcbc] border-b-[1px] border-solid box-border shrink-0 z-[8]"
                ></div>
            </div>
            </div>
        </header>
        <div
        class="w-[71px] absolute !m-[0] top-[106px] left-[51px] leading-[20px] font-semibold flex items-center z-[1]"
        >
        상호
        </div>
        <div
        class="w-[101px] absolute !m-[0] top-[106px] right-[103px] leading-[20px] font-semibold flex items-center z-[1]"
        >
        (주)오마카세
        </div>
        <div
        class="w-[71px] absolute !m-[0] top-[160px] left-[51px] leading-[20px] font-semibold flex items-center z-[1]"
        >
        대표자명
        </div>
        <div
        class="w-[45px] absolute !m-[0] top-[160px] right-[159px] leading-[20px] font-semibold flex items-center z-[1]"
        >
        홍길동
        </div>
        <div
        class="w-[71px] absolute !m-[0] top-[214px] left-[51px] leading-[20px] font-semibold flex items-center z-[2]"
        >
        주소
        </div>
        <div
        class="absolute !m-[0] top-[214px] right-[116px] leading-[20px] font-semibold inline-block min-w-[83px] z-[3]"
        >
        서울시 강남구
        </div>
        <div
        class="w-[71px] absolute !m-[0] top-[269px] left-[51px] leading-[20px] font-semibold flex items-center z-[4]"
        >
        전화번호
        </div>
        <div
        class="absolute !m-[0] top-[269px] right-[83px] leading-[20px] font-semibold inline-block min-w-[120px] z-[5]"
        >
        010-9999-8888
        </div>
        <div
        class="w-[71px] absolute !m-[0] bottom-[221px] left-[51px] leading-[20px] font-semibold flex items-center z-[6]"
        >
        이메일
        </div>
        <div
        class="absolute !m-[0] bottom-[221px] right-[84px] leading-[20px] font-semibold inline-block min-w-[120px] z-[6]"
        >
        dd@naver.com
        </div>
        <section
        class="w-[341px] flex flex-row items-start justify-start py-[0px] px-[18px] box-border max-w-full text-left text-[13.2px] text-[#993030] font-[Inter] mt-[10px]"
        >
        <div
            class="h-[86px] flex-1 relative leading-[20px] font-semibold flex items-center"
        >
            <ul class="m-[0px] font-[inherit] text-inherit pl-[18px]">
            <li class="mb-[0px]">
                <span class="text-[#a2a2a2]">판매자 정보는 판</span>
                <span
                >매자의 명시적 동의 없이 영리 목적의 마케팅·광고 등에 활용할 수
                없습니다.</span
                >
            </li>
            <li>
                <span class="text-[#a2a2a2]"
                >이를 어길 시 정보통신망법 등 관련 법령에 의거하여 과태료 부과
                및 민형사상 책임을 지게 될 수 있습니다.</span
                >
            </li>
            </ul>
        </div>
        </section>
        <div
        class="absolute !m-[0] bottom-[168px] left-[51px] leading-[20px] font-semibold inline-block min-w-[74px] z-[8]"
        >
        사업자 번호
        </div>
        <div
        class="absolute !m-[0] right-[101px] bottom-[168px] leading-[20px] font-semibold inline-block min-w-[103px] z-[9]"
        >
        617-86-18585
        </div>
        </div>
        <script src="https://cdn.tailwindcss.com"></script>
   
