<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/main}"
      layout:fragment="main"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/nouislider/dist/nouislider.min.css" rel="stylesheet">
    <link href="/css/component/slider.css" rel="stylesheet">
</head>
<body>
<div
        class="w-full relative bg-[#fff] flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[100px] box-border leading-[normal] tracking-[normal]"
>
    <main
            class="self-stretch flex flex-row items-start justify-center py-[0px] px-[20px] box-border max-w-full"
    >
        <section
                class="w-[1200px] flex flex-row items-start justify-start pt-[16px] px-[0px] pb-[0px] box-border max-w-[1200px] text-left text-[15.1px] text-[#333] font-[Inter] lg:max-w-full mq1050:h-auto"
        >
            <div
                    class="flex-1 flex flex-row items-start justify-start gap-[16px] max-w-full shrink-0"
            >
                <div
                        class="w-[288px] flex flex-col items-start justify-start pt-[36px] px-[0px] pb-[0px] box-border mq1050:hidden"
                >
                    <div class="self-stretch flex flex-col items-start justify-start">
                        <div
                                class="self-stretch flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[20px]"
                        >
                            <div
                                    class="flex-1 rounded-[12px] overflow-hidden flex flex-row items-start justify-start py-[66.4px] px-[80px] bg-[url('/image/domestic-accommodations/map@3x.png')] bg-cover bg-no-repeat bg-[top] mq450:pl-[20px] mq450:pr-[20px] mq450:box-border"
                            >
                                <button class="btn btn-primary w-32 h-[42px] flex flex-row items-center justify-center font-semibold text-[13.1px]  font-[Inter] text-[#fff] text-center"
                                        onclick="showMap()"
                                >
                                    지도 보기
                                </button>
                            </div>
                        </div>
                        <div id="main-filter" th:insert="~{component/search/searchfilter :: filterbar('main')}"></div>
                    </div>
                </div>
                <div
                        class="flex-1 flex flex-col items-start justify-start pt-[0px] pb-[104px] pl-[16px] pr-[0px] box-border max-w-[calc(100%_-_304px)] text-[10.3px] text-[#707070] lg:pb-[29px] lg:box-border mq750:pb-[20px] mq750:box-border mq1050:max-w-full"
                >
                    <div
                            class="self-stretch bg-[#fff] flex flex-row items-center justify-between pt-[16px] px-[0px] pb-[20px] box-border min-h-[80px] [row-gap:20px] max-w-full gap-[0px] text-[22.9px] text-[#333] mq1050:flex-wrap"
                    >
                        <div
                                class="w-[732px] flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[16px] box-border max-w-full"
                        >
                            <div
                                    class="self-stretch overflow-hidden flex flex-row items-start justify-start py-[0px] pl-[0px] [row-gap:20px] mq450:pr-[20px] mq450:box-border mq750:flex-wrap mq750:pr-[267px] mq750:box-border"
                            >
                                <h3 class="m-[0px] w-max relative text-[24px] font-bold font-[inherit] flex items-center mq450:text-[19px] mq750:w-full mq750:h-[9px]">
                                    '<span id="keyword_value"></span>' 검색 결과&nbsp;
                                    <span th:text="${resultAccommodations.size()} + '개'"></span>
                                </h3>
                            </div>
                        </div>
                        <div
                                class="flex flex-col items-start justify-start text-[15px]"
                        >

                            <div class="dropdown pr-[9px] min-w-[41.48px]"
                                 id="dropdown-filter"
                            >
                                <button aria-expanded="false"
                                        class="btn btn-light dropdown-toggle w-[100%]"
                                        data-bs-toggle="dropdown" id="dropdown-filter-button" type="button" value="rating">
                                </button>
                                <ul class="dropdown-menu">
                                    <li value="rating"><p class="dropdown-item">평점높은순</p></li>
                                    <li value="review"><p class="dropdown-item">리뷰많은순</p></li>
                                    <li value="lowPrice"><p class="dropdown-item">낮은가격순</p></li>
                                    <li value="highPrice"><p class="dropdown-item">높은가격순</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div
                            class="self-stretch bg-[#fff] border-solid box-border flex flex-col items-start justify-start px-[0px] pb-[19px] max-w-full cursor-pointer"
                            id="cardWrapperContainer">
                        <div id="card" th:each="accommodation : ${resultAccommodations}"
                                class="self-stretch flex flex-row items-start justify-start [row-gap:20px] max-w-full mq750:flex-wrap pt-6 pb-6 border-[#ebebeb] border-b-[1px]"
                        >
                            <div
                                    class="h-[240px] w-[396px] flex flex-col items-start justify-center min-w-[396px] max-w-full mq750:flex-1 mq750:min-w-full"
                            >
                                <img
                                        alt="GCS 이미지"
                                        class="self-stretch flex-1 relative rounded-[12px] max-w-full overflow-hidden max-h-full object-cover mq750:self-stretch mq750:w-auto"
                                        loading="lazy"
                                        th:src="${accommodation.img_url}"
                                />
                            </div>
                            <div class="flex-1 overflow-hidden flex flex-col items-start justify-between py-[0px] pl-[20px] pr-[0px] box-border min-w-[315px] min-h-[240px] max-w-full mq750:min-h-[auto]"

                            >
                                <div
                                        class="self-stretch flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[4px]"
                                >
                                    <div
                                            class="self-stretch flex flex-col items-start justify-start gap-[4px]"
                                    >
                                        <div
                                                class="self-stretch flex flex-col items-start justify-start gap-[2px]"
                                        >
                                            <div
                                                    class="self-stretch flex flex-row items-center justify-start"
                                            >
                                                <div
                                                        class="flex flex-row items-center justify-start"
                                                >
                                                    <div class="relative font-semibold inline-block min-w-[21px]"
                                                         th:text="${accommodation.HCate.getDescription()}"
                                                    >
                                                        펜션
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                    class="self-stretch flex flex-col items-start justify-start text-[16.9px] text-[#333]"
                                            >
                                                <b class="self-stretch relative" th:text="${accommodation.HName}"
                                                >강릉 라임비치 스파 펜션</b
                                                >
                                            </div>
                                        </div>
                                        <div
                                                class="self-stretch flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[361px] [row-gap:20px] text-[11.6px] text-[#333] mq450:pr-[180px] mq450:box-border mq750:flex-wrap"
                                        >
                                            <div
                                                    class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[6px]"
                                            >
                                                <div
                                                        class="rounded-[6px] bg-[#ffad0a] flex flex-row items-center justify-center pt-[4px] pb-[3px] pl-[3px] pr-[5px]"
                                                >
                                                    <div
                                                            class="flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] pr-[2px]"
                                                    >
                                                        <div
                                                                class="overflow-hidden flex flex-col items-center justify-center"
                                                        >
                                                            <img
                                                                    alt="img error"
                                                                    class="w-[12px] h-[12px] relative"
                                                                    src="/image/domestic-accommodations/frame.svg"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div
                                                            class="flex flex-col items-start justify-start"
                                                    >
                                                        <b class="relative inline-block min-w-[19px]"
                                                           th:text="${accommodation.rating}"
                                                        >???</b
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                    class="flex flex-col items-start justify-start text-[12.3px] text-[#707070] mq450:ml-[0px]"
                                            >
                                                <div class="relative font-medium inline-block min-w-[56px]"
                                                     th:text="${accommodation.reviewCount + '명 평가'}"
                                                >
                                                    ???
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="self-stretch flex flex-col items-start justify-start pt-[8px] pb-[0px] pl-[12px] pr-[0px] text-right text-[12.2px] text-[#999]"
                                >
                                    <div
                                            class="self-stretch flex flex-col items-end justify-start"
                                    >
                                        <div class="flex flex-col items-end justify-start">
                                            <div class="relative font-medium inline-block min-w-[74px] whitespace-nowrap"
                                                 th:if="${accommodation.soldOut}">
                                                다른 날짜 확인
                                            </div>
                                            <div class="self-stretch flex flex-row items-end justify-start"
                                                 th:unless="${accommodation.soldOut}"
                                            >
                                                <b class="relative inline-block min-w-[80px] text-[19.2px] font-bold text-[#333]"
                                                   th:text="${accommodation.oneDayPrice}">
                                                    ???
                                                </b>
                                                <b class="relative inline-block min-w-[15px] text-[16px] font-bold text-[#333]">원</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                                class="self-stretch flex flex-row items-start justify-center pt-[40px] px-[20px] pb-[0px] text-center text-[12px] text-[#000]"
                        >
                            <div class="flex flex-col items-start justify-start">
                                <div class="flex flex-row items-center justify-center">
                                    <div
                                            class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[4px]"
                                    >
                                        <div
                                                class="w-[32px] h-[32px] rounded-[500px] flex flex-row items-center justify-center p-[8px] box-border"
                                        >
                                            <img
                                                    alt=""
                                                    class="h-[16px] w-[16px] relative"
                                                    src="/image/domestic-accommodations/svg-2.svg"
                                            />
                                        </div>
                                    </div>
                                    <div
                                            class="flex flex-col items-start justify-start py-[0px] px-[4px]"
                                    >
                                        <div
                                                class="w-[32px] h-[32px] rounded-[500px] flex flex-row items-center justify-center py-[8.5px] px-[12px] box-border"
                                        >
                                            <div
                                                    class="relative font-semibold inline-block min-w-[8px]"
                                            >
                                                6
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class="flex flex-col items-start justify-start py-[0px] px-[4px]"
                                    >
                                        <div
                                                class="w-[32px] h-[32px] rounded-[500px] flex flex-row items-center justify-center py-[8.5px] px-[12px] box-border"
                                        >
                                            <div
                                                    class="w-[8px] relative font-semibold flex items-center justify-center min-w-[8px]"
                                            >
                                                7
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class="flex flex-col items-start justify-start py-[0px] px-[4px]"
                                    >
                                        <div
                                                class="w-[32px] h-[32px] rounded-[500px] flex flex-row items-center justify-center py-[8.5px] px-[12px] box-border"
                                        >
                                            <div
                                                    class="relative font-semibold inline-block min-w-[8px]"
                                            >
                                                8
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class="flex flex-col items-start justify-start py-[0px] px-[4px]"
                                    >
                                        <div
                                                class="w-[32px] h-[32px] rounded-[500px] flex flex-row items-center justify-center py-[8.5px] px-[12px] box-border"
                                        >
                                            <div
                                                    class="relative font-semibold inline-block min-w-[8px]"
                                            >
                                                9
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class="flex flex-col items-start justify-start py-[0px] px-[4px] text-[11.6px] text-[#fff]"
                                    >
                                        <div
                                                class="w-[32px] h-[32px] rounded-[500px] bg-[#1273e4] flex flex-row items-center justify-center p-[9px] box-border"
                                        >
                                            <div
                                                    class="w-[14px] relative font-semibold flex items-center justify-center min-w-[14px]"
                                            >
                                                10
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                            class="flex flex-col items-start justify-start py-[0px] pl-[4px] pr-[0px]"
                                    >
                                        <div
                                                class="w-[32px] h-[32px] rounded-[500px] flex flex-row items-center justify-center p-[8px] box-border"
                                        >
                                            <img
                                                    alt=""
                                                    class="h-[16px] w-[16px] relative"
                                                    src="/image/domestic-accommodations/svg-3.svg"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<div class="h-full w-full fixed top-0 left-0 items-center justify-center bg-gray-800 bg-opacity-50 hidden"
     id="modal-wrap">
    <div class="bg-white w-[90%] h-[90%]" id="modal" th:include="~{/search/modal :: search_modal}"
         th:with="accommodations=${resultAccommodations}"></div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8dd30de44c81fc848e5a3aa06bcdd212"></script>
<script th:inline="javascript">
    let hCate;
    let f_idx = [];
    let resultAccommodations;
    // 전역 변수로 sliderValues를 정의합니다.
    var sliderValues = {
        start: 0,
        end: 500000
    };


    $(document).ready(function () {

        resultAccommodations = /*[[${resultAccommodations}]]*/ '[]';

        initializeSlider('main');  // 메인 슬라이더 초기화
        initializeFilters('main'); // 초기 필터 상태 설정

        let s_count = sessionStorage.getItem('count');
        if (s_count) {
            $("#person_count2").val(s_count);
        }

        // 초기 드롭다운 메뉴 설정
        $("#dropdown-filter-button").text("평점높은순");
        $("#dropdown-filter-button").val("rating");

        // 드롭다운 메뉴 클릭 핸들러
        $('#dropdown-filter .dropdown-item').on('click', function () {
            var selectedText = $(this).text();
            var selectedValue = $(this).attr('value');

            $('#dropdown-filter-button').text(selectedText);
            $('#dropdown-filter-button').val(selectedValue);
            handleFilter('main'); // 필터 변경 시 상태 저장
        });

        // 시설 필터 버튼 클릭 이벤트 핸들러
        const btns = document.querySelectorAll('[id^="f_idx"]');
        btns.forEach(btn => {
            btn.addEventListener('click', () => {
                if (btn.classList.contains('bg-gray-300')) {
                    btn.classList.remove('bg-gray-300');
                    btn.classList.remove('f_idx');
                } else {
                    btn.classList.add('bg-gray-300');
                    btn.classList.add('f_idx');
                }
                handleFilter('main'); // 필터 변경 시 상태 저장
            });
        });

        $("#keyword_value").text(sessionStorage.getItem('keyword'));
    });


    function synchronizeSliders(targetSlider) {
        targetSlider.noUiSlider.set([sliderValues.start, sliderValues.end]);
    }

    // 슬라이더 초기화 함수
    function initializeSlider(identifier) {
        var sliderElement = document.getElementById('slider-' + identifier);
        var valueElement = document.getElementById('price-range-value-' + identifier);
        var startInput = document.getElementById('slider-start-' + identifier);
        var endInput = document.getElementById('slider-end-' + identifier);

        if (sliderElement.noUiSlider) {
            sliderElement.noUiSlider.destroy();
        }

        noUiSlider.create(sliderElement, {
            start: [sliderValues.start, sliderValues.end],
            connect: true,
            range: {
                'min': 0,
                '10%': 30000,
                '20%': 50000,
                '30%': 100000,
                '50%': 200000,
                '70%': 300000,
                '90%': 400000,
                'max': 500000
            },
            snap: true // 스냅 기능 활성화
        });

        sliderElement.noUiSlider.on('update', function (values, handle) {
            sliderValues.start = parseInt(values[0]);
            sliderValues.end = parseInt(values[1]);

            if (sliderValues.end === 500000) {
                valueElement.innerText = sliderValues.start + '원 - ' + '500,000원 이상';
            } else {
                valueElement.innerText = sliderValues.start + '원 - ' + sliderValues.end + '원 미만';
            }

            startInput.value = sliderValues.start;
            endInput.value = sliderValues.end;
        });

        if (identifier === 'main') {
            sliderElement.noUiSlider.on('change', function (values, handle) {
                sliderValues.start = parseInt(values[0]);
                sliderValues.end = parseInt(values[1]);

                // Perform search only after user stops dragging the slider
                performSearch(identifier);

                // Synchronize with modal slider
                var modalSlider = document.getElementById('slider-modal');
                synchronizeSliders(modalSlider);
            });
        }

        // 초기 필터 상태 설정
        handleFilter(identifier);
    }

    // 모달 창 열기
    function showMap(resultAccommodations) {
        copyFilter('modal');

        $("#search_bar").css("display", "none");
        $("#main-filter").css("display", "none");
        $("#searchbar").css("display", "none");
        $("#modal-wrap").css("display", "flex");
        $("body").css("overflow", "hidden");
        $("footer").css("display", "none");
        loadKaKaoMap();

        initializeSlider('modal'); // 모달 슬라이더 초기화
    }

    // 모달 창 닫기
    $("#modal_close").click(function () {
        $("#search_bar").css("display", "flex");
        $("#main-filter").css("display", "flex");
        $("#modal-wrap").css("display", "none");
        $("#searchbar").css("display", "flex");
        $("body").css("overflow", "auto");
        $("footer").css("display", "flex");

        copyFilter('main');
    });

    // 메인 필터를 모달 필터로 복사
    function copyFilter(subject) {
        const facilities = JSON.parse(sessionStorage.getItem('facilities') || '[]');
        const selectedHCate = sessionStorage.getItem('hCate');
        const startPrice = sessionStorage.getItem('startPrice');
        const endPrice = sessionStorage.getItem('endPrice');

        console.log(facilities, selectedHCate, startPrice, endPrice + "되냐?");

        // 모달 필터 초기값 설정
        initializeFilters(subject, facilities, selectedHCate, startPrice, endPrice);
    }

    // 필터 초기화 함수
    function initializeFilters(identifier, facilities = null, hCate = null, startPrice = null, endPrice = null) {
        const isMain = (identifier === 'main');

        if (!facilities) {
            facilities = isMain ? JSON.parse(sessionStorage.getItem('facilities') || '[]') : [];
        }
        if (!hCate) {
            hCate = isMain ? sessionStorage.getItem('hCate') : null;
            console.log("하이" + hCate);
        }
        if (!startPrice) {
            startPrice = isMain ? sessionStorage.getItem('startPrice') : null;
        }
        if (!endPrice) {
            endPrice = isMain ? sessionStorage.getItem('endPrice') : null;
        }

        const prefix = identifier === 'modal' ? '#modal ' : '';

        // 시설 필터 초기화
        const f_idxElements = document.querySelectorAll(`${prefix}button[name="f_idx"]`);
        f_idxElements.forEach(elem => {
            elem.classList.remove('bg-gray-300');
        });

        // 숙소 유형 필터 초기화
        const hCateElements = document.querySelectorAll(`${prefix}input[name="hCate"]`);
        hCateElements.forEach(elem => {
            elem.checked = false;
        });

        // 시설 필터 설정
        if (Array.isArray(facilities)) {
            facilities.forEach(facility => {
                const element = document.querySelector(`${prefix}button[name="f_idx"][value="${facility}"]`);
                if (element) {
                    element.classList.add('bg-gray-300');
                }
            });
        }

        // 카테고리 필터 설정
        if (hCate) {
            const hCateElement = document.querySelector(`${prefix}input[name="hCate"][value="${hCate}"]`);
            console.log(hCateElement);
            if (hCateElement) {
                hCateElement.checked = true;
            }
        } else if (isMain) {
            const defaultAllElement = document.querySelector(`${prefix}input[name="hCate"][value="all"]`);
            if (defaultAllElement) {
                defaultAllElement.checked = true;
            }
        }

        // 가격 필터 설정
        if (startPrice) {
            const startPriceElement = document.querySelector(`${prefix}#slider-start-${identifier}`);
            if (startPriceElement) {
                startPriceElement.value = startPrice;
            }
        }

        if (endPrice) {
            const endPriceElement = document.querySelector(`${prefix}#slider-end-${identifier}`);
            if (endPriceElement) {
                endPriceElement.value = endPrice;
            }
        }
    }

    function handleFilter(identifier) {
        console.log(identifier);
        const isMain = (identifier === 'main');
        const prefix = isMain ? '' : '#modal '; // 모달 창에서만 사용되는 접두사

        const f_idxElements = document.querySelectorAll(`${prefix}.f_idx`);
        const facilities = Array.from(f_idxElements, elem => elem.value);

        const hCateElement = document.querySelector(`${prefix}input[name="hCate"]:checked`);
        let hCate = hCateElement ? hCateElement.value : (isMain ? "all" : null);

        let startPriceElement = document.getElementById(`slider-start-${identifier}`);
        let endPriceElement = document.getElementById(`slider-end-${identifier}`);
        let startPrice = startPriceElement ? startPriceElement.value : null;
        let endPrice = endPriceElement ? endPriceElement.value : null;

        let keyword = sessionStorage.getItem('keyword');
        let startDay = sessionStorage.getItem('startDate');
        let endDay = sessionStorage.getItem('endDate');
        let person = sessionStorage.getItem('people');

        let filter = document.getElementById('dropdown-filter-button').value;

        console.log(facilities, hCate, startPrice, endPrice, keyword, startDay, endDay, filter);

        // 필터 상태를 세션 스토리지에 저장 (메인 페이지에서만)
        if (isMain) {
            sessionStorage.setItem('facilities', JSON.stringify(facilities));
            sessionStorage.setItem('hCate', hCate);
            sessionStorage.setItem('startPrice', startPrice);
            sessionStorage.setItem('endPrice', endPrice);
        }

        //iso-8601 형식으로 변환
        if (startDay) {
            startDay = new Date(startDay).toISOString();
        }
        if (endDay) {
            endDay = new Date(endDay).toISOString();
        }

        console.log(facilities, hCate, startPrice, endPrice, keyword, startDay, endDay, filter, person + "되냐?");
    }

    // 검색 실행 함수
    function performSearch(identifier) {
        handleFilter(identifier);
        const facilities = JSON.parse(sessionStorage.getItem('facilities'));
        const hCate = sessionStorage.getItem('hCate');
        const startPrice = sessionStorage.getItem('startPrice');
        const endPrice = sessionStorage.getItem('endPrice');
        const keyword = sessionStorage.getItem('keyword');
        let startDay = sessionStorage.getItem('startDate');
        let endDay = sessionStorage.getItem('endDate');
        const person = sessionStorage.getItem('people');
        const filter = document.getElementById('dropdown-filter-button').value;

        //iso-8601 형식으로 변환
        if (startDay) {
            startDay = new Date(startDay).toISOString();
        }
        if (endDay) {
            endDay = new Date(endDay).toISOString();
        }

        console.log(facilities, hCate, startPrice, endPrice, keyword, startDay, endDay, filter, person + "실행되냐?");

        $.ajax({
            type: "post",
            url: "/search/filtering",
            contentType: "application/json; charset=utf-8",  // JSON 형식으로 전송
            data: JSON.stringify({
                facilities: facilities,
                hCate: hCate,
                startPrice: startPrice,
                endPrice: endPrice,
                person: person,
                keyword: keyword,
                startEndDay: {
                    start: startDay,
                    end: endDay
                },
                filter: filter
            }),
            success: function (data) {
                console.log(data);
            }
        });
    }

    // 카카오맵 로드
    function loadKaKaoMap() {
        initKaKaoMap();
        addMarkersTooMuch();
    }

    let map;
    let markers = [];
    let clickedMarkerId = null; // 클릭된 마커 ID 보관 변수

    function initKaKaoMap() {
        var container = document.getElementById('map');
        let options = {
            center: new kakao.maps.LatLng(37.5665, 126.9780),
            level: 7
        };
        map = new kakao.maps.Map(container, options);
    }

    function addMarkersTooMuch() {
        removeMarkers(); // 이전의 마커를 제거합니다.

        var bounds = new kakao.maps.LatLngBounds();

        resultAccommodations.forEach((accommodation, index) => {
            console.log(accommodation.rating);
            let position = new kakao.maps.LatLng(parseFloat(accommodation.yaxis), parseFloat(accommodation.xaxis));
            bounds.extend(position);

            let priceInfo = accommodation.oneDayPrice ? `${accommodation.oneDayPrice}원` : '다른 날짜 확인';

            // 커스텀 마커 HTML 문자열
            let markerContent = `
        <div class="group relative flex justify-center items-center custom-marker">
            <span id="marker-${accommodation.hidx}" class="balloon block max-w-xs bg-gray-400 text-white rounded p-2 text-center transition-colors">
                ${priceInfo}
            </span>
            <div class="custom-arrow absolute bottom-[-8px] left-1/2 transform -translate-x-1/2 w-0 h-0 border-t-8 border-t-gray-400 border-r-8 border-r-transparent border-l-8 border-l-transparent"></div>
        </div>
    `;
            console.log(`Marker content: ${markerContent}`);

            // 커스텀 인포 윈도우 내용 생성
            let infowindowContent = document.createElement('div');
            infowindowContent.className = 'bg-[#fff] overflow-hidden flex flex-row items-start justify-start w-[324px] h-[173px] p-[14px] box-border rounded-[20px] shadow-lg';

            infowindowContent.innerHTML = `
    <img class="self-stretch w-[116px] relative h-full object-cover rounded-[20px]" loading="lazy" alt="" src="${accommodation.img_url}"/>
    <div class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[35px] h-[146px]">
        <div class="self-stretch flex flex-row items-start justify-start pt-[5px] pl-[20px] pr-[0px]">
            <div class="flex-1 flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[4px] mq450:flex-1">
                <div class="self-stretch flex flex-col items-start justify-start gap-[4px]">
                    <div class="self-stretch flex flex-col items-start justify-start gap-[2px]">
                        <div class="self-stretch flex flex-row items-center justify-start">
                            <div class="flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[20px]">
                                <div class="relative leading-[12.67px] font-semibold inline-block min-w-[21px]">
                                    펜션
                                </div>
                            </div>
                        </div>
                        <div class="self-stretch flex flex-col items-start justify-start text-[16.9px] text-[#333]">
                            <b class="self-stretch relative">${accommodation.hname}</b>
                        </div>
                    </div>
                    <div class="self-stretch flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[102px] text-[11.6px] text-[#333]">
                        <div class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[6px]">
                            <div class="rounded-[6px] bg-[#ffad0a] flex flex-row items-center justify-center pt-[4px] pb-[3px] pl-[3px] pr-[5px]">
                                <div class="flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] w-3 h-3">
                                    <img class="w-full h-full relative" loading="lazy" alt="" src="/image/domestic-accommodations/frame.svg"/>
                                </div>
                                <div class="flex flex-col items-start justify-start">
                                    <b class="relative inline-block min-w-[19px]">${accommodation.rating.toFixed(1)}</b>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col items-start justify-start text-[12.3px] text-[#707070]">
                            <div class="relative font-medium inline-block min-w-[56px]">${accommodation.reviewcount}명 평가</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="self-stretch flex flex-col items-start justify-start pt-[8px] pb-[0px] pl-[12px] pr-[20px] text-right text-[12.2px] text-[#999]">
            <div class="self-stretch flex flex-col items-end justify-start">
                <div class="flex flex-col items-start justify-start">
                    <div class="flex flex-col items-end justify-start">
                        <div class="relative font-medium inline-block min-w-[74px] whitespace-nowrap">
                            ${priceInfo}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
`;

            let marker = new kakao.maps.CustomOverlay({
                position: position,
                content: markerContent,
                yAnchor: 1
            });

            let infowindow = new kakao.maps.CustomOverlay({
                position: new kakao.maps.LatLng(position.getLat() - 0.001, position.getLng()), // 마커 아래로 조정
                content: infowindowContent,
                yAnchor: 0,
                zIndex: 50,
                map: null // 처음엔 보이지 않도록 설정
            });

            marker.setMap(map);

            // setTimeout을 사용하여 DOM이 완전히 로드된 후 이벤트 리스너 추가
            setTimeout(() => {
                let markerElement = document.getElementById(`marker-${accommodation.hidx}`);
                if (markerElement) {

                    markerElement.addEventListener('click', function () {
                        if (clickedMarkerId === accommodation.hidx) {
                            // 이미 클릭된 마커라면 닫는다
                            infowindow.setMap(null);
                            markerElement.classList.remove('bg-red-500'); // 클릭된 상태 색상 제거
                            clickedMarkerId = null;
                        } else {
                            // 다른 마커 클릭시 열려있는 인포윈도우 닫기
                            if (clickedMarkerId !== null) {
                                let prevMarkerElement = document.getElementById(`marker-${clickedMarkerId}`);
                                if (prevMarkerElement) {
                                    prevMarkerElement.classList.remove('bg-red-500'); // 이전 클릭된 상태 색상 제거
                                    prevMarkerElement.dispatchEvent(new Event('mouseout'));
                                }
                            }
                            clickedMarkerId = accommodation.hidx;
                            markerElement.classList.add('bg-red-500'); // 클릭된 상태 색상 추가
                            infowindow.setMap(map);
                        }
                    });

                    markerElement.addEventListener('mouseover', function () {
                        if (clickedMarkerId !== accommodation.hidx) {
                            markerElement.classList.add('bg-yellow-300'); // 호버 상태 색상 추가
                            infowindow.setMap(map);
                        }
                    });

                    markerElement.addEventListener('mouseout', function () {
                        if (clickedMarkerId !== accommodation.hidx) {
                            markerElement.classList.remove('bg-yellow-300'); // 호버 상태 색상 제거
                            infowindow.setMap(null);
                        }
                    });

                    // 인포윈도우 닫기 버튼 이벤트 등록
                    let closeBtn = infowindowContent.querySelector('.close-btn');
                    if (closeBtn) {
                        closeBtn.addEventListener('click', function () {
                            infowindow.setMap(null);
                            markerElement.classList.remove('bg-red-500'); // 클릭된 상태 색상 제거
                            clickedMarkerId = null;
                        });
                    }
                }
            }, 100); // 이후 100ms 정도의 지연을 추가

            markers.push(marker);
        });

        map.setBounds(bounds);
    }

    // 마커를 제거하는 함수
    function removeMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    }
</script>
</body>
</html>
