<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
<div th:fragment="search_modal"
        class="z-50 w-[90%] h-[90%] relative rounded-[25px] bg-[#fff] overflow-hidden flex flex-col items-end justify-start gap-[2px] leading-[normal] tracking-[normal]"
>
  <header
          class="self-stretch w-full border-[#ebebeb] border-b-[2px] border-solid overflow-hidden flex flex-row items-start justify-start top-[0] z-[99] sticky"
  >
    <button id=modal_close type="button" class="overflow-hidden shrink-0 btn-close h-[60px] w-[76px] relative" aria-label="Close"></button>
  </header>
  <main
          class="h-[calc(100%-70px)] self-stretch flex flex-row items-start justify-start flex-wrap content-start py-[0px] pl-[20px] pr-[0px] box-border [row-gap:20px] w-full text-left text-[15.1px] text-[#333] font-[Inter]"
  >
    <!--필터 인클루드 -->
    <div th:insert="~{component/search/searchfilter :: filterbar('modal')}"
         class="w-[24%] max-w-[288px] h-full overflow-y-auto flex flex-col items-start justify-start pt-[2px] pb-[0px] pl-[0px] pr-[10px] box-border overflow-hidden text-ellipsis whitespace-nowrap">
    </div>

  <!----------------님들아 뭐함 -------------->
    <div
            class="overflow-y-auto max-w-[375px] w-[28%]  h-full flex flex-col items-start justify-start pt-[2px] px-[0px] pb-[0px] box-border text-[10.3px] text-[#707070] overflow-hidden text-ellipsis whitespace-nowrap"
    >
      <div
              class="self-stretch overflow-y-auto shrink-0 flex flex-row items-start justify-start max-w-full mq450:h-auto"
      >
        <div
                class="flex-1 overflow-hidden flex flex-col items-start justify-start pt-[22px] pl-[27px] pr-[8px] box-border max-w-full lg:pt-[20px] lg:box-border mq750:pb-[304px] mq750:box-border"
        >
          <b
                  class="w-[320px] relative text-[12.2px] flex font-[Roboto] text-[#999] items-center z-[1]"
          >‘강원 강릉시’ 숙소 검색 결과</b
          >
          <div
                  class="self-stretch bg-[#fff] overflow-hidden flex flex-row items-start justify-start py-[20px] px-[0px] [row-gap:20px] mq450:flex-wrap"
          >
            <img
                    class="self-stretch w-[115px] relative max-h-full object-cover min-h-[172px] mq450:flex-1"
                    loading="lazy"
                    alt=""
                    src="/image/domestic-accommodations/cardimg@2x.png"
            />

            <div
                    class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[86px] min-w-[146px]"
            >
              <div
                      class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[20px] pr-[0px]"
              >
                <div
                        class="flex-1 flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[4px] mq450:flex-1"
                >
                  <div
                          class="self-stretch flex flex-col items-start justify-start gap-[4px]"
                  >
                    <div
                            class="self-stretch flex flex-col items-start justify-start gap-[2px]"
                    >
                      <div
                              class="self-stretch flex flex-row items-center justify-start"
                      >
                        <div
                                class="flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[20px]"
                        >
                          <div
                                  class="relative leading-[12.67px] font-semibold inline-block min-w-[21px]"
                          >
                            펜션
                          </div>
                        </div>
                      </div>
                      <div
                              class="self-stretch flex flex-col items-start justify-start text-[16.9px] text-[#333]"
                      >
                        <b class="self-stretch relative"
                        >강릉 라임비치 스파 펜션</b
                        >
                      </div>
                    </div>
                    <div
                            class="self-stretch flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[102px] text-[11.6px] text-[#333]"
                    >
                      <div
                              class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[6px]"
                      >
                        <div
                                class="rounded-[6px] bg-[#ffad0a] flex flex-row items-center justify-center pt-[4px] pb-[3px] pl-[3px] pr-[5px]"
                        >
                          <div
                                  class="flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] pr-[2px]"
                          >
                            <div
                                    class="overflow-hidden flex flex-col items-center justify-center"
                            >
                              <img
                                      class="w-[12px] h-[12px] relative"
                                      loading="lazy"
                                      alt=""
                                      src="/image/domestic-accommodations/frame.svg"
                              />
                            </div>
                          </div>
                          <div
                                  class="flex flex-col items-start justify-start"
                          >
                            <b class="relative inline-block min-w-[19px]"
                            >9.2</b
                            >
                          </div>
                        </div>
                      </div>
                      <div
                              class="flex flex-col items-start justify-start text-[12.3px] text-[#707070]"
                      >
                        <div
                                class="relative font-medium inline-block min-w-[56px]"
                        >
                          54명 평가
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                      class="self-stretch flex flex-col items-start justify-start pt-[8px] pb-[0px] pl-[12px] pr-[20px] text-right text-[12.2px] text-[#999]"
              >
                <div
                        class="self-stretch flex flex-col items-end justify-start"
                >
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex flex-col items-end justify-start">
                      <div
                              class="relative font-medium inline-block min-w-[74px] whitespace-nowrap"
                      >
                        다른 날짜 확인
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
                  class="self-stretch bg-[#fff] overflow-hidden flex flex-row items-start justify-start py-[20px] px-[0px] [row-gap:20px] mq450:flex-wrap"
          >
            <img
                    class="self-stretch w-[115px] relative max-h-full object-cover min-h-[172px] mq450:flex-1"
                    loading="lazy"
                    alt=""
                    src="/image/domestic-accommodations/cardimg@2x.png"
            />

            <div
                    class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[86px] min-w-[146px]"
            >
              <div
                      class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[20px] pr-[0px]"
              >
                <div
                        class="flex-1 flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[4px] mq450:flex-1"
                >
                  <div
                          class="self-stretch flex flex-col items-start justify-start gap-[4px]"
                  >
                    <div
                            class="self-stretch flex flex-col items-start justify-start gap-[2px]"
                    >
                      <div
                              class="self-stretch flex flex-row items-center justify-start"
                      >
                        <div
                                class="flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[20px]"
                        >
                          <div
                                  class="relative leading-[12.67px] font-semibold inline-block min-w-[21px]"
                          >
                            펜션
                          </div>
                        </div>
                      </div>
                      <div
                              class="self-stretch flex flex-col items-start justify-start text-[16.9px] text-[#333]"
                      >
                        <b class="self-stretch relative"
                        >강릉 라임비치 스파 펜션</b
                        >
                      </div>
                    </div>
                    <div
                            class="self-stretch flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[102px] text-[11.6px] text-[#333]"
                    >
                      <div
                              class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[6px]"
                      >
                        <div
                                class="rounded-[6px] bg-[#ffad0a] flex flex-row items-center justify-center pt-[4px] pb-[3px] pl-[3px] pr-[5px]"
                        >
                          <div
                                  class="flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] pr-[2px]"
                          >
                            <div
                                    class="overflow-hidden flex flex-col items-center justify-center"
                            >
                              <img
                                      class="w-[12px] h-[12px] relative"
                                      loading="lazy"
                                      alt=""
                                      src="/image/domestic-accommodations/frame.svg"
                              />
                            </div>
                          </div>
                          <div
                                  class="flex flex-col items-start justify-start"
                          >
                            <b class="relative inline-block min-w-[19px]"
                            >9.2</b
                            >
                          </div>
                        </div>
                      </div>
                      <div
                              class="flex flex-col items-start justify-start text-[12.3px] text-[#707070]"
                      >
                        <div
                                class="relative font-medium inline-block min-w-[56px]"
                        >
                          54명 평가
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                      class="self-stretch flex flex-col items-start justify-start pt-[8px] pb-[0px] pl-[12px] pr-[20px] text-right text-[12.2px] text-[#999]"
              >
                <div
                        class="self-stretch flex flex-col items-end justify-start"
                >
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex flex-col items-end justify-start">
                      <div
                              class="relative font-medium inline-block min-w-[74px] whitespace-nowrap"
                      >
                        다른 날짜 확인
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
                  class="self-stretch bg-[#fff] overflow-hidden flex flex-row items-start justify-start py-[20px] px-[0px] [row-gap:20px] mq450:flex-wrap"
          >
            <img
                    class="self-stretch w-[115px] relative max-h-full object-cover min-h-[172px] mq450:flex-1"
                    loading="lazy"
                    alt=""
                    src="/image/domestic-accommodations/cardimg@2x.png"
            />

            <div
                    class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[86px] min-w-[146px]"
            >
              <div
                      class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[20px] pr-[0px]"
              >
                <div
                        class="flex-1 flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[4px] mq450:flex-1"
                >
                  <div
                          class="self-stretch flex flex-col items-start justify-start gap-[4px]"
                  >
                    <div
                            class="self-stretch flex flex-col items-start justify-start gap-[2px]"
                    >
                      <div
                              class="self-stretch flex flex-row items-center justify-start"
                      >
                        <div
                                class="flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[20px]"
                        >
                          <div
                                  class="relative leading-[12.67px] font-semibold inline-block min-w-[21px]"
                          >
                            펜션
                          </div>
                        </div>
                      </div>
                      <div
                              class="self-stretch flex flex-col items-start justify-start text-[16.9px] text-[#333]"
                      >
                        <b class="self-stretch relative"
                        >강릉 라임비치 스파 펜션</b
                        >
                      </div>
                    </div>
                    <div
                            class="self-stretch flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[102px] text-[11.6px] text-[#333]"
                    >
                      <div
                              class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[6px]"
                      >
                        <div
                                class="rounded-[6px] bg-[#ffad0a] flex flex-row items-center justify-center pt-[4px] pb-[3px] pl-[3px] pr-[5px]"
                        >
                          <div
                                  class="flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] pr-[2px]"
                          >
                            <div
                                    class="overflow-hidden flex flex-col items-center justify-center"
                            >
                              <img
                                      class="w-[12px] h-[12px] relative"
                                      loading="lazy"
                                      alt=""
                                      src="/image/domestic-accommodations/frame.svg"
                              />
                            </div>
                          </div>
                          <div
                                  class="flex flex-col items-start justify-start"
                          >
                            <b class="relative inline-block min-w-[19px]"
                            >9.2</b
                            >
                          </div>
                        </div>
                      </div>
                      <div
                              class="flex flex-col items-start justify-start text-[12.3px] text-[#707070]"
                      >
                        <div
                                class="relative font-medium inline-block min-w-[56px]"
                        >
                          54명 평가
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                      class="self-stretch flex flex-col items-start justify-start pt-[8px] pb-[0px] pl-[12px] pr-[20px] text-right text-[12.2px] text-[#999]"
              >
                <div
                        class="self-stretch flex flex-col items-end justify-start"
                >
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex flex-col items-end justify-start">
                      <div
                              class="relative font-medium inline-block min-w-[74px] whitespace-nowrap"
                      >
                        다른 날짜 확인
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
                  class="self-stretch bg-[#fff] overflow-hidden flex flex-row items-start justify-start py-[20px] px-[0px] [row-gap:20px] mq450:flex-wrap"
          >
            <img
                    class="self-stretch w-[115px] relative max-h-full object-cover min-h-[172px] mq450:flex-1"
                    loading="lazy"
                    alt=""
                    src="/image/domestic-accommodations/cardimg@2x.png"
            />

            <div
                    class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[86px] min-w-[146px]"
            >
              <div
                      class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[20px] pr-[0px]"
              >
                <div
                        class="flex-1 flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[4px] mq450:flex-1"
                >
                  <div
                          class="self-stretch flex flex-col items-start justify-start gap-[4px]"
                  >
                    <div
                            class="self-stretch flex flex-col items-start justify-start gap-[2px]"
                    >
                      <div
                              class="self-stretch flex flex-row items-center justify-start"
                      >
                        <div
                                class="flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[20px]"
                        >
                          <div
                                  class="relative leading-[12.67px] font-semibold inline-block min-w-[21px]"
                          >
                            펜션
                          </div>
                        </div>
                      </div>
                      <div
                              class="self-stretch flex flex-col items-start justify-start text-[16.9px] text-[#333]"
                      >
                        <b class="self-stretch relative"
                        >강릉 라임비치 스파 펜션</b
                        >
                      </div>
                    </div>
                    <div
                            class="self-stretch flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[102px] text-[11.6px] text-[#333]"
                    >
                      <div
                              class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[6px]"
                      >
                        <div
                                class="rounded-[6px] bg-[#ffad0a] flex flex-row items-center justify-center pt-[4px] pb-[3px] pl-[3px] pr-[5px]"
                        >
                          <div
                                  class="flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] pr-[2px]"
                          >
                            <div
                                    class="overflow-hidden flex flex-col items-center justify-center"
                            >
                              <img
                                      class="w-[12px] h-[12px] relative"
                                      loading="lazy"
                                      alt=""
                                      src="/image/domestic-accommodations/frame.svg"
                              />
                            </div>
                          </div>
                          <div
                                  class="flex flex-col items-start justify-start"
                          >
                            <b class="relative inline-block min-w-[19px]"
                            >9.2</b
                            >
                          </div>
                        </div>
                      </div>
                      <div
                              class="flex flex-col items-start justify-start text-[12.3px] text-[#707070]"
                      >
                        <div
                                class="relative font-medium inline-block min-w-[56px]"
                        >
                          54명 평가
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                      class="self-stretch flex flex-col items-start justify-start pt-[8px] pb-[0px] pl-[12px] pr-[20px] text-right text-[12.2px] text-[#999]"
              >
                <div
                        class="self-stretch flex flex-col items-end justify-start"
                >
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex flex-col items-end justify-start">
                      <div
                              class="relative font-medium inline-block min-w-[74px] whitespace-nowrap"
                      >
                        다른 날짜 확인
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
                  class="self-stretch bg-[#fff] overflow-hidden flex flex-row items-start justify-start py-[20px] px-[0px] [row-gap:20px] mq450:flex-wrap"
          >
            <img
                    class="self-stretch w-[115px] relative max-h-full object-cover min-h-[172px] mq450:flex-1"
                    loading="lazy"
                    alt=""
                    src="/image/domestic-accommodations/cardimg@2x.png"
            />

            <div
                    class="flex-1 overflow-hidden flex flex-col items-start justify-start gap-[86px] min-w-[146px]"
            >
              <div
                      class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[20px] pr-[0px]"
              >
                <div
                        class="flex-1 flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[4px] mq450:flex-1"
                >
                  <div
                          class="self-stretch flex flex-col items-start justify-start gap-[4px]"
                  >
                    <div
                            class="self-stretch flex flex-col items-start justify-start gap-[2px]"
                    >
                      <div
                              class="self-stretch flex flex-row items-center justify-start"
                      >
                        <div
                                class="flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[20px]"
                        >
                          <div
                                  class="relative leading-[12.67px] font-semibold inline-block min-w-[21px]"
                          >
                            펜션
                          </div>
                        </div>
                      </div>
                      <div
                              class="self-stretch flex flex-col items-start justify-start text-[16.9px] text-[#333]"
                      >
                        <b class="self-stretch relative"
                        >강릉 라임비치 스파 펜션</b
                        >
                      </div>
                    </div>
                    <div
                            class="self-stretch flex flex-row items-center justify-start py-[0px] pl-[0px] pr-[102px] text-[11.6px] text-[#333]"
                    >
                      <div
                              class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[6px]"
                      >
                        <div
                                class="rounded-[6px] bg-[#ffad0a] flex flex-row items-center justify-center pt-[4px] pb-[3px] pl-[3px] pr-[5px]"
                        >
                          <div
                                  class="flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] pr-[2px]"
                          >
                            <div
                                    class="overflow-hidden flex flex-col items-center justify-center"
                            >
                              <img
                                      class="w-[12px] h-[12px] relative"
                                      loading="lazy"
                                      alt=""
                                      src="/image/domestic-accommodations/frame.svg"
                              />
                            </div>
                          </div>
                          <div
                                  class="flex flex-col items-start justify-start"
                          >
                            <b class="relative inline-block min-w-[19px]"
                            >9.2</b
                            >
                          </div>
                        </div>
                      </div>
                      <div
                              class="flex flex-col items-start justify-start text-[12.3px] text-[#707070]"
                      >
                        <div
                                class="relative font-medium inline-block min-w-[56px]"
                        >
                          54명 평가
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                      class="self-stretch flex flex-col items-start justify-start pt-[8px] pb-[0px] pl-[12px] pr-[20px] text-right text-[12.2px] text-[#999]"
              >
                <div
                        class="self-stretch flex flex-col items-end justify-start"
                >
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex flex-col items-end justify-start">
                      <div
                              class="relative font-medium inline-block min-w-[74px] whitespace-nowrap"
                      >
                        다른 날짜 확인
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="tmap"
            class="h-[calc(100% - 70px)] relative overflow-hidden max-w-full whitespace-nowrap flex-1 flex flex-wrap "
    >
    </section>
  </main>
</div>
</body>
</html>
