<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
  layout:fragment="main"
>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <meta charset="utf-8" />
  </head>
  <body>
    <section
      class="flex-1 bg-[#fff] flex flex-row items-start justify-center pt-[74px] px-[352px] pb-[86px] box-border gap-[67px] max-w-full text-left text-[13.2px] text-[#c7c2c2] font-[Roboto] mq1800:flex-wrap mq925:gap-[17px] mq925:pt-[48px] mq925:px-[88px] mq925:pb-[56px] mq925:box-border mq1350:gap-[33px] mq1350:pl-[176px] mq1350:pr-[176px] mq1350:box-border"
    >
      <div
        class="m-[0px] w-[600px] flex flex-col items-start justify-start gap-[27.5px] min-w-[600px] max-w-full mq1800:flex-1 mq1800:min-w-full"
      >
        <div
          class="w-[700px] flex flex-col items-start justify-start pt-0 px-0 pb-[22px] box-border min-w-[340px] max-w-full mq1800:flex-1 mq1350:min-w-full"
        >
          <div
            class="w-[211.8px] flex flex-row items-start justify-start py-[0px] pl-[0px] pr-[20px] box-border gap-[10px] mb-[40px]"
          >
            <div
              class="flex flex-col items-start justify-start pt-[2.5px] px-[0px] pb-[0px]"
            >
              <img
                class="w-[20px] h-[20px] relative shrink-0"
                loading="lazy"
                alt=""
                src="/image/reservation/svg.svg"
              />
            </div>
            <div
              class="h-[25px] flex-1 overflow-hidden flex flex-row items-start justify-center shrink-0"
            >
              <b
                class="reservation-details-title [text-decoration:none] flex-1 relative leading-[30px] font-bold text-[24px] shrink-0 mq450:text-[22px] mq450:leading-[28px] text-black"
              >
                예약 및 결제
              </b>
            </div>
          </div>
          <div
            class="w-[211.8px] flex flex-row items-start justify-start pl-[0px] pr-[0px] box-border gap-[10px]"
          ></div>
          <div
            class="flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[7px] mb-[10px]"
          >
            <b
              class="relative text-[16.9px] leading-[21px] inline-block font-[Roboto] text-[#333] text-left min-w-[82.1px] whitespace-nowrap"
              >예약자 정보</b
            >
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[15px] max-w-full"
          >
            <div
              class="w-[300px] flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[5px] box-border gap-[4px] max-w-full mt-[10px]"
            >
              <div
                class="relative text-[12.2px] leading-[16px] font-semibold font-[Roboto] text-[#333] text-left inline-block min-w-[59.5px] whitespace-nowrap"
              >
                예약자 이름
              </div>
              <div
                class="self-stretch rounded-[8px] bg-[#f5f5f5] border-[#f5f5f5] border-[1px] border-solid flex flex-row items-start justify-start py-[13px] px-[19px]"
              >
                <input
                  class="w-[300px] [border:none] [outline:none] font-[Roboto] text-[15px] bg-[transparent] h-[19px] relative text-black text-left flex items-center p-[0px]"
                  placeholder="홍길동"
                  type="text"
                  id="reserver_name"
                />
              </div>
            </div>
            <div
              class="w-[339px] flex flex-col items-start justify-start gap-[4px] max-w-full mb-[20px]"
            >
              <div
                class="w-[59.5px] relative text-[12.2px] leading-[16px] font-semibold font-[Roboto] text-[#333] text-left flex items-center"
              >
                이메일
              </div>
              <div
                class="self-stretch flex flex-row items-start justify-start gap-[4px] mq450:flex-wrap"
              >
                <div
                  class="flex-1 rounded-[8px] bg-[#f5f5f5] border-[#f5f5f5] border-[1px] border-solid box-border flex flex-row items-start justify-start pt-[12px] px-[19px] pb-[9px] min-w-[300px] mq450:flex-wrap"
                >
                  <div
                    class="w-[230px] overflow-hidden shrink-0 flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[4px] box-border"
                  >
                    <input
                      class="w-full bg-[#f5f5f5] relative text-[16px] font-[Roboto] text-black text-left flex items-center shrink-0 whitespace-nowrap focus:outline-none focus:border-none"
                      placeholder="xxx@xx.com"
                      type="email"
                      id="reserver_email"
                    />

                    <div
                      class="h-[17px] w-[36px] relative overflow-hidden shrink-0 hidden"
                    ></div>
                  </div>
                  <div
                    class="flex flex-col items-start justify-start pt-[7px] px-[0px] pb-[0px] ml-[-2px] mq450:ml-[0px]"
                  >
                    <div
                      id="timer"
                      class="h-[9px] relative text-[12px] font-[Roboto] text-[#f5455c] text-left flex items-center shrink-0 min-w-[34px] whitespace-nowrap z-[1]"
                    >
                      03:00
                    </div>
                  </div>
                </div>
                <button
                  onclick="sendEmail()"
                  class="w-[150px] rounded-[10px] bg-[#fff] border-[#ebebeb] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[13px] pl-[3px] pr-[2px] whitespace-nowrap"
                >
                  <div
                    id="emailText"
                    class="w-full relative text-[13px] leading-[19px] font-semibold font-[Roboto] text-[#333] text-center flex items-center justify-center shrink-0"
                  >
                    인증번호 전송
                  </div>
                </button>
              </div>
              <div id="authPlace" style="display: none">
                <div
                  class="w-[300px] flex flex-col items-start justify-start gap-[4px] max-w-full mt-[10px]"
                >
                  <div
                    class="self-stretch rounded-[8px] bg-[#f5f5f5] border-[#f5f5f5] border-[1px] border-solid flex flex-row items-start justify-start py-[13px] px-[19px]"
                  >
                    <input
                      class="w-[300px] [border:none] [outline:none] font-[Roboto] text-[15px] bg-[transparent] h-[19px] relative text-black text-left flex items-center p-[0px]"
                      placeholder="인증번호 입력"
                      type="text"
                      id="verification_code"
                    />
                  </div>
                </div>

                <button
                  id="authBtn"
                  onclick="verifyCode()"
                  class="w-[150px] rounded-[10px] bg-[#fff] border-[#ebebeb] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[13px] pl-[3px] pr-[2px] whitespace-nowrap mt-[10px]"
                >
                  <div
                    id="verificationText"
                    class="w-full relative text-[13px] leading-[19px] font-semibold font-[Roboto] text-[#333] text-center flex items-center justify-center shrink-0"
                  >
                    인증번호 확인
                  </div>
                </button>
              </div>
              <a
                id="noEmail"
                class="relative text-[11.3px] leading-[16px] font-[Roboto] text-[#292828] text-left whitespace-nowrap"
              >
                이메일을 받지 못하셨나요?
              </a>
            </div>
            <div class="self-stretch h-[1px] relative bg-[#f5f5f5]"></div>
          </div>
   
          <div id="noLogin" class="bg-gradient-to-r from-blue-500 to-purple-500 text-white py-3 px-4 rounded-lg shadow-lg flex items-center justify-between w-full mb-6">
            <div class="flex items-center space-x-3">
              <svg class="h-5 w-5 text-white opacity-80"><!-- Paintbrush icon --></svg>
              <span class="text-sm font-semibold tracking-wide">로그인 하시면 할인 쿠폰을 이용할 수 있습니다.</span>
            </div>
            <svg class="h-5 w-5 text-white opacity-80"><!-- ChevronRight icon --></svg>
          </div>

          <div id="login">
          <b
          class="relative text-[16.9px] leading-[21px] inline-block font-[Roboto] text-[#333] text-left min-w-[66.6px] whitespace-nowrap mb-[10px]"
          >할인 적용</b>
          <div
            class="w-[339px] flex flex-col items-start justify-start gap-[4px] max-w-full mb-[20px]"
          >
            <div
              class="relative text-[12.2px] leading-[16px] font-semibold font-[Roboto] text-[#333] text-left flex items-center"
            >
              쿠폰
            </div>
            <div
              class="self-stretch flex flex-row items-start justify-start gap-[4px]"
            >
              <div
                class="flex-1 rounded-[8px] bg-[#f5f5f5] border-[#f5f5f5] border-[1px] border-solid box-border flex items-start justify-start pt-[12px] px-[19px] pb-[9px] min-w-[300px]"
              >
                <input
                  class="w-full bg-[#f5f5f5] relative text-[16px] font-[Roboto] text-black text-left flex items-center shrink-0 whitespace-nowrap focus:outline-none focus:border-none"
                  placeholder="쿠폰"
                  type="text"
                  id="coupon_input"
                />
              </div>
              <button
                id="couponButton"
                class="open-modal w-[150px] rounded-[10px] bg-[#fff] border-[#ebebeb] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[13px] pl-[3px] pr-[2px] whitespace-nowrap"
              >
                <div
                  class="text-[13px] leading-[19px] font-semibold font-[Roboto] text-[#333] text-center shrink-0"
                >
                  쿠폰 조회
                </div>
              </button>

              <div
                class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-[9999] hidden"
                id="couponModal"
              >
                <!-- Modal Content -->
                <div
                  class="bg-white rounded-lg p-5 flex flex-col"
                  style="width: 380px; height: 500px"
                >
                  <!-- Modal Header -->
                  <div class="flex justify-between items-center border-b pb-3">
                    <h2 class="text-lg font-semibold text-black">쿠폰 적용</h2>
                    <button
                      class="text-gray-500 hover:text-gray-800 close-modal"
                    >
                      <i class="fas fa-times"></i>
                      <!-- 아이콘은 FontAwesome 필요 -->
                    </button>
                  </div>

                  <!-- Coupon List -->
                  <div
                    class="mt-4 flex-1 overflow-y-auto"
                    style="max-height: 300px"
                  >
                    <h3 class="font-semibold mb-2 text-black">일반 쿠폰</h3>
                    <div class="border rounded-md mb-1">
                      <!-- No Coupon Option -->
                      <label class="flex items-center p-3 border-b text-black">
                        <input
                          type="radio"
                          name="coupon"
                          class="mr-2 text-blue-600"
                          value=""
                          checked
                        />
                        적용안함
                      </label>
                    </div>
                    <div id="modal"></div>
                  </div>

                  <!-- Apply Button -->
                  <div class="mt-5">
                    <button
                      id="couponBtn"
                      class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition"
                    >
                      적용하기
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="w-[339px] flex flex-col items-start justify-start gap-[4px] max-w-full mb-[20px]"
          >
            <div
              class="relative text-[12.2px] leading-[16px] font-semibold font-[Roboto] text-[#333] text-left inline-flex items-center"
            >
              <span>포인트</span>
            </div>
            <div
              class="self-stretch flex flex-row items-start justify-start gap-[4px]"
            >
              <div
                class="flex-1 rounded-[8px] bg-[#f5f5f5] border-[#f5f5f5] border-[1px] border-solid box-border flex items-start justify-start pt-[12px] px-[19px] pb-[9px] min-w-[300px]"
              >
                <input
                  class="w-full bg-[#f5f5f5] relative text-[16px] font-[Roboto] text-black text-left flex items-center shrink-0 whitespace-nowrap focus:outline-none focus:border-none"
                  placeholder="포인트"
                  type="text"
                  id="point_input"
                  readonly
                />
              </div>
              <button
                id="openPointModal"
                class="w-[150px] rounded-[10px] bg-[#fff] border-[#ebebeb] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[13px] pl-[3px] pr-[2px] whitespace-nowrap"
              >
                <div
                  class="text-[13px] leading-[19px] font-semibold font-[Roboto] text-[#333] text-center shrink-0"
                >
                  잔액 확인
                </div>
              </button>

              <!-- 포인트 모달-->
              <div
                id="pointModal"
                class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center hidden z-50"
              >
                <div class="bg-white rounded-lg shadow-lg max-w-md w-full">
                  <div class="p-6">
                    <!-- 타이틀 -->
                    <div class="flex items-center justify-between mb-4">
                      <h2 class="text-2xl font-bold text-gray-800">
                        포인트 잔액 및 적립 내역
                      </h2>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        class="w-6 h-6 text-gray-400"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 4.75L12 12m0 0l-7 7m7-7h7"
                        />
                      </svg>
                    </div>

                    <!-- 설명 -->
                    <p class="text-gray-500 mb-4">
                      현재 사용 가능한 포인트는 다음과 같습니다.
                    </p>

                    <!-- 잔여 포인트 -->
                    <div class="mb-4">
                      <p
                        class="text-gray-800 font-bold text-3xl"
                        id="totalPoints"
                      >
                        1,650 P
                      </p>
                    </div>

                    <!-- 포인트 사용 입력 -->
                    <div class="mb-6">
                      <label
                        for="usePoints"
                        class="block text-lg font-semibold text-gray-700 mb-2"
                      >
                        사용할 포인트 입력
                      </label>
                      <input
                        type="number"
                        id="usePoints"
                        class="w-full border border-gray-300 rounded-lg p-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        placeholder="0"
                        value=""
                      />
                    </div>

                    <!-- 포인트 적립 내역 -->
                    <div class="mb-6">
                      <h3
                        class="text-lg font-semibold text-gray-700 mb-2 border-b pb-2"
                      >
                        포인트 적립 내역
                      </h3>
                      <div class="overflow-y-auto h-[275px]">
                        <ul class="space-y-3" id="pointList">
                          <!-- 동적으로 추가될 포인트 적립 내역 -->
                        </ul>
                      </div>
                    </div>

                    <!-- 하단 버튼 -->
                    <div class="flex justify-end space-x-3">
                      <button
                        id="closePointModal"
                        class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded"
                      >
                        닫기
                      </button>
                      <button
                        id="usePointBtn"
                        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
                      >
                        포인트 사용
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="mt-6 w-[550px]">
            <h3 class="text-lg font-semibold mb-3 flex items-center text-blue-600">
              예약 안내
            </h3>
            <ul class="space-y-3 text-sm text-gray-700">
              <li class="flex items-start">
                <img src="/image/reservation/imageTime.png" class="w-5 h-5 mr-2 text-blue-500" alt="img" loading="lazy"></img>
                <div>
                  <span class="font-semibold">체크인/아웃:</span><br>
                  체크인: 오후 3시 이후<br>
                  체크아웃: 오전 11시까지
                </div>
              </li>
              <li class="flex items-start">
                <img src="/image/reservation/imageCar.png" class="w-5 h-5 mr-2 text-blue-500" alt="img" loading="lazy"><!-- Car icon --></img>
                <div>
                  <span class="font-semibold">주차:</span><br>
                  무료 주차 가능 (사전 예약 필요)
                </div>
              </li>
              <li class="flex items-start">
                <img src="/image/reservation/imageStop.png" class="w-5 h-5 mr-2 text-blue-500" alt="img" loading="lazy"><!-- Cancel icon --></img>
                <div>
                  <span class="font-semibold">취소 정책:</span><br>
                  체크인 3일 전까지 무료 취소 가능
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>



      <div
        class="w-[340px] flex flex-col items-start justify-end pt-[0px] px-[0px] pb-[22px] box-border min-w-[340px] max-w-full mq1800:flex-1 mq1350:min-w-full"
      >
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[15px]"
        >
          <div
            class="self-stretch rounded-[12px] border-[#333] border-[1px] border-solid flex flex-col items-start justify-start pt-[19px] px-[15px] pb-[20px] gap-[6px]"
          >
            <div
              class="self-stretch h-[144px] overflow-hidden shrink-0 flex flex-row items-start justify-start pt-[11px] px-[7px] pb-[13px] box-border"
            >
              <img
                alt="image"
                th:src="${img}"
                class="self-stretch flex-1 relative rounded-[8px] bg-[#f5f7fa]"
              ></img>
            </div>
            <div
              class="w-[256px] flex flex-row items-start justify-start py-[0px] px-[10px] box-border"
            >
              <div
                class="flex-1 flex flex-row items-start justify-start gap-[10px] mq450:flex-wrap"
              >
                <div
                  class="w-[60px] flex flex-col items-start justify-start gap-[20px] min-w-[60px] mq450:flex-1"
                >
                  <b class="relative leading-[20px] inline-block min-w-[27px]"
                    >객실</b
                  >
                  <b
                    class="w-[31px] h-[25px] relative leading-[20px] flex items-center shrink-0"
                    >일정</b
                  >
                  <div
                    class="self-stretch flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[5px]"
                  >
                    <b class="flex-1 relative leading-[15px]">기준인원</b>
                  </div>
                </div>
                <div
                  class="flex-1 flex flex-col items-start justify-start gap-[13px] min-w-[108px] text-[#c4c0c0]"
                >
                  <div
                    class="w-[138px] flex flex-row items-start justify-start py-[0px] px-[1px] box-border"
                  >
                    <b id="room" class="flex-1 relative leading-[20px]"
                      th:text="${room}"></b
                    >
                  </div>
                  <div
                    class="self-stretch flex flex-col items-start justify-start gap-[9px]"
                  >
                    <div class="flex items-center">
                      <b id="checkIn" class="self-stretch h-[40px] relative leading-[20px] flex items-center shrink-0"></b>
                       ~ 
                      <b id="checkOut" class="self-stretch h-[40px] relative leading-[20px] flex items-center shrink-0"></b>
                    </div>
                    <div
                      class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[1px] pr-[0px]"
                    >
                      <div
                        class="flex-1 flex flex-col items-start justify-start gap-[15px]"
                      >
                        <div class="flex items-center">
                          <b id="person" class="relative leading-[20px]">2</b>
                          <b>명</b>
                        </div>
                        <div
                          class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[2px] pr-[0px]"
                        >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch rounded-[12px] border-[#333] border-[1px] border-solid flex flex-col items-start justify-start py-[23px] pl-[25px] pr-[23px] gap-[31.8px] text-[#333] mq450:gap-[16px]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[16.1px] mt-4"
            >
              <b
                class="relative text-[16.9px] leading-[21px] inline-block min-w-[66.6px] whitespace-nowrap"
                >결제 정보</b
              >
              <div
                class="self-stretch flex flex-row items-start justify-between"
              >
                <div
                  class="w-[57px] relative leading-[20px] flex items-center shrink-0"
                >
                  객실 가격
                </div>

                <div class="flex-1 flex justify-end items-center">
                  <input
                    type="text"
                    id="nsale_price"
                    class="text-right w-full max-w-[100px] bg-white border-none outline-none px-[10px] text-[15px] leading-[24px] mq450:text-[16px] mq450:leading-[19px]"
                    placeholder="가격 입력"
                    value=""
                  />
                  <div
                    class="relative text-[15px] leading-[24px] font-semibold text-right inline-block min-w-[20px] mq450:text-[16px] mq450:leading-[19px]"
                  >
                    원
                  </div>
                </div>
              </div>

              <!-- 멤버십 할인 문구 추가 -->
              <div
                class="self-stretch flex flex-row items-start justify-between"
              >
                <div
                  class="w-[70px] relative leading-[20px] flex items-center shrink-0"
                >
                  멤버십 할인
                </div>
                <div class="flex-1 flex justify-end items-center">
                  <input
                    type="text"
                    id="membership_discount"
                    class="text-right w-full max-w-[100px] bg-white border-none outline-none px-[10px] text-[15px] leading-[24px] text-[#388e3c] mq450:text-[16px] mq450:leading-[19px]"
                    value="0"
                    readonly
                  />
                  <div
                    class="relative text-[15px] leading-[24px] font-semibold text-right inline-block min-w-[20px] mq450:text-[16px] mq450:leading-[19px]"
                  >
                    원
                  </div>
                </div>
              </div>

              <!-- 쿠폰 할인 -->
              <div
                class="self-stretch flex flex-row items-start justify-between"
              >
                <div
                  class="w-[70px] relative leading-[20px] flex items-center shrink-0"
                >
                  쿠폰 할인
                </div>
                <div class="flex-1 flex justify-end items-center">
                  <input
                    type="text"
                    id="coupon_discount"
                    class="text-right w-full max-w-[100px] bg-white border-none outline-none px-[10px] text-[15px] leading-[24px] text-[#388e3c] mq450:text-[16px] mq450:leading-[19px]"
                    value="0"
                    readonly
                  />
                  <div
                    class="relative text-[15px] leading-[24px] font-semibold text-right inline-block min-w-[20px] mq450:text-[16px] mq450:leading-[19px]"
                  >
                    원
                  </div>
                </div>
              </div>

              <!-- 포인트 할인 -->
              <div
                class="self-stretch flex flex-row items-start justify-between"
              >
                <div
                  class="w-[70px] relative leading-[20px] flex items-center shrink-0"
                >
                  포인트 할인
                </div>
                <div class="flex-1 flex justify-end items-center">
                  <input
                    type="text"
                    id="point_discount"
                    class="text-right w-full max-w-[100px] bg-white border-none outline-none px-[10px] text-[15px] leading-[24px] text-[#388e3c] mq450:text-[16px] mq450:leading-[19px]"
                    value="0"
                    readonly
                  />
                  <div
                    class="relative text-[15px] leading-[24px] font-semibold text-right inline-block min-w-[20px] mq450:text-[16px] mq450:leading-[19px]"
                  >
                    원
                  </div>
                </div>
              </div>

              <div class="self-stretch h-[1px] relative bg-[#ebebeb]"></div>
              <div
                class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[3px] pr-[0px]"
              >
                <div
                  class="flex-1 flex flex-row items-start justify-between mq450:flex-wrap"
                >
                  <div
                    class="flex flex-col items-start justify-start pt-[2px] px-[0px] pb-[0px]"
                  >
                    <div
                      class="relative leading-[20px] font-medium inline-block min-w-[67.5px] whitespace-nowrap"
                    >
                      총 결제 금액
                    </div>
                  </div>

                  <div class="flex-1 flex justify-end items-center">
                    <input
                      type="text"
                      id="sale_price"
                      class="text-right w-full max-w-[100px] bg-white border-none outline-none px-[10px] text-[20px] leading-[24px] text-[#f45858] mq450:text-[16px] mq450:leading-[19px]"
                      value="50000"
                      readonly
                    />
                    <b
                      class="relative text-[20px] leading-[24px] inline-block text-[#f45858] text-right mq450:text-[16px] mq450:leading-[19px]"
                      >원</b
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[12px] text-[13.1px]"
            >
              <button
                onclick="requestPayment()"
                class="self-stretch rounded-[10px] bg-[#1273e4] flex flex-row items-start justify-center py-[14.5px] px-[20px] whitespace-nowrap text-center text-[15.4px] text-[#fff] -mb-[33px]"
              >
                결제하기
              </button>
            </div>
            <div id="login"></div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      let personParam = urlParams.get("person");
      let checkInParam = urlParams.get("checkIn");
      let checkOutParam = urlParams.get("checkOut");
      let roomParam = urlParams.get("room")
      let amountParam = urlParams.get("amount").replace(/,/g, '');  
      console.log(personParam + "명")
      console.log(checkInParam + "명")
      console.log(checkOutParam + "명")


      let person = $("#person").text(personParam);
      let checkIn = $("#checkIn").text(formatDate(checkInParam));
      let checkOut = $("#checkOut").text(formatDate(checkOutParam));
      let room = $("#room").val(roomParam);
      let sale_price = $("#sale_price").val(amountParam);
      let nsale_price = $("#nsale_price").val(amountParam);
      let resEmail;
      let resName;
      let timerExpired = false;
      let login = localStorage.getItem("isLogin") === "true";
      let user = JSON.parse(localStorage.getItem("user"));
      let couponId;
      let couponData;
      let couponCheck = false;
      let originPrice = parseInt($("#sale_price").val());
      let totalPrice = originPrice; // 최종 결제 금액을 위한 변수
      let finalPrice = 0; // 최종 결제 금액을 위한 변수
      let amount = 0; // 멤버십 할인 금액을 위한 변수
      let usePoints = 0; // 사용할 포인트를 위한 변수
      let couponPrice = 0; // 쿠폰 할인 금액을 위한 변수
      let sum; // 포인트 총합을 위한 변수


      function formatDate(dateString) {
        return dateString.slice(0, 10); // 앞에서부터 10글자만 자름 (YYYY-MM-DD 형식)
      }

      function membershipSale() {
        let gradeSale = localStorage.getItem("grade");

        let grade = JSON.parse(gradeSale);

        if (grade != null) {
          amount = originPrice * (grade.gsale / 100);
          console.log(amount);
          totalPrice = originPrice - amount;
          finalPrice = totalPrice;
          $("#membership_discount").val(amount);
        } else {
          totalPrice = originPrice;
          finalPrice = totalPrice;
        }
        console.log(finalPrice);
        $("#sale_price").val(finalPrice);
      }

      function userInfo() {
        $.ajax({
          url: "coupon",
          type: "POST",
          data: {
            id: user.id,
          },
        }).done(function (data) {
          let coupon = $("#modal");
          let couponList = "";
          couponData = {};
          let couponBtn = $("#couponBtn");
          let couponIdx;

          for (let i = 0; i < data.coupon.length; i++) {
            console.log(data.coupon[i]);
            couponIdx = data.coupon[i].id;
            couponData = data.coupon[i].coupon;
            couponList += `
            <div class="mb-1"> <!-- 항목 간의 간격 -->
              <label class="flex items-start p-3 border rounded-lg shadow-sm text-black">
                <input
                id="coupon"
                type="radio"
                name="coupon"
                class="mr-2 text-blue-600"
                value="${couponIdx}"
                data-content="${couponData.cpContent}"
                data-sale="${couponData.cpSale}"
                data-cate="${couponData.cpCate}"
                />
                <div>
                  <span class="block font-semibold">${
                    couponData.cpContent
                  }</span>
                    <span>${
                      couponData.cpCate === "PERCENT"
                        ? `${couponData.cpSale}% 할인`
                        : `${couponData.cpSale}원 할인`
                    }</span>
                      </div>
                      </label>
                      </div>`;
          }
          coupon.html(couponList);

          couponBtn.click(function () {
            couponId = $("input[name='coupon']:checked").val();
            console.log(couponId);
            let selectedCoupon = $("input[name='coupon']:checked");

            // 선택된 쿠폰의 데이터를 읽어옴
            let couponContent = selectedCoupon.data("content");
            let couponSale = selectedCoupon.data("sale");
            let couponCate = selectedCoupon.data("cate");

            $("#coupon_input").val(couponContent);

            $("#couponModal").addClass("hidden");
            $("body").removeClass("overflow-hidden");

            couponData = {
              cpContent: couponContent,
              cpSale: couponSale,
              cpCate: couponCate,
            };

            couponCheck = true;
            changePrice();
          });
        });
      }

      $("#openPointModal").click(function () {
        $("#pointModal").removeClass("hidden");
        $.ajax({
          url: "point",
          type: "POST",
          data: {
            id: user.id,
          },
        }).done(function (data) {
          let pointList = $("#pointList");
          let totalPoint = $("#totalPoints");
          pointList.empty();
          console.log(data.point);
          for (let i = 0; i < data.point.length; i++) {
            console.log(data.point[i].pcontent);
            let point = data.point[i];
            let formattedDate = point.pdate.slice(0, 10);
            let value = point.pvalue;
            sum = data.sum;

            let pointSign = "+";
            let pointValueClass = "text-green-500 font-bold";

            if (value < 0) {
              pointValueClass = "text-red-500 font-bold"; // 글자색을 빨간색으로 변경
              pointSign = ""; // 부호를 빈 문자열로 설정
            }

            let pointItem = `<li class="flex justify-between items-center p-4 bg-white rounded-lg shadow-md mb-3">
                              <div class="flex flex-col">
                                <span class="font-medium text-gray-800">${point.pcontent}</span>
                                <span class="text-sm text-gray-500">${formattedDate}</span>
                              </div>
                              <div class="${pointValueClass}">
                                ${pointSign}  ${value} P
                              </div>
                            </li>`;
            pointList.append(pointItem);
            totalPoint.text(`${sum} P`);
          }
        });
      });

      $("#closePointModal").click(function () {
        $("#pointModal").addClass("hidden");
      });

      $("#usePointBtn").click(function () {
        usePoints = $("#usePoints").val();
        let totalPoints = $("#totalPoints").text().split(" ")[0];
        if (usePoints > sum) {
          alert("포인트가 부족합니다.");
          return;
        } else {
          $("#point_input").val(usePoints);
          $("#point_discount").val(usePoints);
          changePrice();
        }

        $("#pointModal").addClass("hidden");

        if (usePoints == 0) {
          $("#point_discount").val(0);
          return;
        }
        changePrice();
        $("#sale_price").val(finalPrice);
      });

      function changePrice() {
        // 객실 기본 가격
        let nsalePriceVal = parseInt($("#nsale_price").val()) || 0;

        

        // 쿠폰 할인 금액 계산
        let couponDiscount = 0;
        if (couponData && couponData.cpCate === "PERCENT") {
          couponDiscount = nsalePriceVal * (couponData.cpSale / 100);  // 퍼센트 할인
        } else if (couponData && couponData.cpCate === "PRICE") {
          couponDiscount = parseInt(couponData.cpSale);  // 정액 할인
        }
        console.log("쿠폰 할인 금액: " + couponDiscount);

        // 포인트 할인 금액 계산
        let pointDiscount = parseInt(usePoints) || 0;
        console.log("포인트 할인 금액: " + pointDiscount);


        // 최종 결제 금액이 0 미만이면 0으로 설정
        if (finalPrice < 0) {
          finalPrice = 0;
        }

        finalPrice = totalPrice - couponDiscount - pointDiscount;

        // 쿠폰 및 포인트 할인 금액을 각 필드에 적용
        $("#coupon_discount").val(couponDiscount);
        $("#point_discount").val(pointDiscount);

        // 총 결제 금액을 업데이트
        $("#sale_price").val(finalPrice);
      }
      $(function () {
        membershipSale();
        // Open Modal
        $(".open-modal").click(function () {
          if (couponCheck) {
            alert("이미 쿠폰을 적용하셨습니다.");
            return;
          }
          userInfo();
          $("#couponModal").removeClass("hidden");
          $("body").addClass("overflow-hidden");
        });

        // Close Modal
        $(".close-modal").click(function () {
          $("#couponModal").addClass("hidden");
          $("body").removeClass("overflow-hidden");
        });

        $("#couponModal").click(function (e) {
          if ($(e.target).is("#couponModal")) {
            $("#couponModal").addClass("hidden");
            $("body").removeClass("overflow-hidden"); // 모달이 닫히면 스크롤 허용
          }
        });
        loginCheck();

      });

      function loginCheck(){
        if( user != null){
          $("#login").removeClass("hidden");
          $("#noLogin").addClass("hidden")
        } else {
          $("#login").addClass("hidden");
          $("#noLogin").removeClass("hidden")
        }
      }

      $("#noLogin").click(function(){
        location.href = "/login/user";
      })

      function verifyCode() {
        if (timerExpired) {
          alert("인증 시간이 만료되었습니다. 다시 시도해주세요.");
          return;
        }
        let code = $("#verification_code").val();
        if (code == null && code.trim() == "") {
          alert("인증번호를 입력해주세요.");
          return;
        }

        $.ajax({
          url: "reservation/emailCheck",
          type: "POST",
          data: {
            code: code,
            email: $("#reserver_email").val(),
          },
        }).done(function (data) {
          if (data == "success") {
            alert("인증번호 확인 완료");
            $("#authBtn").css("display", "none");
            $("#verification_code").val("인증완료!");
            $("#verification_code").attr("readonly", true);

            // 타이머 멈추기
            clearInterval(countdownInterval);
          } else {
            alert("인증번호가 일치하지 않습니다.");
          }
        });
      }

      function makeOrderId() {
        const date = new Date();

        // 날짜와 시간을 기반으로 고유 번호 생성
        const year = date.getFullYear().toString().slice(-2); // 연도 마지막 두 자리
        const month = ("0" + (date.getMonth() + 1)).slice(-2); // 월 (두 자리)
        const day = ("0" + date.getDate()).slice(-2); // 일 (두 자리)
        const hour = ("0" + date.getHours()).slice(-2); // 시 (두 자리)
        const minute = ("0" + date.getMinutes()).slice(-2); // 분 (두 자리)
        const second = ("0" + date.getSeconds()).slice(-2); // 초 (두 자리)

        // 고유성을 위해 랜덤 문자열 추가
        const randomString = Math.random()
          .toString(36)
          .substring(2, 6)
          .toUpperCase();

        // 주문번호 형식: YYMMDD-HHMMSS-랜덤문자열
        return `${year}${month}${day}-${hour}${minute}${second}-${randomString}`;
      }

      //주문번호
      // 예시 사용
      const orderNumber = makeOrderId();

      //이메일 인증
      function sendEmail() {
        if (timerExpired) {
          $("#emailText").text("인증번호 재전송");
        }
        let email = $("#reserver_email").val();
        if (email == null && email == "") {
          alert("이메일을 입력해주세요.");
          return;
        }

        $.ajax({
          url: "reservation/sendEmail",
          type: "POST",
          data: {
            email: email,
          },
        }).done(function (data) {
          if (data == "success") {
            startCountdown();
            alert("인증번호가 전송되었습니다.");
            $("#authPlace").css("display", "block");
            $("#verification_code").prop("disabled", false); // 타이머 시작 시 입력 가능하도록
            $("#authBtn").prop("disabled", false); // 타이머 시작 시 인증 버튼 활성화
            
          }
        });
      }

      let countdownInterval;

      function startCountdown() {
        let time = 180; // 3분 = 180초
        let timerDisplay = $("#timer");

        // 1초마다 실행
        countdownInterval = setInterval(function () {
          // 타이머 종료 조건
          if (time <= 0) {
            clearInterval(countdownInterval); // 타이머 멈추기
            timerDisplay.text("00:00"); // 타이머 종료 시 00:00 표시
            alert("인증 시간이 만료되었습니다.");
            timerExpired = true;
            $("#verification_code").val("");
            return;
          }

          let minutes = Math.floor(time / 60);
          let seconds = time % 60;

          // 시간 포맷팅 (초가 두 자리가 아니면 앞에 0 추가)
          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          // 타이머 화면 업데이트
          timerDisplay.text(minutes + ":" + seconds);

          time--; // 화면 업데이트 후 시간 감소
        }, 1000); // 1초마다 실행
      }

      // ------  SDK 초기화 ------
      // @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
      const clientKey = "test_ck_PBal2vxj81jDG7MyAXLR35RQgOAN";
      let customerKey;
      if (user != null) {
        customerKey = "reserver" + user.id; //회원번호
      } else {
        customerKey = TossPayments.ANONYMOUS;
      }
      const tossPayments = TossPayments(clientKey);
      // 회원 결제
      // @docs https://docs.tosspayments.com/sdk/v2/js#tosspaymentspayment

      // 비회원 결제

      // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
      // @docs https://docs.tosspayments.com/sdk/v2/js#paymentrequestpayment
      async function requestPayment() {
        resName = $("#reserver_name").val();
        resEmail = $("#reserver_email").val();
        let memberDiscount = $("#membership_discount").val();

        let roomName = $("#room").text();
        let code = $("#verification_code").val();

        if (resName == null || resName.trim() === "") {  
          alert("예약자 이름을 입력해주세요");
          return;
        }

        if (resEmail == null || resEmail.trim() === "") { 
          alert("이메일을 입력해주세요");
          return;
        }

        if (code != "인증완료!") {
          alert("이메일 인증을 해주세요");
          return;
        }

        const payment = tossPayments.payment({ customerKey });

        let url =
          "?resName=" +
          encodeURIComponent(resName) +
          "&resEmail=" +
          encodeURIComponent(resEmail) +
          "&nsalePrice=" +
          encodeURIComponent(amountParam) +
          "&payGrade=" +
          encodeURIComponent(memberDiscount)  +
          "&person=" +
          encodeURIComponent(personParam)  +
          "&checkIn=" +
          encodeURIComponent(checkInParam) +
          "&checkOut=" +
          encodeURIComponent(checkOutParam) +
          "&roomIdx=" +
          encodeURIComponent(roomParam) +
          "&roomName=" +
          encodeURIComponent(roomName)
          
          
          
        if(couponId > 0 ){
          url += "&couponId=" + encodeURIComponent(couponId)
        }

        if( couponPrice > 0){
          url += "&payCoupon=" + encodeURIComponent(couponPrice) + "&payPoint=" + encodeURIComponent(usePoints)
        }

        if (user != null) {
          url += "&memIdx=" + encodeURIComponent(user.id);
        }

        let successUrl =
          window.location.origin + "reservation/payment_success" + url;

        // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
        // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
        await payment.requestPayment({
          method: "CARD", // 카드 결제
          amount: {
            currency: "KRW",
            value: finalPrice, // 결제 금액
          },
          orderId: orderNumber, // 고유 주분번호
          orderName: roomName, //방이름
          successUrl: successUrl, // 결제 요청이 성공하면 리다이렉트되는 URL
          failUrl: window.location.origin + "reservation/payment_fail", // 결제 요청이 실패하면 리다이렉트되는 URL
          customerEmail: resEmail, //회원 이메일
          customerName: resName, //회원이름
          customerMobilePhone: "01012341234", //회원전화번호

          // 카드 결제에 필요한 정보
          card: {
            useEscrow: false,
            flowMode: "DEFAULT", // 통합결제창 여는 옵션
            useCardPoint: false,
            useAppCardOnly: false,
          },
        });
      }
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
