<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div
      class="rounded-[20px] bg-[#fff] border-[#91aec4] border-[3px] border-solid box-border max-w-full overflow-hidden flex flex-row items-start justify-start pt-[50px] px-[67px] pb-[56px] leading-[normal] tracking-[normal]"
    >
      <section
        class="overflow-hidden flex flex-col items-start justify-start pt-[5px] px-[0px] pb-[23px] box-border max-w-full text-left text-[20px] text-[#000] font-[Roboto]"
      >
        <div
          class="w-[218px] flex flex-row items-start justify-between pt-[0px] px-[0px] pb-[4px] box-border gap-[20px]"
        >
          <img
            class="self-stretch w-[36.5px] relative max-h-full object-cover min-h-[30px]"
            loading="lazy"
            alt=""
            src="/image/reservation/roominfor-delbtn@2x.png"
          />

          <div
            class="flex flex-col items-start justify-start pt-[1px] px-[0px] pb-[0px]"
          >
            <a
              class="[text-decoration:none] relative text-[inherit] inline-block min-w-[79px] whitespace-nowrap mq450:text-[16px]"
              >숙소 정보</a
            >
          </div>
        </div>
        <div
          class="w-[219px] flex flex-row items-start justify-start pt-[0px] px-[1px] pb-[9px] box-border"
        >
          <div
            class="w-[359px] overflow-hidden shrink-0 flex flex-row items-start justify-start max-w-[166%]"
          >
            <img
              class="h-[150px] flex-1 relative max-w-full overflow-hidden object-cover shrink-0"
              loading="lazy"
              alt=""
              src="/image/reservation/bed4416515-1280-1@2x.png"
            />
          </div>
        </div>
        <div
          class="ml-[-1px] w-[356px] flex flex-col items-start justify-start gap-[9px] max-w-[103%] shrink-0 text-[13px]"
        >
          <div
            class="flex flex-row items-start justify-start py-[0px] pl-[2px] pr-[9px] box-border max-w-full"
          >
            <div
              class="w-[345px] overflow-hidden shrink-0 flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[5px] box-border max-w-full"
            >
              <div
                class="w-[360px] relative flex items-center shrink-0 max-w-[105%]"
              >
                의정부/반월
              </div>
            </div>
          </div>
          <div class="w-[346px] h-[1px] relative bg-[#f5f5f5] max-w-full"></div>
          <div
            class="self-stretch overflow-hidden flex flex-col items-start justify-start gap-[3px] text-[11px]"
          >
            <div class="w-[97px] h-[19px] relative flex items-center shrink-0">
              선택날짜
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[10px]"
            >
              <div
                class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[4px]"
              >
                <div
                  class="h-[22px] w-[61px] relative flex items-center shrink-0"
                >
                  <span class="[line-break:anywhere] w-full">
                    <ul class="m-[0px] font-[inherit] text-inherit pl-[13px]">
                      <li>체크인</li>
                    </ul>
                  </span>
                </div>
                <div
                  class="flex-1 overflow-hidden flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[8px] box-border min-w-[192px]"
                >
                  <div class="flex-1 relative shrink-0">
                    2024.05.24 ( 월 ) 15 시 00분
                  </div>
                </div>
              </div>
              <div
                class="self-stretch flex flex-row items-start justify-start flex-wrap content-start [row-gap:20px]"
              >
                <div
                  class="w-[64px] overflow-hidden shrink-0 flex flex-row items-start justify-start"
                >
                  <div
                    class="h-[22px] w-[97px] relative flex items-center shrink-0"
                  >
                    <span class="[line-break:anywhere] w-full">
                      <ul class="m-[0px] font-[inherit] text-inherit pl-[13px]">
                        <li>체크아웃</li>
                      </ul>
                    </span>
                  </div>
                </div>
                <div
                  class="flex-1 overflow-hidden flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[8px] box-border min-w-[192px]"
                >
                  <div class="flex-1 relative shrink-0">
                    2024.05.24 ( 월 ) 15 시 00분
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex flex-row items-start justify-start py-[0px] px-[1px] text-[11px]"
        >
          <div class="relative inline-block min-w-[66px]">숙소이용규칙</div>
        </div>
        <div
          class="w-[219px] flex flex-row items-start justify-start py-[0px] px-[1px] box-border text-[10px]"
        >
          <div
            class="w-[355px] overflow-hidden shrink-0 flex flex-col items-end justify-start gap-[8px] max-w-[164%]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start max-w-full"
            >
              <div
                class="self-stretch h-[22px] relative flex items-center shrink-0"
              >
                <span class="[line-break:anywhere]">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[13px]">
                    <li>바로나가주세요</li>
                  </ul>
                </span>
              </div>
              <div
                class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[1px] pr-[0px] box-border max-w-full"
              >
                <div class="flex-1 relative inline-block max-w-full">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[13px]">
                    <li>ㅇㅈ?</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="self-stretch flex flex-col items-start justify-start">
              <div
                class="self-stretch h-[22px] relative flex items-center shrink-0"
              >
                <span class="[line-break:anywhere]">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[13px]">
                    <li>ㄳ</li>
                  </ul>
                </span>
              </div>
              <div
                class="self-stretch h-[22px] relative flex items-center shrink-0"
              >
                <span class="[line-break:anywhere]">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[13px]">
                    <li>ㄳ</li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
