<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/host}"
      layout:fragment="host">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link href="/css/global.css" rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div
      class="w-full relative overflow-y-auto bg-[#e4e7eb] max-w-full flex flex-row items-start justify-center py-[100px] px-[20px] box-border leading-[normal] tracking-[normal]"
    >
      <div
        class="w-[1200px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-start pt-[73px] px-[129px] pb-[20px] box-border gap-[79px] max-w-full text-left text-[50px] text-[#000] font-[Roboto] lg:pl-[64px] lg:pr-[64px] lg:box-border mq450:gap-[20px] mq750:gap-[39px] mq750:pl-[32px] mq750:pr-[32px] mq750:box-border"
      >
        <b
          class="relative tracking-[0.15px] leading-[48px] mq1050:text-[40px] mq1050:leading-[19px] mq450:text-[30px] mq450:leading-[14px]"
          >자주 묻는 질문</b
        >
        <div
          class="self-stretch flex flex-row items-start justify-start py-[0px] px-[21px] box-border max-w-full text-[16px] text-[rgba(0,0,0,0.87)]"
        >
        <div class="accordion" id="accordionExample">

          <div class="accordion-item" th:each="faq, iterStat : ${list}">
            <h2 class="accordion-header" th:id="'heading' + ${iterStat.count}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                        th:data-bs-target="'#collapse' + ${iterStat.count}" aria-expanded="true" 
                        th:aria-controls="'collapse' + ${iterStat.count}">
                    <span th:text="${faq.sTitle}">질문</span> 
                </button>
            </h2>
            <div th:id="'collapse' + ${iterStat.count}" class="accordion-collapse collapse show" 
                 th:aria-labelledby="'heading' + ${iterStat.count}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span th:text="${faq.sContent}">답변</span> 
                </div>
            </div>
        </div>
      
      </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
