<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/host}"
      layout:fragment="host">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
    <style>
      #registerButton {
        border: 1px solid #2196f3;
      }
      .dt-length select {
      font-size: 12px;
      padding: 5px;
      height: auto;
    }

    .dt-length label {
      font-size: 12px;
      margin-left: 5px;
    }

    .dt-info {
      font-size: 12px;
    }

    .dt-paging button {
      font-size: 12px;
      padding: 5px 8px;
    }

    .dt-paging a {
      /* 페이지 번호 스타일 */
      padding: 5px 8px;
    }

    .dt-info {
      display: none;
    }

    a {
      text-decoration: none;
    }

    .dt-container .dt-layout-row {
    margin: 0.2em 0 !important; 
    }

    #table th span {
      font-size: 15px !important;
    }

    #table td {
      font-size: 12px !important; /* 원하는 글자 크기로 설정 */
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #table td a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    </style>
  </head>
  <body>
    <div
      class="w-full relative bg-[#fff] overflow-y-auto flex flex-row items-start justify-start leading-[normal] tracking-[normal]"
    >
      <main
        class="flex-1 bg-[#e4e7eb] overflow-hidden flex flex-col items-start justify-start pt-[75px] px-[0px] pb-[42px] box-border gap-[40px] max-w-full lg:pt-[49px] lg:pb-[27px] lg:box-border mq750:gap-[20px] mq450:pt-[21px] mq450:box-border mq1050:pt-[32px] mq1050:pb-[20px] mq1050:box-border"
      >
        <section
          class="self-stretch flex flex-row items-start justify-center py-[0px] px-[20px] box-border max-w-full text-center text-[35px] text-[rgba(0,0,0,0.87)] font-[Inter]"
        >
          <div
            class="w-[1200px] flex flex-col items-start justify-start gap-[45px] max-w-full mq750:gap-[22px]"
          >
          <div class="w-[1200px] h-[340px] bg-white rounded-[30px] flex-col justify-end items-center gap-2.5 inline-flex">
            <div class="w-[1000px] h-[140px] flex-col justify-center items-center gap-3 flex">
              <div class="w-[1000px] h-[50px] text-center text-black text-3xl font-semibold font-['Inter']">아래 정보를 모두 입력하시고 숙소등록을 완료하세요.</div>
              <button id="registerButton" type="button" onclick="requestadmin()"
              class="w-[250px] h-[55px] px-[22px] py-2 bg-[#2196f3] rounded-[10px] flex-col justify-center items-center flex">
                <div class="justify-center items-center gap-2 inline-flex">
                  <div class="text-white text-[25px] font-bold font-['Roboto'] uppercase leading-relaxed tracking-wide">숙소 등록 요청</div>
                </div>
              </button>
            </div>
            <div th:insert="~{component/step/host_step}"/>
          </div>
            <div
              class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[4px] pr-[10px] box-border max-w-full text-left text-[25px] text-[#333]"
            >
              <div
                class="flex-1 flex flex-row items-start justify-start gap-[59px] max-w-full mq750:gap-[29px] mq1050:flex-wrap"
              >
                <div
                  class="w-[535px] h-[683px] mt-[7px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-start pt-[35px] pb-[32px] pl-[53px] pr-[42px] box-border gap-[16px] min-w-[535px] max-w-full mq750:py-[21px] mq750:pl-[26px] mq750:pr-[21px] mq750:box-border mq750:min-w-full mq1050:flex-1"
                >
                  <div
                    class="w-[430px] flex flex-row items-start justify-between gap-[20px] max-w-full mq450:flex-wrap"
                  >
                    <b
                      class="relative inline-block min-w-[100px] mq450:text-[20px]"
                      >공지사항</b
                    >
                    <a th:href="@{/host/notice}">
                    <b
                      class="w-[100px] relative flex text-[#000] text-right items-center shrink-0 mq450:text-[20px]"
                      >더보기</b
                    >
                  </a>
                  </div>
                  <div
                    class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[2px] pr-[0px] box-border max-w-full"
                  >
                    <div id="table" class="w-full pb-[10px] gap-[10px] m-auto">
                      <table id="noticeListTable"
                        class="w-[1140px] text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  text-[16px] hover">
                        <thead>
                          <tr class="py-[20px] pl-[30px] pr-[634px] gap-[20px]">
                            <th>번호</th>
                            <th>제목</th>
                            <th>등록일</th>
                          </tr>
                        </thead>
                        <tbody class="bg-[#ffffff] pt-[100px]"></tbody>
                      </table>
                  </div>
                  </div>
                </div>
                <div
                  class="flex-1 flex flex-col items-start justify-start pt-[7px] px-[0px] pb-[0px] box-border min-w-[385px] max-w-full text-center text-[30px] text-[#fff] mq750:min-w-full"
                >
                  <div
                    class="self-stretch flex flex-col items-start justify-start gap-[64px] max-w-full mq750:gap-[32px] mq450:gap-[16px]"
                  >
                    <div
                      class="self-stretch rounded-[30px] bg-[#1a4568] flex flex-col items-start justify-start pt-[36px] px-[63px] pb-[56px] box-border relative gap-[59px] max-w-full mq750:gap-[29px] mq750:pl-[31px] mq750:pr-[31px] mq750:box-border"
                    >
                      <div
                        class="w-[368.5px] flex flex-row items-start justify-center max-w-full"
                        >
                        <b
                          class="w-[250px] h-[62px] absolute !m-[0] top-[25px] left-[40px] flex text-left items-center mq450:text-[18px] mq1050:text-[24px]"
                          >예약 객실 판매</b
                        >
                      <a th:href="@{/host/reservation}" class="h-[40px] w-[40px]">
                        <img
                          class="pl-[20px] h-[40px] w-[40px] relative object-contain"
                          loading="lazy"
                          alt=""
                          src="/image/host/res-link.svg"
                        />
                      </a> 
                      </div>
                      <div
                        class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[2px] pr-[3px] box-border max-w-full"
                      >
                        <div
                          class="flex-1 flex flex-row items-start justify-between max-w-full gap-[20px] mq450:flex-wrap"
                        >
                          <b th:if="${resDayCount != null}" th:text="${resDayCount}"
                            class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                            >0</b
                          >
                          <b th:if="${resWeekCount != null}" th:text="${resWeekCount}"
                            class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                            >0</b
                          >
                          <b th:if="${resMonthCount != null}" th:text="${resMonthCount}"
                            class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                            >0</b
                          >
                        </div>
                      </div>
                      <div
                        class="w-[456px] flex flex-row items-start justify-between gap-[20px] max-w-full mq450:flex-wrap"
                      >
                        <b
                          class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                          >오늘</b
                        >
                        <b
                          class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                          >이번주</b
                        >
                        <b
                          class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                          >이번달</b
                        >
                      </div>
                    </div>
                    <div
                      class="self-stretch rounded-[30px] bg-[rgba(48,199,190,0.71)] flex flex-col items-start justify-start pt-[36px] px-[63px] pb-[56px] box-border relative gap-[59px] max-w-full mq750:gap-[29px] mq750:pl-[31px] mq750:pr-[31px] mq750:box-border"
                    >
                      <div
                        class="w-[368.5px] flex flex-row items-start justify-center max-w-full"
                      >
                      <b
                        class="w-[250px] h-[62px] absolute !m-[0] top-[25px] left-[40px] flex text-left items-center mq450:text-[18px] mq1050:text-[24px]"
                        >등록된 리뷰 수</b
                      >
                      <a th:href="@{/host/review}" class="h-[40px] w-[40px]">
                        <img
                          class="pl-[20px] h-[40px] w-[40px] relative object-contain"
                          loading="lazy"
                          alt=""
                          src="/image/host/res-link.svg"
                        />
                      </a>  
                      </div>
                      <div
                        class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[2px] pr-[3px] box-border max-w-full"
                      >
                        <div
                          class="flex-1 flex flex-row items-start justify-between max-w-full gap-[20px] mq450:flex-wrap"
                        >
                          <b th:if="${revDayCount != null}" th:text="${revDayCount}"
                            class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                            >0</b
                          >
                          <b th:if="${revWeekCount != null}" th:text="${revWeekCount}"
                            class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                            >0</b
                          >
                          <b th:if="${revMonthCount != null}" th:text="${revMonthCount}"
                            class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                            >0</b
                          >
                        </div>
                      </div>
                      <div
                        class="w-[456px] flex flex-row items-start justify-between gap-[20px] max-w-full mq450:flex-wrap"
                      >
                        <b
                          class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                          >오늘</b
                        >
                        <b
                          class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                          >이번주</b
                        >
                        <b
                          class="h-[30px] w-[100px] relative flex items-center justify-center shrink-0 mq450:text-[18px] mq1050:text-[24px]"
                          >이번달</b
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="self-stretch overflow-hidden flex flex-col items-center justify-start gap-[50px] py-[0px] px-[20px] box-border max-w-full text-left text-[25px] text-[#333] font-[Inter]"
        >
          <div
            class="w-[1186px] rounded-[30px] bg-[#fff] flex flex-col items-center justify-start gap-[50px] py-[57px] px-[80px] box-border min-h-[778px] max-w-full mq450:pt-[24px] mq450:pb-[24px] mq450:box-border mq1050:pt-[37px] mq1050:pb-[37px] mq1050:box-border"
          >
            <div
              class="w-full flex flex-row items-center justify-between gap-[20px] max-w-full mq450:flex-wrap"
            >
              <b
                class="h-[41px] w-[216px] relative tracking-[-0.16px] flex items-center shrink-0 mq450:text-[20px]"
                >입실 예정 고객 정보</b
              >
              <a th:href="@{/host/reservation}">
              <b
                class="h-[41px] relative flex text-[#000] items-center min-w-[75px] mq450:text-[20px]"
                >더보기</b
              >
              </a>
            </div>
            <div class="self-stretch flex flex-row items-start justify-start py-[0px] pl-[2px] pr-[0px] box-border max-w-full">
              <div id="table2" class="w-full pb-[10px] gap-[10px] m-auto">
                <table id="checkInListTable"
                  class="w-[1140px] text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  text-[16px] hover">
                  <thead>
                    <tr class="py-[20px] pl-[30px] pr-[634px] gap-[20px]">
                      <th>예약번호</th>
                      <th>객실명</th>
                      <th>예약자</th>
                      <th>이메일</th>
                      <th>이용기간</th>
                    </tr>
                  </thead>
                  <tbody class="bg-[#ffffff] pt-[100px]"></tbody>
                </table>
            </div>
          </div>
        </div>
        </section>
      </main>
      <input type="hidden" id="hStep" th:value="${hStep}" />
      <input type="hidden" id="hStatus" th:value="${hStatus}" />
    </div>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js" defer></script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      var checkInList = /*[[${checkInList}]]*/ [];
      /*]]>*/
    </script>
    <script>
      $(document).ready(function() {
        var hStep =  $("#hStep").val();

        function updateStepImages(hStep) {
                if (hStep.trim().toUpperCase() === "MYPAGE") {
                    $("#mypage-link img").attr("src", "/image/host/check.png");
                } else if (hStep.trim().toUpperCase() === "INFO") {
                    $("#mypage-link img").attr("src", "/image/host/check.png");
                    $("#info-link img").attr("src", "/image/host/check.png");
                } else if (hStep.trim().toUpperCase() === "RULE") {
                    $("#mypage-link img").attr("src", "/image/host/check.png");
                    $("#info-link img").attr("src", "/image/host/check.png");
                    $("#rules-link img").attr("src", "/image/host/check.png");
                } else if (hStep.trim().toUpperCase() === "ROOM") {
                    $("#mypage-link img").attr("src", "/image/host/check.png");
                    $("#info-link img").attr("src", "/image/host/check.png");
                    $("#rules-link img").attr("src", "/image/host/check.png");
                    $("#room-link img").attr("src", "/image/host/check.png");
                }
            }

            updateStepImages(hStep);

        var registerButton = $("#registerButton");

        var hStatus =  $("#hStatus").val();

        if (hStatus === "APPLY") {
          registerButton.css("background-color", "#ffffff");
          registerButton.find(".text-white").removeClass("text-white").addClass("text-blue-500").text("숙소 등록 검수중");
        } else if (hStatus === "APPROVE") {
          registerButton.css("background-color", "#ffffff");
          registerButton.find(".text-white").removeClass("text-white").addClass("text-blue-500").text("숙소 등록 완료");
        } else if (hStatus === "REJECT" || hStatus === "RELEASE") {
          registerButton.css("background-color", "#2196f3");
          registerButton.find(".text-white").css("color", "#ffffff").text("업체 정보 등록");
        }

        console.log("hStep 값:", hStep);

        window.requestadmin = function() {
          if (hStep.trim().toUpperCase() === "ROOM") {
            $.ajax({
                url: '/host/requestadmin', 
                type: 'POST',
                success: function (response) {
                    alert('등록 요청되었습니다.'); 
                    $.ajax({
                            url: '/host/updateSession',
                            type: 'POST',
                            success: function(sessionResponse) {
                                if (sessionResponse === 'success') {
                                  location.reload();
                                }
                            },
                            error: function(error) {
                                console.error('Error updating session:', error);
                            }
                        });
                },
                error: function (error) {
                    alert('등록 요청 실패하였습니다.');
                }
            });
          } else {
            alert("등록 단계를 모두 진행해 주세요.");
          }
        };

        $('#noticeListTable').DataTable({
        "searching": false,

        ajax: {
          url: '/host/noticelist/getList',
          type: 'GET',
          dataSrc: function(json) {
            // 데이터의 첫 10개 항목만 반환
            return json.data.slice(0, 10);
          }
        },

        columns: [
          { "data": null, // 데이터 소스가 아닌 계산된 값
            "render": function(data, type, row, meta) {
                return meta.row + 1; // 인덱스는 0부터 시작하므로 1을 더합니다.
            } 
          }, 
          {
            data: 'stitle',
            render: function (data, type, row) {
              var truncatedData = data.length > 30 ? data.substring(0, 22) + '...' : data;
              return '<a href="/host/noticelist/view?id=' + row.id + '">' + truncatedData + '</a>';
            }
          },
          {
            data: 'sdate',
            render: function (data, type, row) {
            if (data) {
              var date = new Date(data);
              var year = date.getFullYear();
              var month = ('0' + (date.getMonth() + 1)).slice(-2);
              var day = ('0' + date.getDate()).slice(-2);
              return year + '-' + month + '-' + day;;
            }
            return data;
          }
          }
        ],
        columnDefs: [
        { width: 70, targets: 0 },
        { width: 220, targets: 1 },
        { width: 100, targets: 2 }
        ],

      });

        $('#checkInListTable').DataTable({
          "searching": false,

          ajax: {
            url: '/host/checkInList/getList',
            type: 'GET',
            dataSrc: 'data'
          },
          
          columns: [
            { 
              data: 'resNum', 
              render: function (data, type, row) {
                return '<a href="/host/reslist/view?id=' + row.id + '">' + data + '</a>';
              }
            }, 
            {
              data: 'roomName',
            },
            {
              data: 'resName',
            },
            {
              data: 'resEmail',
            },
            {
              data: 'startEndVo',
                render: function (data, type, row) {
                if (data) {
                  var start = new Date(data.start);
                  var startyear = start.getFullYear();
                  var startmonth = ('0' + (start.getMonth() + 1)).slice(-2);
                  var startday = ('0' + start.getDate()).slice(-2);
                  
                  var end = new Date(data.end);
                  var endyear = end.getFullYear();
                  var endmonth = ('0' + (end.getMonth() + 1)).slice(-2);
                  var endday = ('0' + end.getDate()).slice(-2);
                  
                  return startyear + '-' + startmonth + '-' + startday + '~' + endyear + '-' + endmonth + '-' + endday;
                }
                return '';
              }
            }
          ],
          columnDefs: [
            {width: 200, targets: 0},
            {width: 150, targets: 1},
            {width: 100, targets: 2},
            {width: 150, targets: 3},
            {width: 200, targets: 4}
          ],
    
        });
        
      });

      

    </script>
  </body>
</html>
