<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/host_step}"
      layout:fragment="host">
  <head>
    <meta charset="utf-8" />
    <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/css/component/host_swiper.css" rel="stylesheet" />
    <style>
      textarea:focus {
        outline: none;
        /* 포커스 시 기본 아웃라인 제거 */
        border-color: rgba(0, 0, 0, 0.23);
        box-shadow: none;
        /* 포커스 시 그림자 제거 */
      }
    </style>
  </head>
  <body>
      <section
        class="w-[1200px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-start pt-[102px] px-[120px] pb-[79px] box-border gap-[120px] max-w-full text-left text-[60px] text-[#000] font-[Roboto] lg:pt-[43px] lg:pb-[33px] lg:box-border mq1400:gap-[62px] mq1400:pt-[66px] mq1400:px-[60px] mq1400:pb-[51px] mq1400:box-border mq450:gap-[15px] mq450:pt-[28px] mq450:pb-[21px] mq450:box-border mq825:gap-[31px] mq825:pl-[30px] mq825:pr-[30px] mq825:box-border"
      >
        <div
          class="w-[302px] flex flex-row items-start justify-start py-[50px] px-[1px] box-border"
        >
          <h1
            class="m-[0px] flex-1 relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] mq450:text-[36px] mq450:leading-[14px] mq825:text-[48px] mq825:leading-[19px]"
          >
            객실 등록
          </h1>
        </div>
        <form
          class="m-[0px] w-[1070px] flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[10px] box-border gap-[50px] max-w-full mq1400:pb-[39px] mq1400:box-border mq825:gap-[25px] mq825:pb-[25px] mq825:box-border"
        >
          <div
            class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq825:flex-wrap"
          >
            <b
              class="h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] whitespace-pre-wrap text-left items-center mq450:text-[20px] mq450:leading-[19px]"
              >객실명 :
            </b>
            <div class="w-[303px] flex flex-col items-start justify-start">
              <div
                class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
              >
                <input
                  id="roomName"
                  class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                  placeholder="객실명"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[493px] flex flex-row items-start justify-between gap-[20px] max-w-full mq825:flex-wrap"
          >
            <b
              class="h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] whitespace-pre-wrap text-left items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]"
              >객실 유형 :
            </b>
            <div class="w-[303px] flex flex-col items-start justify-start gap-[10px]">
              <div
                class="flex-1 rounded-[4px]  box-border flex flex-row items-start justify-start py-[0px] relative min-w-[197px]"
              >
              <select id="roomType" class="w-[303px] h-[40px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid form-select">
                <option value="NULL" disabled>객실 유형</option>
              </select>
            </div>
            <input
              id="customRoomType"
              class="hidden w-full border-[1px] border-solid border-[rgba(0,0,0,0.23) bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[5px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
              placeholder="객실 유형"
              type="text"
            />
          </div>
        </div>
        <div
            class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq825:flex-wrap"
          >
            <b
              class="h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] whitespace-pre-wrap text-left items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]"
              >객실 정원 :
            </b>
            <div class="w-[303px] flex flex-col items-start justify-start">
              <div
                class="flex-1 rounded-[4px]  box-border flex flex-row items-start justify-start py-[0px] relative min-w-[197px]"
              >
              <select id="roomPerson" class="w-[303px] h-[40px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid form-select">
                <option value="" disabled selected>객실 정원</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
              </select>
              </div>
            </div>
          </div>
          <div
            class="w-[690px] flex flex-col items-start justify-start gap-[50px] max-w-full mq825:gap-[25px]"
          >
            <div
              class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[15px] max-w-full"
            >
              <b
                class="h-[40px] w-[175px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] whitespace-pre-wrap text-left items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                >객실 소개 :
              </b>
              <div
                class="flex-1 flex flex-row items-start justify-start min-w-[325px] max-w-full [row-gap:20px] mq825:flex-wrap"
              >
              <textarea
              class="w-full h-[130px] self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-col items-start justify-start py-[10px] px-[11px] max-w-full mq1125:self-stretch mq1125:w-auto text-[15px] overflow-auto"
              placeholder="객실 소개"
              id="roomIntro"></textarea>
              </div>
            </div>
            <b
              class="w-[170px] relative text-[25px] tracking-[0.15px] leading-[25px] inline-block font-[Roboto] text-[#000] whitespace-pre-wrap text-left mq450:text-[20px] mq450:leading-[19px]"
              >※ 요금 설정
            </b>
          </div>
          <div
            class="w-[521px] flex flex-row items-center justify-start flex-wrap content-center py-[0px] pl-[0px] pr-[10px] box-border gap-[9.5px] max-w-full"
          >
            <b
              class="h-[40px] w-[180px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] whitespace-pre-wrap text-left items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
              >기본(비수기) :
            </b>
            <div
              class="flex-1 flex flex-col items-start justify-start min-w-[186px]"
            >
              <div
                class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
              >
                <input
                  class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[157px] min-h-[24px]"
                  placeholder="비수기 요금"
                  type="text"
                  id="regularPrice"
                />
              </div>
            </div>
            <div
              class="h-[40px] w-[26px] relative text-[25px] tracking-[0.15px] leading-[24px] font-medium font-[Roboto] text-[#000] text-right flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
            >
              원
            </div>
          </div>
          <div id="semiPeakCheck"
            class="hidden w-[521px] flex flex-row items-center justify-start flex-wrap content-center py-[0px] pl-[0px] pr-[10px] box-border gap-[9.5px] max-w-full"
          >
            <b
              class="h-[40px] w-[180px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] text-left items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
              >준성수기 :
            </b>
            <div
              class="flex-1 flex flex-col items-start justify-start min-w-[186px]"
            >
              <div
                class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
              >
                <input
                  class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[157px] min-h-[24px]"
                  placeholder="준성수기 요금"
                  type="text"
                  id="semiPrice"
                />
              </div>
            </div>
            <div
              class="h-[40px] w-[26px] relative text-[25px] tracking-[0.15px] leading-[24px] font-medium font-[Roboto] text-[#000] text-right flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
            >
              원
            </div>
          </div>
          <div id="peakCheck"
            class="hidden w-[521px] flex flex-row items-center justify-start flex-wrap content-center py-[0px] pl-[0px] pr-[10px] box-border gap-[9.5px] max-w-full"
          >
            <b
              class="h-[40px] w-[180px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] text-left items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
              >성수기 :
            </b>
            <div
              class="flex-1 flex flex-col items-start justify-start min-w-[186px]"
            >
              <div
                class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
              >
                <input
                  class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[157px] min-h-[24px]"
                  placeholder="성수기 요금"
                  type="text"
                  id="peakPrice"
                />
              </div>
            </div>
            <div
              class="h-[40px] w-[26px] relative text-[25px] tracking-[0.15px] leading-[24px] font-medium font-[Roboto] text-[#000] text-right flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
            >
              원
            </div>
          </div>
          <div
            class="self-stretch flex flex-row items-start justify-start flex-wrap content-start max-w-full"
          >
            <b
              class="h-[40px] w-[164px] relative text-[25px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] text-left items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
              >객실 이미지 :</b
            >
            <div class="w-[520px] flex flex-col items-start justify-start">
              <div
                class="w-[520px] flex flex-col items-start justify-start py-[0px] px-[20px] box-border max-w-full gap-[10px]">
                <button type="button" id="addimagebutton"
                  class="cursor-pointer [border:none] py-[7px] px-[22px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-row items-start justify-start z-[1]">
                  <div class="flex flex-row items-start justify-start gap-[8px]">
                    <b
                      class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-[Roboto] text-[#fff] text-left min-w-[105px] whitespace-nowrap">+
                      이미지 추가</b>
                  </div>
                </button>
                <div class="roomimage">
                  <div class="swiper-container w-[520px] overflow-hidden">
                      <!-- 네비게이션 버튼 -->
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                    <div id="image_container"
                    class="swiper-wrapper h-[300px] self-stretch flex flex-row items-start justify-start gap-[10px] mq1125:flex-wrap">
                      <div id="image_template" 
                        class="w-[240px] h-[300px] flex-1 shadow-[0px_1px_3px_rgba(0,_0,_0,_0.12),_0px_1px_1px_rgba(0,_0,_0,_0.14),_0px_2px_1px_-1px_rgba(0,_0,_0,_0.2)] rounded-[4px] bg-[#fff] flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[0px] box-border min-w-[175px] gap-[10px] display-none hidden">
                        <div class="w-[240px] h-[230px] self-stretch flex flex-row items-start justify-start">
                          <div class="w-full h-full flex-1 overflow-hidden flex flex-row items-start justify-start">
                            <div
                              class="w-full h-full flex-1 bg-[rgba(0,0,0,0.56)] flex flex-row items-start justify-center">
                              <img class="w-full h-full self-stretch relative overflow-hidden shrink-0"
                                loading="lazy" alt="" />
                            </div>
                          </div>
                        </div>
                        <div
                          class="w-[240px] h-[50px] self-stretch flex flex-col items-center justify-center py-[0px] px-[16px]">
                          <div
                            class="w-[100px] h-[50px] flex flex-col relative tracking-[0.15px] leading-[160%] font-medium flex items-center mq450:text-[16px] mq450:leading-[26px] gap-[10px]">
                            <button type="button" class="w-full h-[30px] cursor-pointer [border:none] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] 
                                        text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff]"
                              onclick="deletehostimage(this)">삭제</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="file" id="fileInput" style="display: none;" accept="image/*" multiple />
        </form>
        <div class="self-stretch flex flex-row items-start justify-center">
          <div
            class="w-[258px] flex flex-row items-center justify-between gap-[20px]"
          >
            <button type="button" onclick="saveroominforeg()"
              class="cursor-pointer [border:none] py-[8px] px-[21px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-col items-center justify-center"
            >
              <div class="flex flex-row items-center justify-center gap-[8px]">
                <div
                  class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff] text-left inline-block min-w-[31px]"
                >
                  저장
                </div>

              </div>
            </button>
            <button type="button" onclick="location.href='/host/roomlist'"
              class="cursor-pointer border-[rgba(33,150,243,0.5)] border-[1px] border-solid py-[6px] px-[20px] bg-[transparent] w-[73px] rounded-[4px] box-border overflow-hidden shrink-0 flex flex-col items-center justify-center"
            >
              <div class="flex flex-row items-center justify-center gap-[8px]">
                <div
                  class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#2196f3] text-left inline-block min-w-[31px]"
                >
                  취소
                </div>

              </div>
            </button>
          </div>
        </div>
        <input id="semiPeak" type="hidden" th:value="${semiPeak}"/>
        <input id="peak" type="hidden" th:value="${peak}"/>
        <input id="hCate" type="hidden" th:value="${hCate}"/>
      </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>

      const roomTypeSelect = $('#roomType');
      const customRoomTypeInput = $('#customRoomType');

      $(document).ready(function () {


            const hCate = $('#hCate').val(); 

            const roomTypeOptions = {
                'MOTEL': ['일반실', '더블룸', '특실', 'VIP룸'],
                'HOTEL_RESORT': ['스탠다드', '디럭스 더블', '디럭스 트윈', '스위트'],
                'POOL_VILLA': ["원룸형", "투룸형", "복층형", "독채형"],
                'GUESTHOUSE_HANOK': ['도미토리', '개인실', '패밀리룸', '한옥']
            };

            function updateRoomTypeOptions() {
                const options = roomTypeOptions[hCate] || [];

                roomTypeSelect.empty();
                roomTypeSelect.append('<option value="NULL" disabled selected>객실 유형</option>');
                options.forEach(option => {
                    roomTypeSelect.append(`<option value="${option}">${option}</option>`);
                });

                // 사용자 지정 옵션 추가
                roomTypeSelect.append('<option value="custom">사용자 지정</option>');

                // 사용자 지정 입력 필드 숨기기
                customRoomTypeInput.addClass('hidden');
            }

            roomTypeSelect.on('change', function () {
                if (roomTypeSelect.val() === 'custom') {
                    customRoomTypeInput.removeClass('hidden');
                } else {
                    customRoomTypeInput.addClass('hidden');
                }
            });

            // 페이지 로드 시 초기 옵션 설정
            updateRoomTypeOptions();


            const semiPeak = $('#semiPeak').val(); 
            const peak = $('#peak').val(); 


            console.log("semiPeak:", semiPeak);
            console.log("peak:", peak);

            if (semiPeak) {
                $('#semiPeakCheck').removeClass('hidden');
            }

            if (peak) {
                $('#peakCheck').removeClass('hidden');
            }
      });

      var swiper; // 전역 변수로 정의
      var selectedFiles = [];

        $(document).ready(function () {
            swiper = new Swiper('.swiper-container', {
                loop: false,
                slidesPerView: 2,
                spaceBetween: 10,
                slidesPerGroup: 1,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                breakpoints: {
                    520: {
                        slidesPerView: 2,
                    },
                    0: {
                        slidesPerView: 1,
                    },
                },
                on: {
                    init: function () {
                        updateNavigationButtons(this);
                    },
                    slideChange: function () {
                        updateNavigationButtons(this);
                    },
                },
            });

            function updateNavigationButtons(swiper) {
                const nextButton = swiper.el.querySelector('.swiper-button-next');
                const prevButton = swiper.el.querySelector('.swiper-button-prev');

                if (swiper.isEnd) {
                    nextButton.style.visibility = 'hidden';
                } else {
                    nextButton.style.visibility = 'visible';
                }

                if (swiper.isBeginning) {
                    prevButton.style.visibility = 'hidden';
                } else {
                    prevButton.style.visibility = 'visible';
                }
            }

            $('#addimagebutton').click(function () {
                $('#fileInput').click();
            });

            $('#fileInput').change(function (event) {
                var files = event.target.files;
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    selectedFiles.push(file);
                    if (file) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var $slide = $('<div class="swiper-slide"></div>');
                            var $template = $('#image_template').clone();
                            $template.removeClass('hidden');
                            $template.removeAttr('id');
                            $template.find('img').attr('src', e.target.result);
                            $template.css('display', 'flex');

                            // 템플릿 내의 삭제 버튼에 클릭 이벤트 핸들러 연결 (선택 사항)
                            $template.find('.delete-image-btn').click(function() { 
                                deletehostimage(this); 
                            }); 

                            $slide.append($template);
                            $('#image_container').css('display', 'flex');
                            $('#image_container').append($slide);
                            swiper.appendSlide($slide); 
                            swiper.update();
                            updateNavigationButtons(swiper);
                        };
                        reader.readAsDataURL(file);
                    }
                }  
            });

            $('#image_container').on('click', '.delete-image-btn', function() { // .delete-image-btn 클래스를 가진 버튼에 대한 클릭 이벤트 처리
                deletehostimage(this); 
            });

            // 전역 함수로 정의
            window.deletehostimage = function(button) {
              var $slide = $(button).closest('.swiper-slide');
              var slideIndex = swiper.getSlideIndex($slide[0]); // Swiper.realIndex 사용

              console.log("Deleting slide at index: " + slideIndex);

              selectedFiles.splice(slideIndex, 1);

              swiper.removeSlide(slideIndex); 
              swiper.update(); 

              console.log("Slide removed. Total slides: " + swiper.slides.length);
              console.log(swiper.slides); // Swiper 업데이트 확인

              updateNavigationButtons(swiper);

              if (swiper.slides.length === 0) {
                  $('#image_container').hide();
              }
            };
        });

        // roomType 값을 가져오는 함수
        function getRoomType() {
                if (roomTypeSelect.val() === 'custom') {
                    return customRoomTypeInput.val();
                } else {
                    return roomTypeSelect.val();
                }
            }
      
        function saveroominforeg() {
            var formData = new FormData();

            // 유효성 검사
            var roomName = $('#roomName').val().trim();
            var roomType = getRoomType();
            var roomPerson = $('#roomPerson').val();
            var regularPrice = $('#regularPrice').val().replace(/\s+/g, '');
            var semiPeakPrice = $('#semiPeak').val().replace(/\s+/g, '');
            var peakPrice = $('#peak').val().replace(/\s+/g, '');

            if (!roomName) {
              alert("객실 이름을 입력해주세요.");
              return;
            }
            if (!roomType) {
              alert("객실 유형을 선택해주세요.");
              return;
            }
            if (!roomPerson) {
              alert("객실 인원을 선택해주세요.");
              return;
            }
            if (!regularPrice) {
              alert("기본(비수기) 가격을 입력해주세요.");
              return;
            }
            if ($('#semiPeakCheck').is(':visible') && !semiPeakPrice) {
              alert("준성수기 가격을 입력해주세요.");
              return;
            }
            if ($('#peakCheck').is(':visible') && !peakPrice) {
              alert("성수기 가격을 입력해주세요.");
              return;
            }

            var roomRegDTO = {
                roomInfo: {
                    id: null,
                    roomName: $('#roomName').val(),
                    roomType: getRoomType(),
                    roomIntro: $('#roomIntro').val(),
                    roomPerson: $('#roomPerson').val()
                  },
                price: {
                  regularPrice: $('#regularPrice').val(),
                  peakVo: {
                    peakPrice: $('#peakPrice').val()
                  },
                  semi: {
                    semiPrice: $('#semiPrice').val()
                  }
                },  
                images: [] 
              };
              console.log(roomPerson);
            // JSON 데이터를 FormData에 추가
           formData.append('roomRegDTO', new Blob([JSON.stringify(roomRegDTO)], { type: 'application/json; charset=utf-8' }));  
            
            var files = $('#fileInput')[0].files;
            console.log(files.length);
            for (var i = 0; i < files.length; i++) {
                formData.append('images', files[i]);
            }

            $.ajax({
                url: '/host/roominforeg', 
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert('저장되었습니다.'); 
                    $.ajax({
                            url: '/host/updateSession',
                            type: 'POST',
                            success: function(sessionResponse) {
                                if (sessionResponse === 'success') {
                                  location.reload();
                                }
                            },
                            error: function(error) {
                                console.error('Error updating session:', error);
                            }
                        });
                },
                error: function (error) {
                    alert('저장 실패하였습니다.');
                }
            });
        }  
    </script>
  </body>
</html>
