<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/host}"
      layout:fragment="host">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div
      class="w-full relative bg-[#fff] overflow-y-auto flex flex-row items-start justify-start leading-[normal] tracking-[normal]"
    >
      <main
        class="flex-1 bg-[#e4e7eb] flex flex-col items-center justify-start pt-[102px] px-[20px] pb-[100px] box-border gap-[121px] max-w-full lg:gap-[60px] lg:pt-[66px] lg:pb-[65px] lg:box-border mq450:gap-[15px] mq450:pt-[28px] mq450:pb-[27px] mq450:box-border mq750:gap-[30px] mq1050:pt-[43px] mq1050:pb-[42px] mq1050:box-border"
      >
        <div th:insert="~{component/step/host_step}"/>
        <section
          class="w-[1200px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-start pt-[100px] px-[120px] pb-[125px] box-border gap-[120px] max-w-full text-left text-[60px] text-[#000] font-[Roboto] lg:pt-[65px] lg:pb-[81px] lg:box-border mq450:gap-[41px] mq450:pt-[27px] mq450:px-[30px] mq450:pb-[34px] mq450:box-border mq1050:gap-[82px] mq1050:pt-[42px] mq1050:px-[60px] mq1050:pb-[53px] mq1050:box-border"
        >
          <h1
            class="pt-[30px] m-[0px] w-[301px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center mq450:text-[36px] mq450:leading-[14px] mq1050:text-[48px] mq1050:leading-[19px]"
          >
            마이페이지
          </h1>
          <div
            class="w-[689px] flex flex-col items-start justify-start gap-[130px] max-w-full text-[25px] mq450:gap-[32px] mq750:gap-[65px]"
          >
            <div
              class="self-stretch flex flex-row items-start justify-end py-[0px] pl-[0px] pr-[11px] box-border max-w-full"
            >
              <div
                class="flex-1 flex flex-col items-start justify-start gap-[75px] max-w-full mq450:gap-[19px] mq750:gap-[37px]"
              >
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] w-[120px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                  >
                    숙소명 :
                  </h3>
                  <div
                    class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                        placeholder="숙소명"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] w-[120px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                  >
                    아이디 :
                  </h3>
                  <div
                    class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                        placeholder="아이디"
                        type="text"
                        disabled
                        th:value="${session.adminMember != null ? session.adminMember.adId : 'Guest'}"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]"
                  >
                    비밀번호 :
                  </h3>
                  <div
                    class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                        <input
                        id="pw"
                        name="pw"
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[16px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.87)] min-w-[24px] min-h-[24px]"
                        placeholder="**********"
                        type="password"
                        />  
                    </div>
                  </div>
                </div>
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[19px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center mq450:text-[20px] mq450:leading-[19px]"
                  >
                    비밀번호 확인 :
                  </h3>
                  <div
                    class="w-[303px] h-[40px] flex flex-row items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                  <div
                  class=" flex flex-row self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                >
                    <input
                    id="pw_check"
                    class="w-[200px] [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[16px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.87)] min-w-[24px] min-h-[24px]"
                    placeholder="**********"
                    type="password"
                    />  
                    <div 
                      class="w-[80px] h-[40px] flex flex-row items-center justify-center py-[0px] pr-[0px]"
                        >
                        <div
                        id="pw_checkresult"
                        name="pw_checkresult"
                        class="h-[40px] relative text-[12px] text-[#f5455c] flex items-center min-w-[34px] whitespace-nowrap"
                      >
                      </div>
                      </div>
                  </div>
                  </div>
                </div>
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]"
                  >
                    담당자명 :
                  </h3>
                  <div
                    class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                        placeholder="담당자명"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="w-[617px] flex flex-row items-center justify-between gap-[15px] max-w-full mq1050:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] w-[175px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                  >
                    담당자 이메일 :
                  </h3>
                  <div
                    class="w-[303px] flex flex-row items-center justify-center text-[16px] text-[rgba(0,0,0,0.87)]"
                  >
                    <div
                      class="h-[40px] flex-1 rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <div
                        class="h-[40px] self-stretch overflow-hidden flex flex-row items-center justify-between px-[10px] box-border min-w-[24px] min-h-[24px] gap-[-22px] [row-gap:20px] mq450:flex-wrap"
                      >
                        <input
                        class="w-[175px] [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start px-[0px] box-border font-[Roboto] text-[15px] text-[rgba(0,0,0,0.87)] min-w-[24px] min-h-[24px]"
                        id="email"
                        name="email"
                        placeholder="**********"
                        type="text"
                        th:value="${session.adminMember != null ? session.adminMember.adminProfile.email : ''}"
                      />
                        <div
                          class="h-[40px] relative text-[12px] text-[#f5455c] flex items-center min-w-[34px] whitespace-nowrap"
                          id="timer"
                        >
                        </div>      
                      </div>
                    </div>
                  </div>
                  <div
                    class="h-[40px] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] bg-[#2196f3] overflow-hidden flex flex-col items-center justify-center py-[7px] px-[9px] text-[15px] text-[#fff]"
                  >
                    <button
                    type="button"
                    class="button_1 cursor-pointer"
                    onclick="sendEmailAndStartTimer"
                    id="verification"
                  >
                    <div class="flex flex-row items-center justify-center">
                      <div
                        class="relative tracking-[0.1px] leading-[20px] font-medium inline-block min-w-[82px] whitespace-nowrap"
                      >
                        인증번호 전송
                      </div>
                    </div>
                    </button>  
                  </div>
                </div>
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[19px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center mq450:text-[20px] mq450:leading-[19px]"
                  >
                    인증번호 확인 :
                  </h3>
                  <div
                    class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                        placeholder="인증번호 확인"
                        type="text"
                        id="email_check"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] w-[154px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                  >
                    숙소 URL :
                  </h3>
                  <div
                    class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                        placeholder="숙소 URL"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq750:flex-wrap"
                >
                  <h3
                    class="m-[0px] h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]"
                  >
                    대표번호 :
                  </h3>
                  <div
                    class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                        placeholder="대표번호( - 제외)"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[70px] max-w-full mq450:gap-[17px] mq750:gap-[35px]"
                >
                  <h3
                    class="m-[0px] h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]"
                  >
                    정산 계좌 :
                  </h3>
                  <div
                    class="flex-1 flex flex-col items-start justify-start gap-[30px] min-w-[317px] max-w-full text-[16px] text-[rgba(0,0,0,0.87)]"
                  >
                    <div
                      class="w-[220px] rounded-[4px] box-border flex flex-row items-start justify-start relative"
                    >
                    <div class="w-[220px] flex flex-row items-start justify-start">
                      <div class="w-[220px] dropdown w-full h-auto">
                        <select class="w-[220px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid form-select" id="bankSelect">
                          <option value="" disabled selected>은행 선택</option>
                          <option value="국민은행">국민은행</option>
                          <option value="농협은행">농협은행</option>
                          <option value="우리은행">우리은행</option>
                          <option value="신한은행">신한은행</option>
                          <option value="기업은행">기업은행</option>
                        </select>
                      </div>
                    </div>
                      
                    </div>
                    <div
                      class="w-[303px] flex flex-col items-start justify-start text-[12px] text-[rgba(0,0,0,0.6)]"
                    >
                      <div
                        class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                      >
                        <input
                          class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                          placeholder="예금주"
                          type="text"
                        />
                      </div>
                    </div>
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[0px] px-[11px] max-w-full"
                    >
                      <div
                        class="flex-1 overflow-hidden flex flex-row items-start justify-start py-[8px] px-[0px] box-border relative min-h-[24px] max-w-full"
                      >
                        <div
                          class="h-[24px] w-[32px] !m-[0] absolute top-[calc(50%_-_12px)] left-[0px]"
                        ></div>
                        <div
                          class="flex-1 flex flex-row items-start justify-start relative max-w-full"
                        >
                          <input
                            class="w-full [border:none] [outline:none] font-[Roboto] text-[16px] bg-[transparent] h-[24px] flex-1 relative tracking-[0.15px] leading-[24px] text-[rgba(0,0,0,0.6)] text-left inline-block min-w-[250px] max-w-full p-[0px]"
                            placeholder="계좌번호( - 제외)"
                            type="text"
                          />

                          <div
                            class="h-full w-[24px] !m-[0] absolute top-[0px] bottom-[0px] left-[172px]"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="ml-[320px] w-[300px] flex flex-row items-center justify-between gap-[20px]"
            >
              <button
                class="cursor-pointer [border:none] py-[8px] px-[21px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-col items-center justify-center"
              >
                <div
                  class="flex flex-row items-center justify-center gap-[8px]"
                >
                  <div
                    class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff] text-left inline-block min-w-[31px]"
                  >
                    저장
                  </div>
                </div>
              </button>
              <button
                class="cursor-pointer border-[rgba(33,150,243,0.5)] border-[1px] border-solid py-[6px] px-[20px] bg-[transparent] w-[73px] rounded-[4px] box-border overflow-hidden shrink-0 flex flex-col items-center justify-center"
              >
                <div
                  class="flex flex-row items-center justify-center gap-[8px]"
                >
                  <div
                    class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#2196f3] text-left inline-block min-w-[31px]"
                  >
                    취소
                  </div>
                </div>
              </button>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <script>
    $("#email").on("keyup", function () {
      $(this).val($(this).val().replace(/[^a-z0-9@._-]/g, ""));
    });
        
    let originalEmail = "${session.adminMember != null ? session.adminMember.adminProfile.email : ''}".trim();
    let timeLeft = 3 * 60;
    let timerId;

    function sendEmailAndStartTimer() {
      const email = $('#email').val().trim();

      if (email === "") {
        alert("이메일을 입력해주세요.");
        return;
      }

      $.ajax({
        type: "POST",
        url: "/host/emailsend",
        data: { email: email },
        success: function(data) {
          data = data.trim();
          if (data === "success") {
            alert("이메일이 성공적으로 전송되었습니다.");
            resetVerificationButton('인증번호 확인', 'verifyCode()');

            clearTimeout(timerId);
            timeLeft = 3 * 60; // 타이머 초기화
            timerId = setTimeout(updateTimer, 1000);// 타이머 시작
          }
        },
        error: function(error) {
          console.error("이메일 전송 중 오류 발생:", error);
          alert("이메일 전송 중 오류가 발생했습니다. 다시 시도해주세요.");
        }
      });
    }

    function verifyCode() {
      const email = $('#email').val().trim();
      const code = $('#email_check').val().trim();
      console.log(code);

      if (code === "") {
        alert("인증번호를 입력해주세요.");
        return;
      }

      $.ajax({
        type: "POST",
        url: "/host/emailchecknum",
        data: { code: code, email: email },
        success: function(data) {
          data = data.trim();
          console.log(data);
          if (data === "success") {
            alert("인증번호가 일치합니다.");
            sessionStorage.setItem("emailVerified", "true");
            clearTimeout(timerId);

            $('#pw').prop('disabled', false);
            $('#pw_check').prop('disabled', false);
          } 
        },
        error: function(error) {
          console.error("인증번호 검증 중 오류 발생:", error);
          alert("인증번호가 일치하지 않거나 인증번호가 만료되었습니다. 다시 요청해주세요.");
          resetVerificationButton('인증번호 전송', 'sendEmailAndStartTimer()');
          clearTimeout(timerId); // 타이머 중지
          sendEmailAndStartTimer(); // 타이머 및 이메일 재전송
          $('#email_check"').val('');
        }
      });
    }

    function updateTimer() {
      const minutes = Math.floor(timeLeft / 60);
      const seconds = timeLeft % 60;

      $('#timer').text(`${minutes}:${seconds < 10 ? '0' : ''}${seconds}`);

      if (timeLeft > 0) {
        timeLeft--;
        timerId = setTimeout(updateTimer, 1000);
      } else {
        $('#timer').text('시간 초과').css('color', 'red');
        alert("3분이 지났습니다. 인증번호를 다시 요청해주세요.");
        resetVerificationButton('인증번호 전송', 'sendEmailAndStartTimer()');
      }
    }

    function resetVerificationButton(text, onclick) {
      $('#verification > div > div').text(text);
      $('#verification').attr('onclick', onclick);
    }

    // 초기 버튼 설정
    resetVerificationButton('인증번호 전송', 'sendEmailAndStartTimer()');

    $('#pw_check').keyup(function () {
          var pw = $('#pw').val().trim();
          var pw_check = $('#pw_check').val().trim();
          if (pw == pw_check) {
              $('#pw_checkresult').text('일치').css('color', 'blue').show();
          } else {
              $('#pw_checkresult').text('불일치').css('color', 'red').show();
          }
      });
    
  </script>
  </body>
</html>
