<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/host}"
      layout:fragment="host">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
      .dt-length select {
          font-size: 12px; 
          padding: 5px; 
          height: auto; 
      }
  
      .dt-length label {
          font-size: 12px; 
          margin-left: 5px; 
      }
  
      .dt-info {
          font-size: 12px; 
      }
  
      .dt-paging button {
          font-size: 12px;
          padding: 5px 8px; 
      }

      .dt-paging a { /* 페이지 번호 스타일 */
          padding: 5px 8px;
      }

      .dt-info { 
          display: none;
      }

      a {
          text-decoration: none;
      }

  </style>
  </head>
  <body>
    <div
      class="w-full relative bg-[#e4e7eb] flex flex-row items-start justify-center py-[100px] px-[20px] box-border leading-[normal] tracking-[normal]"
    >
      <main
        class="w-[1200px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[70px] box-border max-w-full lg:pb-[45px] lg:box-border mq750:pb-[29px] mq750:box-border"
      >
        <section
          class="self-stretch flex flex-row items-start justify-start pt-[100px] px-[50px] pb-[50px] box-border gap-[10px] max-w-full text-left text-[45px] text-[rgba(0,0,0,0.87)] font-[Roboto] lg:pl-[25px] lg:pr-[25px] lg:box-border"
        >
          <div
            class="pl-[50px] flex-1 flex flex-col items-start justify-start max-w-full"
          >
            <h1
              class="m-[0px] self-stretch relative text-inherit leading-[52px] font-normal font-[inherit] mq450:text-[27px] mq450:leading-[31px] mq1050:text-[36px] mq1050:leading-[42px]"
            >
              정산관리
            </h1>
            <div
              class="self-stretch relative text-[16px] leading-[140%] font-[Inter] text-[rgba(0,0,0,0.6)]"
            >
              Payment Management
            </div>
          </div>
        </section>
        <section
          class="self-stretch flex flex-row items-start justify-start pt-[20px] px-[50px] pb-[20px] box-border max-w-full"
        >
          <div
            class="flex-1 flex flex-row items-start justify-between py-[19px] px-[50px] box-border max-w-full gap-[20px] lg:flex-wrap lg:pl-[25px] lg:pr-[25px] lg:box-border"
          >
            <form
              class="m-[0px] w-[300px] flex flex-row items-start justify-start gap-[20px] max-w-full mq750:flex-wrap"
            >
              <h3
                class="m-[0px] h-[40px] w-[41px] relative text-[20px] tracking-[0.46px] leading-[26px] uppercase font-normal font-[Roboto] text-[#000] text-left flex items-center shrink-0 mq450:text-[16px] mq450:leading-[21px]"
              >
                년도
              </h3>
             
                  <div class="w-[120px] h-[40px] flex-1 rounded-[4px] bg-[#fff] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-row items-center justify-center py-[4px]">
                    <select id="year" class="w-[100px] h-[30px] [border:none] [outline:none] h-[24px] justify-center text-[16px] text-[#6c757d]">
                    </select>
                  </div>
              <button type="button" id="search-button"
                class="cursor-pointer [border:none] py-[8px] px-[31px] bg-[#2196f3] rounded-[4px] overflow-hidden flex flex-row items-start justify-start"
              >
                <div class="flex flex-row items-start justify-start gap-[8px]">
                  <b
                    class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-[Roboto] text-[#fff] text-left min-w-[37px]"
                    >검색</b
                  >
                </div>
              </button>
            </form>
            <div
              class="w-[280px] flex flex-row items-start justify-start gap-[30px]"
            >
            <button type="button" onclick="location.href='/host/paymentdetail'"
            class="cursor-pointer border-[#2196f3] border-[1px] border-solid py-[6px] px-[25px] bg-[#fff] flex-1 rounded-[4px] overflow-hidden flex flex-row items-start justify-start"
          >
            <div class="flex flex-row items-start justify-start gap-[8px]">
              <div
                class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#2196f3] text-left inline-block min-w-[37px]"
              >
                상세보기
              </div>
            </div>
            </button>
              <button type="button" id="request-button"
                class="cursor-pointer [border:none] py-[8px] px-[25px] bg-[#2196f3] rounded-[4px] overflow-hidden flex flex-row items-start justify-start"
              >
                <div class="flex flex-row items-start justify-start gap-[8px]">
                  <b
                    class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-medium font-[Roboto] text-[#fff] text-left min-w-[37px]"
                    >정산요청</b
                  >
                </div>
              </button>
            </div>
          </div>
        </section>
        <div
              class="self-stretch h-[571px] flex flex-row items-start justify-start py-[0px] px-[5px] box-border max-w-full"
            >
              <div
                class="self-stretch flex-1 flex flex-row items-start justify-center max-w-full"
              >
              <div id="table" class="pt-[20px] px-[10px] pb-[10px] gap-[10px]">
                <table id="listTable" class="w-[1140px] text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  text-[16px] hover">
                  <thead>
                    <tr class="py-[20px] pl-[30px] pr-[634px] gap-[20px]">
                      <th data-orderable="false"><input type="checkbox" id="selectAllCheckbox"/></th>
                      <th>월</th>
                      <th>매출건수</th>
                      <th>매출금액</th>
                      <th>수수료</th>
                      <th>정산금액</th>
                      <th>정산상태</th>
                    </tr>
                  </thead>
                  <tbody class="bg-[#ffffff] pt-[100px]"></tbody>
                </table>
              </div>
              <div class="dataTables_paginate paging_simple_numbers pagination-sm"></div> 
              </div>
            </div>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="/js/datepicker-search.js"></script>
      <script>

        $(document).ready(function () {
          $('#listTable').DataTable({
            "searching": false,
      
            ajax: {
              url: '/host/paylist/getList',
              type: 'GET',
              dataSrc: 'data'
            },
      
            columns: [
              {
                data: null,
                render: function (data, type, row) {
                  return '<input type="checkbox" class="itemCheckbox" value="' + row.id + '">';
                }
              },
              { 
                data: 'month', 
              }, 
              {
                data: 'salCount',
              },
              {
                data: 'salAmount',
              },
              {
                data: 'commission',
              },
              {
                data: 'calAmount',
              },
              {
                data: 'calStatus',
                render: function (data, type, row) {
                  if (data === 'NOREQUEST') {
                    return '미요청';
                  } else if (data === 'REQUEST') {
                    return '요청';
                  } else if (data === 'APPROVE') {
                    return '승인';
                  } else if (data === 'COMPLETED') {
                    return '정산완료';
                  } 
                    return '';
                }
              },
              { data: 'year', visible: false }
            ],
            columnDefs: [{ width: 80, targets: 0 },
              {width: 130, targets: 1},
              {width: 140, targets: 2},
              {width: 180, targets: 3},
              {width: 180, targets: 4},
              {width: 180, targets: 5},
              {width: 180, targets: 6}
            ],
      
          });

      
          // 전체 선택 체크박스 이벤트 처리
          $('#selectAllCheckbox').on('click', function () {
            $('.itemCheckbox').prop('checked', this.checked);
          });
      
          // 검색 버튼 클릭 이벤트 처리
          $('#search-button').on('click', function () {
            var year = $('#year').val();
            console.log(year);
      
            // 검색 요청
            $.ajax({
              url: '/host/paylist/search',
              type: 'GET',
              data: {
                year: year
              },
              success: function (data) {
      
                console.log(data);
                var table = $('#listTable').DataTable();
                table.clear();
                table.rows.add(data.list).draw(); // data.list를 사용하여 데이터 갱신
      
              },
              error: function (error) {
                alert("검색 중 오류가 발생했습니다.");
                console.error(error);
              }
            });
          });
      
      

          // 요청 버튼 클릭 이벤트 처리
          $('#request-button').on('click', function () {
            var table = $('#listTable').DataTable();
            var selectedItems = [];
            $('.itemCheckbox:checked').each(function () {
              var row = table.row($(this).closest('tr')).data();
              selectedItems.push({
                id: row.id,
                year: row.year,
                month: row.month,
                salCount: row.salCount,
                salAmount: row.salAmount,
                commission: row.commission,
                calAmount: row.calAmount,
                calStatus: row.calStatus
              });
            });
      
            if (selectedItems.length === 0) {
              alert("요청하실 정산 건을 선택해주세요");
              return;
            }
      
            if (confirm(selectedItems.length+"건 정산 요청하시겠습니까?")) {
      
              $.ajax({
                url: '/host/paylist/request', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedItems),
              }).done(function (response) {
                alert(response.cnt+"건 정산 요청되었습니다.");
      
                console.log(response);
      
                $('#listTable').DataTable().ajax.reload();
      
              }).fail(function (error) {
                alert("정산요청 가능한 상태가 아닙니다.");
                console.error(error);
              });
            }
          });

          function yearSetting() {
                
                let select = $('#year');

                var nowYear = new Date().getFullYear();

                select.empty(); // 기존 옵션 제거

                for (var i = nowYear - 3; i < nowYear; i++) {
                select.append('<option value="' + i + '">' + i + '</option>');
                }

                select.append('<option value="' + nowYear + '" selected>' + nowYear + '</option>');
            }
            
            yearSetting();
          
        });
      
      </script>

  </body>
</html>
