<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/host}"
      layout:fragment="host">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div
      class="w-full relative bg-[#e4e7eb] flex flex-row items-start justify-center py-[100px] pl-[24px] pr-[20px] box-border leading-[normal] tracking-[normal]"
    >
      <main
        class="w-[1200px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-center pt-[95px] pb-[80px] pl-[129px] pr-[104px] box-border gap-[111px] max-w-full text-left text-[50px] text-[#000] font-[Roboto] lg:pb-[52px] lg:pl-[64px] lg:pr-[52px] lg:box-border mq450:gap-[28px] mq750:gap-[55px] mq750:pt-[40px] mq750:pb-[34px] mq750:pl-[32px] mq750:pr-[26px] mq750:box-border"
      >
        <b
          class="w-[300px] relative tracking-[0.15px] leading-[24px] flex items-center mq450:text-[30px] mq450:leading-[14px] mq1050:text-[40px] mq1050:leading-[19px]"
          >리뷰관리</b
        >
        <section
          class="self-stretch flex flex-row items-start justify-center max-w-full"
        >
          <div
            class="w-[1000px] flex flex-col items-start justify-start gap-[94.5px] max-w-full lg:gap-[47px] mq750:gap-[24px]"
          >
            <div
              class="self-stretch flex flex-col items-end justify-start gap-[44.5px] max-w-full mq750:gap-[22px]"
            >
              <form
                class="m-[0px] w-[474px] flex flex-row items-start justify-start flex-wrap content-start gap-[5px] max-w-full"
              >
                <div
                  class="w-[100px] rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[-2px] px-[12px] relative"
                >
                  <div class="h-[1px] w-[24px] hidden z-[0]"></div>
                  <div class="h-[24px] w-[71px] hidden z-[1]"></div>
                  <div
                    class="h-[24px] w-0 absolute !m-[0] top-[calc(50%_-_12px)] left-[12px]"
                  ></div>
                  <div
                    class="flex-1 flex flex-row items-start justify-start relative"
                  >
                    <div
                      class="flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left"
                    >
                      제목
                    </div>
                    <img
                      class="h-full w-[24px] absolute !m-[0] top-[0px] right-[0px] bottom-[0px] max-h-full overflow-hidden shrink-0 z-[1]"
                      alt=""
                      src="/image/host/arrowdropdownfilled.svg"
                    />
                  </div>
                  <div
                    class="self-stretch flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.38)] text-left hidden z-[4]"
                  >
                    Placeholder
                  </div>
                  <div
                    class="h-0 w-[24px] absolute !m-[0] top-[calc(50%_-_0px)] right-[12px]"
                  ></div>
                  <div class="hidden flex-row items-start justify-start z-[6]">
                    <img
                      class="h-[20px] w-[20px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/image/host/closefilled.svg"
                    />
                  </div>
                </div>
                <div
                  class="flex-1 flex flex-col items-start justify-start py-[0px] px-[10px] box-border min-w-[189px]"
                >
                  <div
                    class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                  >
                    <input
                      class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[148px] min-h-[24px]"
                      placeholder="검색어를 입력하세요."
                      type="text"
                    />
                  </div>
                  <div
                    class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border"
                  >
                    <div
                      class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
                    >
                      Helper text
                    </div>
                  </div>
                </div>
                <button
                  class="cursor-pointer [border:none] py-[7px] px-[21px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-row items-start justify-start"
                >
                  <div
                    class="flex flex-row items-start justify-start gap-[8px]"
                  >
                    <img
                      class="h-[22px] w-[18px] relative hidden"
                      alt=""
                      src="/image/host/masked-icon.svg"
                    />

                    <div
                      class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff] text-left inline-block min-w-[31px]"
                    >
                      검색
                    </div>
                    <img
                      class="h-[22px] w-[18px] relative hidden"
                      alt=""
                      src="/image/host/masked-icon1.svg"
                    />
                  </div>
                </button>
              </form>
              <div
                class="self-stretch h-[571px] flex flex-row items-start justify-start max-w-full"
              >
                <div
                  class="self-stretch w-[1004px] flex flex-row items-center justify-center bg-[url('/image/host/tables.png')] bg-cover bg-no-repeat bg-[top] max-w-full"
                >
                  <img
                    class="w-[1010.9px] relative max-h-full object-cover hidden max-w-full"
                    alt=""
                    src="/image/host/tables.png"
                  />
                </div>
              </div>
            </div>
            <footer
              class="w-[996px] flex flex-row items-start justify-center py-[0px] px-[20px] box-border max-w-full text-center text-[14px] text-[rgba(0,0,0,0.87)] font-[Roboto]"
            >
              <div
                class="overflow-hidden flex flex-row items-start justify-start gap-[10px] max-w-full mq750:flex-wrap"
              >
                <img
                  class="h-[40px] w-[40px] relative overflow-hidden shrink-0 min-h-[40px]"
                  loading="lazy"
                  alt=""
                  src="/image/host/paginationitem.svg"
                />

                <img
                  class="h-[40px] w-[40px] relative overflow-hidden shrink-0 min-h-[40px]"
                  loading="lazy"
                  alt=""
                  src="/image/host/paginationitem-1.svg"
                />

                <div
                  class="overflow-hidden flex flex-row items-start justify-start text-[#fff]"
                >
                  <div
                    class="rounded-[4px] bg-[#2196f3] overflow-hidden flex flex-row items-start justify-start pt-[10px] pb-[9px] pl-[16px] pr-[15px]"
                  >
                    <div
                      class="relative tracking-[0.17px] leading-[21px] inline-block min-w-[9px]"
                    >
                      1
                    </div>
                  </div>
                </div>
                <div
                  class="overflow-hidden flex flex-row items-start justify-start"
                >
                  <div
                    class="rounded-[4px] overflow-hidden flex flex-row items-start justify-start pt-[10px] pb-[9px] pl-[16px] pr-[15px]"
                  >
                    <div
                      class="relative tracking-[0.17px] leading-[21px] inline-block min-w-[9px]"
                    >
                      2
                    </div>
                  </div>
                </div>
                <div
                  class="overflow-hidden flex flex-row items-start justify-start"
                >
                  <div
                    class="rounded-[4px] overflow-hidden flex flex-row items-start justify-start pt-[10px] pb-[9px] pl-[16px] pr-[15px]"
                  >
                    <div
                      class="relative tracking-[0.17px] leading-[21px] inline-block min-w-[9px]"
                    >
                      3
                    </div>
                  </div>
                </div>
                <div
                  class="overflow-hidden flex flex-row items-start justify-start"
                >
                  <div
                    class="rounded-[4px] overflow-hidden flex flex-row items-start justify-start pt-[10px] pb-[9px] pl-[16px] pr-[15px]"
                  >
                    <div
                      class="relative tracking-[0.17px] leading-[21px] inline-block min-w-[9px]"
                    >
                      4
                    </div>
                  </div>
                </div>
                <div
                  class="overflow-hidden flex flex-row items-start justify-start"
                >
                  <div
                    class="rounded-[4px] overflow-hidden flex flex-row items-start justify-start pt-[10px] pb-[9px] pl-[16px] pr-[15px]"
                  >
                    <div
                      class="relative tracking-[0.17px] leading-[21px] inline-block min-w-[9px]"
                    >
                      5
                    </div>
                  </div>
                </div>
                <div
                  class="overflow-hidden flex flex-row items-start justify-start"
                >
                  <div
                    class="rounded-[4px] overflow-hidden flex flex-row items-start justify-start pt-[10px] pb-[9px] pl-[16px] pr-[15px]"
                  >
                    <div
                      class="relative tracking-[0.17px] leading-[21px] inline-block min-w-[9px]"
                    >
                      6
                    </div>
                  </div>
                </div>
                <div
                  class="overflow-hidden flex flex-row items-start justify-start"
                >
                  <div
                    class="rounded-[4px] overflow-hidden flex flex-row items-start justify-start pt-[10px] pb-[9px] pl-[16px] pr-[15px]"
                  >
                    <div
                      class="relative tracking-[0.17px] leading-[21px] inline-block min-w-[9px]"
                    >
                      7
                    </div>
                  </div>
                </div>
                <img
                  class="h-[40px] w-[40px] relative overflow-hidden shrink-0 min-h-[40px]"
                  loading="lazy"
                  alt=""
                  src="/image/host/paginationitem-1.svg"
                />

                <img
                  class="h-[40px] w-[40px] relative overflow-hidden shrink-0 min-h-[40px]"
                  loading="lazy"
                  alt=""
                  src="/image/host/paginationitem-3.svg"
                />
              </div>
            </footer>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
