<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/host}"
      layout:fragment="host">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div
      class="w-full relative bg-[#e4e7eb] flex flex-col items-center justify-center py-[102px] px-[279px] box-border gap-[119px] leading-[normal] tracking-[normal] mq1125:gap-[59px] mq1125:pl-[139px] mq1125:pr-[139px] mq1125:box-border mq800:gap-[30px] mq800:pl-[69px] mq800:pr-[69px] mq800:box-border"
    >
      <section
        class="w-[1200px] h-[177px] flex flex-row items-start justify-start py-[0px] px-[10px] box-border max-w-full"
      >
        <header
          class="flex-1 rounded-[30px] bg-[#fff] flex flex-col items-center justify-center max-w-full"
        >
          <img
            class="w-[1052.6px] relative max-h-full object-cover max-w-full"
            loading="lazy"
            alt=""
            src="/image/host/image-20@2x.png"
          />
        </header>
      </section>
      <section
        class="w-[1200px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-start pt-[102px] px-[120px] pb-[94px] box-border gap-[139px] max-w-full text-left text-[60px] text-[#000] font-[Roboto] mq1325:gap-[69px] mq1325:pt-[66px] mq1325:px-[60px] mq1325:pb-[61px] mq1325:box-border mq450:gap-[17px] mq800:gap-[35px] mq800:pt-[43px] mq800:px-[30px] mq800:pb-[40px] mq800:box-border"
      >
        <div
          class="w-[399px] flex flex-row items-start justify-start pt-[0px] px-[1px] pb-[10px] box-border max-w-full"
        >
          <h1
            class="m-[0px] flex-1 relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] inline-block max-w-full mq450:text-[36px] mq450:leading-[14px] mq800:text-[48px] mq800:leading-[19px]"
          >
            이용규칙 관리
          </h1>
        </div>
        <form
          class="m-[0px] w-[823px] flex flex-col items-start justify-start gap-[30px] max-w-full"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[25px] max-w-full"
          >
            <div
              class="w-[547px] flex flex-row items-start justify-start flex-wrap content-start pt-[0px] px-[0px] pb-[5px] box-border gap-[79px] max-w-full mq450:gap-[20px] mq800:gap-[39px]"
            >
              <h3
                class="m-[0px] h-[50px] w-[165px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000] text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
              >
                체크인 시간 :
              </h3>
              <div
                class="flex-1 rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[0px] px-[12px] relative min-w-[197px]"
              >
                <div class="h-[1px] w-[24px] hidden z-[0]"></div>
                <div class="h-[24px] w-[71px] hidden z-[1]"></div>
                <div class="w-[239px] flex flex-row items-start justify-start">
                  <div class="h-[24px] w-0 relative hidden"></div>
                  <div
                    class="h-[50px] flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left flex items-center"
                  >
                    체크인 시간
                  </div>
                </div>
                <div
                  class="flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.38)] text-left hidden z-[3]"
                >
                  Placeholder
                </div>
                <div class="h-0 w-[24px] relative hidden z-[4]"></div>
                <img
                  class="h-full w-[40px] absolute !m-[0] top-[0px] right-[12px] bottom-[0px] max-h-full overflow-hidden shrink-0 z-[1]"
                  alt=""
                  src="/image/host/arrowdropdownfilled.svg"
                />

                <div class="hidden flex-row items-start justify-start z-[6]">
                  <img
                    class="h-[20px] w-[20px] relative overflow-hidden shrink-0"
                    alt=""
                    src="/image/host/closefilled.svg"
                  />
                </div>
              </div>
            </div>
            <div
              class="w-[547px] flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[5px] box-border max-w-full"
            >
              <div
                class="flex-1 flex flex-row items-start justify-start flex-wrap content-start gap-[58px] max-w-full mq800:gap-[29px]"
              >
                <h3
                  class="m-[0px] h-[50px] w-[186px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000] text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                >
                  체크아웃 시간 :
                </h3>
                <div
                  class="flex-1 rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[0px] px-[12px] relative min-w-[197px]"
                >
                  <div class="h-[1px] w-[24px] hidden z-[0]"></div>
                  <div class="h-[24px] w-[71px] hidden z-[1]"></div>
                  <div
                    class="w-[239px] flex flex-row items-start justify-start"
                  >
                    <div class="h-[24px] w-0 relative hidden"></div>
                    <div
                      class="h-[50px] flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left flex items-center"
                    >
                      체크아웃 시간
                    </div>
                  </div>
                  <div
                    class="flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.38)] text-left hidden z-[3]"
                  >
                    Placeholder
                  </div>
                  <div class="h-0 w-[24px] relative hidden z-[4]"></div>
                  <img
                    class="h-full w-[40px] absolute !m-[0] top-[0px] right-[12px] bottom-[0px] max-h-full overflow-hidden shrink-0 z-[1]"
                    alt=""
                    src="/image/host/arrowdropdownfilled.svg"
                  />

                  <div class="hidden flex-row items-start justify-start z-[6]">
                    <img
                      class="h-[20px] w-[20px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/image/host/closefilled.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-[550px] flex flex-col items-start justify-center py-[0px] pl-[0px] pr-[3px] box-border max-w-full"
            >
              <div
                class="self-stretch flex flex-row items-center justify-start flex-wrap content-center py-[0px] px-[0px] gap-[75px] mq450:gap-[19px] mq800:gap-[37px]"
              >
                <h3
                  class="m-[0px] h-[50px] w-[164px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000] text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                >
                  성수기 설정 :
                </h3>
                <div
                  class="flex-1 flex flex-row items-center justify-between min-w-[198px] gap-[20px] mq450:flex-wrap"
                >
                  <div
                    class="h-[50px] w-[99px] flex flex-row items-center justify-start py-[12.5px] px-[0px] box-border"
                  >
                    <div
                      class="self-stretch w-[42px] flex flex-row items-center justify-start py-[0px] px-[0px] box-border"
                    >
                      <div
                        class="h-[42px] w-[42px] overflow-hidden shrink-0 flex flex-row items-center justify-start"
                      >
                        <div
                          class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-center justify-start p-[9px] box-border"
                        >
                          <img
                            class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                            alt=""
                            src="/image/host/-hidden.svg"
                          />
                        </div>
                      </div>
                      <div class="hidden flex-col items-start justify-start">
                        <div
                          class="relative text-[16px] tracking-[0.15px] leading-[150%] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left"
                        >
                          설정
                        </div>
                      </div>
                    </div>
                    <div
                      class="flex-1 relative text-[20px] tracking-[0.46px] leading-[26px] uppercase font-[Roboto] text-[#000] text-left mq450:text-[16px] mq450:leading-[21px]"
                    >
                      설정
                    </div>
                  </div>
                  <div
                    class="h-[50px] w-[100px] flex flex-row items-center justify-start py-[12.5px] px-[0px] box-border"
                  >
                    <div
                      class="self-stretch w-[42px] flex flex-row items-center justify-start py-[0px] px-[0px] box-border"
                    >
                      <div
                        class="h-[42px] w-[42px] overflow-hidden shrink-0 flex flex-row items-center justify-start"
                      >
                        <div
                          class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-center justify-start p-[9px] box-border"
                        >
                          <img
                            class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                            alt=""
                            src="/image/host/-hidden.svg"
                          />
                        </div>
                      </div>
                      <div class="hidden flex-col items-start justify-start">
                        <div
                          class="relative text-[16px] tracking-[0.15px] leading-[150%] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left"
                        >
                          설정
                        </div>
                      </div>
                    </div>
                    <div
                      class="flex-1 relative text-[20px] tracking-[0.46px] leading-[26px] uppercase font-[Roboto] text-[#000] text-left mq450:text-[16px] mq450:leading-[21px]"
                    >
                      <p class="m-[0px]">미설정</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-end justify-start gap-[25px] max-w-full"
            >
              <div
                class="w-[573px] flex flex-row items-start justify-start flex-wrap content-start gap-[24.5px] max-w-full"
              >
                <div
                  class="relative text-[20px] tracking-[0.46px] leading-[50px] uppercase font-[Roboto] text-[#000] text-left inline-block min-w-[82px] mq450:text-[16px] mq450:leading-[21px]"
                >
                  준성수기
                </div>
                <div
                  class="flex-1 flex flex-col items-start justify-start pt-[5px] px-[0px] pb-[0px] box-border min-w-[97px]"
                >
                  <div
                    class="self-stretch flex flex-col items-start justify-start"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[76px] min-h-[24px]"
                        placeholder="준성수기 시작일"
                        type="text"
                      />
                    </div>
                    <div
                      class="self-stretch hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px]"
                    >
                      <div
                        class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
                      >
                        Helper text
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col items-start justify-start pt-[5px] px-[0px] pb-[0px]"
                >
                  <div
                    class="relative text-[20px] tracking-[0.46px] leading-[26px] uppercase font-[Roboto] text-[#000] text-left inline-block min-w-[15px] mq450:text-[16px] mq450:leading-[21px]"
                  >
                    ~
                  </div>
                </div>
                <div
                  class="flex-1 flex flex-col items-start justify-start pt-[5px] px-[0px] pb-[0px] box-border min-w-[97px]"
                >
                  <div
                    class="self-stretch flex flex-col items-start justify-start"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <input
                        class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[76px] min-h-[24px]"
                        placeholder="준성수기 종료일"
                        type="text"
                      />
                    </div>
                    <div
                      class="self-stretch hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px]"
                    >
                      <div
                        class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
                      >
                        Helper text
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col items-start justify-start pt-[5px] px-[0px] pb-[0px]"
                >
                  <button
                    class="cursor-pointer [border:none] py-[7px] px-[20px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-row items-start justify-start"
                  >
                    <div
                      class="flex flex-row items-start justify-start gap-[8px]"
                    >
                      <b
                        class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-[Roboto] text-[#fff] text-left min-w-[37px]"
                        >삭제</b
                      >
                    </div>
                  </button>
                </div>
              </div>
              <div
                class="self-stretch flex flex-row items-start justify-start max-w-full"
              >
                <div
                  class="w-[593px] flex flex-col items-start justify-end py-[0px] px-[250px] box-border max-w-full mq450:pl-[20px] mq450:pr-[20px] mq450:box-border mq800:pl-[125px] mq800:pr-[125px] mq800:box-border"
                >
                  <button
                    class="cursor-pointer border-[rgba(33,150,243,0.5)] border-[1px] border-solid py-[5px] px-[19px] bg-[transparent] self-stretch rounded-[4px] overflow-hidden flex flex-col items-center justify-center"
                  >
                    <div
                      class="flex flex-row items-center justify-center gap-[8px]"
                    >

                      <b
                        class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-[Roboto] text-[#2196f3] text-left min-w-[53px]"
                        >+ 추가</b
                      >

                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[5px] max-w-full"
          >
            <div
              class="flex-1 flex flex-col items-start justify-start gap-[30px] max-w-full mq1325:min-w-full"
            >
              <div
                class="self-stretch flex flex-row items-start justify-end py-[0px] px-[20px] box-border max-w-full"
              >
                <div
                  class="w-[470px] flex flex-row items-start justify-start gap-[25px] max-w-full mq800:flex-wrap"
                >
                  <div
                    class="h-[40px] w-[80px] relative text-[20px] tracking-[0.46px] leading-[26px] uppercase font-[Roboto] text-[#000] text-left flex items-center shrink-0 mq450:text-[16px] mq450:leading-[21px]"
                  >
                    성수기
                  </div>
                  <div
                    class="flex-1 flex flex-col items-start justify-start min-w-[97px]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <div
                        class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[8px] px-[0px] box-border min-h-[24px]"
                      >
                        <div
                          class="h-[24px] w-[32px] hidden flex-row items-center justify-start py-[0px] pl-[0px] pr-[8px] box-border"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                        <div
                          class="flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left"
                        >
                          성수기 시작일
                        </div>
                        <div
                          class="h-[24px] w-[24px] hidden flex-row items-center justify-center"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="self-stretch hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px]"
                    >
                      <div
                        class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
                      >
                        Helper text
                      </div>
                    </div>
                  </div>
                  <div
                    class="relative text-[20px] tracking-[0.46px] leading-[26px] uppercase font-[Roboto] text-[#000] text-left inline-block min-w-[15px] mq450:text-[16px] mq450:leading-[21px] mq800:w-full mq800:h-[15px]"
                  >
                    ~
                  </div>
                  <div
                    class="flex-1 flex flex-col items-start justify-start min-w-[97px]"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
                    >
                      <div
                        class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[8px] px-[0px] box-border min-h-[24px]"
                      >
                        <div
                          class="h-[24px] w-[32px] hidden flex-row items-center justify-start py-[0px] pl-[0px] pr-[8px] box-border"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                        <div
                          class="flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left"
                        >
                          성수기 종료일
                        </div>
                        <div
                          class="h-[24px] w-[24px] hidden flex-row items-center justify-center"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="self-stretch hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px]"
                    >
                      <div
                        class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
                      >
                        Helper text
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="w-[593px] flex flex-col items-start justify-end py-[0px] px-[250px] box-border max-w-full mq450:pl-[20px] mq450:pr-[20px] mq450:box-border mq800:pl-[125px] mq800:pr-[125px] mq800:box-border"
              >
                <button
                  class="cursor-pointer border-[rgba(33,150,243,0.5)] border-[1px] border-solid py-[5px] px-[19px] bg-[transparent] self-stretch rounded-[4px] overflow-hidden flex flex-col items-center justify-center"
                >
                  <div
                    class="flex flex-row items-center justify-center gap-[8px]"
                  >
                    <b
                      class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-[Roboto] text-[#2196f3] text-left min-w-[53px]"
                      >+ 추가</b
                    >
                  </div>
                </button>
              </div>
              <div
                class="self-stretch flex flex-row items-start justify-start gap-[44px] max-w-full mq1125:flex-wrap mq800:gap-[22px]"
              >
                <h3
                  class="m-[0px] h-[50px] w-[200px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000] text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                >
                  숙소 이용 규칙 :
                </h3>
                <div
                  class="flex-1 flex flex-row items-start justify-start min-w-[322px] max-w-full [row-gap:20px] mq800:flex-wrap"
                >
                  <div
                    class="flex-1 flex flex-col items-start justify-start relative min-w-[313px] max-w-full"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-col items-start justify-start py-[0px] px-[11px] max-w-full mq1125:self-stretch mq1125:w-auto"
                    >
                      <div
                        class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[16px] px-[0px] box-border min-w-[24px] min-h-[24px] max-w-full"
                      >
                        <div
                          class="h-[64px] w-[32px] hidden flex-row items-center justify-start py-[20px] pl-[0px] pr-[8px] box-border"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                        <div
                          class="h-[168px] flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left inline-block max-w-full"
                        >
                          It is a long established fact that a reader will be
                          distracted by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal distribution of
                          letters, as opposed to using 'Content here, content
                          here', making it look like readable English.
                        </div>
                        <div
                          class="w-[98px] relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.38)] text-left hidden"
                        >
                          Placeholder
                        </div>
                        <div
                          class="h-[64px] w-[24px] hidden flex-row items-center justify-start py-[20px] px-[0px] box-border"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="h-[2px] !m-[0] absolute top-[0px] left-[12px] bg-[#fff] flex flex-row items-center justify-start py-[0px] px-[4px] box-border z-[1]"
                    >
                      <div
                        class="relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left inline-block min-w-[30px]"
                      >
                        Label
                      </div>
                    </div>
                    <div
                      class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border z-[2]"
                    >
                      <div
                        class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
                      >
                        Helper text
                      </div>
                    </div>
                  </div>
                  <div
                    class="shadow-[1px_0px_0px_rgba(0,_0,_0,_0.12)_inset] bg-[#eee] flex flex-row items-start justify-start pt-[4px] px-[4px] pb-[152px] mq800:w-full mq800:h-[15px]"
                  >
                    <div
                      class="h-[44px] w-[7px] relative rounded-[4px] bg-[#bdbdbd]"
                    ></div>
                  </div>
                </div>
              </div>
              <div
                class="self-stretch flex flex-row items-start justify-start max-w-full [row-gap:20px] mq1125:flex-wrap"
              >
                <b
                  class="h-[40px] w-[240px] relative text-[24.5px] tracking-[0.15px] leading-[24px] flex font-[Roboto] text-[#000] text-left items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]"
                  >현장 요금 추가 정보 :
                </b>
                <div
                  class="flex-1 flex flex-row items-start justify-start min-w-[325px] max-w-full [row-gap:20px] mq800:flex-wrap"
                >
                  <div
                    class="flex-1 flex flex-col items-start justify-start relative min-w-[315px] max-w-full"
                  >
                    <div
                      class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-col items-start justify-start py-[0px] px-[11px] max-w-full mq1125:self-stretch mq1125:w-auto"
                    >
                      <div
                        class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[16px] px-[0px] box-border min-w-[24px] min-h-[24px] max-w-full"
                      >
                        <div
                          class="h-[64px] w-[32px] hidden flex-row items-center justify-start py-[20px] pl-[0px] pr-[8px] box-border"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                        <div
                          class="h-[168px] flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left inline-block max-w-full"
                        >
                          It is a long established fact that a reader will be
                          distracted by the readable content of a page when
                          looking at its layout. The point of using Lorem Ipsum
                          is that it has a more-or-less normal distribution of
                          letters, as opposed to using 'Content here, content
                          here', making it look like readable English.
                        </div>
                        <div
                          class="w-[98px] relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.38)] text-left hidden"
                        >
                          Placeholder
                        </div>
                        <div
                          class="h-[64px] w-[24px] hidden flex-row items-center justify-start py-[20px] px-[0px] box-border"
                        >
                          <div
                            class="hidden flex-row items-start justify-start"
                          >
                            <img
                              class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                              alt=""
                              src="/image/host/starsharp-2.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="h-[2px] !m-[0] absolute top-[0px] left-[12px] bg-[#fff] flex flex-row items-center justify-start py-[0px] px-[4px] box-border z-[1]"
                    >
                      <div
                        class="relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left inline-block min-w-[30px]"
                      >
                        Label
                      </div>
                    </div>
                    <div
                      class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border z-[2]"
                    >
                      <div
                        class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
                      >
                        Helper text
                      </div>
                    </div>
                  </div>
                  <div
                    class="shadow-[1px_0px_0px_rgba(0,_0,_0,_0.12)_inset] bg-[#eee] flex flex-row items-start justify-start pt-[4px] px-[4px] pb-[152px] mq800:w-full mq800:h-[15px]"
                  >
                    <div
                      class="h-[44px] w-[7px] relative rounded-[4px] bg-[#bdbdbd]"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="cursor-pointer [border:none] py-[7px] px-[20px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-row items-start justify-start"
            >
              <div class="flex flex-row items-start justify-start gap-[8px]">
                <b
                  class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-[Roboto] text-[#fff] text-left min-w-[37px]"
                  >삭제</b
                >
              </div>
            </button>
          </div>
        </form>
        <div class="self-stretch flex flex-row items-start justify-center">
          <div
            class="w-[258px] flex flex-row items-center justify-between gap-[20px]"
          >
            <button
              class="cursor-pointer [border:none] py-[8px] px-[21px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-col items-center justify-center"
            >
              <div class="flex flex-row items-center justify-center gap-[8px]">
                <div
                  class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff] text-left inline-block min-w-[31px]"
                >
                  저장
                </div>
              </div>
            </button>
            <button
              class="cursor-pointer border-[rgba(33,150,243,0.5)] border-[1px] border-solid py-[6px] px-[20px] bg-[transparent] w-[73px] rounded-[4px] box-border overflow-hidden shrink-0 flex flex-col items-center justify-center"
            >
              <div class="flex flex-row items-center justify-center gap-[8px]">
                <div
                  class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#2196f3] text-left inline-block min-w-[31px]"
                >
                  취소
                </div>
              </div>
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
