<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/host_step}" layout:fragment="host">

<head>
  <meta charset="utf-8" />
  <link href="/css/index.css" rel="stylesheet" />
  <link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link href="/css/component/host_swiper.css" rel="stylesheet" />
  <style>
    textarea:focus {
      outline: none;
      /* 포커스 시 기본 아웃라인 제거 */
      border-color: rgba(0, 0, 0, 0.23);
      box-shadow: none;
      /* 포커스 시 그림자 제거 */
    }
  </style>
</head>

<body>
  <section
    class="w-[1200px] rounded-[30px] bg-[#fff] flex flex-col items-start justify-start pt-[89px] px-[120px] pb-[83px] box-border gap-[120px] max-w-full text-left text-[60px] text-[#000] font-[Roboto] mq1125:pt-[38px] mq1125:pb-[35px] mq1125:box-border mq800:gap-[44px] mq800:pl-[30px] mq800:pr-[30px] mq800:box-border mq1300:pt-[58px] mq1300:px-[60px] mq1300:pb-[54px] mq1300:box-border mq450:gap-[22px] mq450:pt-[25px] mq450:pb-[23px] mq450:box-border">
    <div class="w-[239px] flex flex-row items-start justify-start py-[0px] px-[1px] box-border">
      <h1
        class="m-[0px] flex-1 relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] whitespace-nowrap mq800:text-[48px] mq800:leading-[19px] mq450:text-[36px] mq450:leading-[14px]">
        숙소 소개
      </h1>
    </div>
    <div
      class="w-[886px] flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[10px] box-border gap-[25px] max-w-full text-[25px]">
      <form id="hostInfoForm" enctype="multipart/form-data"
       class="m-[0px] w-[690px] flex flex-col items-start justify-start gap-[25px] max-w-full">
        <div class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq800:flex-wrap">
          <h3
            class="m-[0px] h-[40px] w-[120px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]">
            숙소명 :
          </h3>
          <div class="w-[303px] flex flex-col items-start justify-start">
            <div
              class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]">
              <input
                id="hname"
                name="hname"
                class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                placeholder="숙소명" type="text"
                readonly
                th:value="${hostMypageDTO != null ? hostMypageDTO.hostInfo.hname : ''}"
                />
            </div>
            <div class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border">
              <div
                class="self-stretch h-[12px] relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center">
                Helper text
              </div>
            </div>
          </div>
        </div>
        <div class="w-[493px] flex flex-row items-start justify-start flex-wrap content-start gap-[25px] max-w-full">
          <h3
            class="m-[0px] h-[40px] w-[165px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]">
            숙소 유형 :
          </h3>
          <select class="w-[220px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid form-select" id="hCate" name="hCate" data-str="숙소 유형" >
            <option value="" disabled selected>숙소 유형</option>
            <option value="MOTEL">모텔</option>
            <option value="HOTEL_RESORT">호텔/리조트</option>
            <option value="POOL_VILLA">펜션/풀빌라</option>
            <option value="GUESTHOUSE_HANOK">게하/한옥</option>
          </select>
        </div>
        <div
          class="self-stretch flex flex-row items-start justify-start pt-[0px] px-[0px] pb-[5px] box-border max-w-full">
          <div class="flex-1 flex flex-row items-center justify-between max-w-full gap-[20px] mq1125:flex-wrap">
            <h3
              class="m-[0px] h-[40px] w-[140px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000] text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]">
              주소 :
            </h3>
            <div class="w-[339px] flex flex-col items-start justify-start max-w-full">
              <div
                class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]">
                <input
                  id="postcode"
                  name="postCode"
                  data-str="주소"
                  class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[189px] min-h-[24px]"
                  placeholder="우편번호" type="text" />
              </div>
            </div>
            <button type="button" onclick="searchPostcode()"
              class="cursor-pointer [border:none] py-[7px] px-[22px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-col items-center justify-center">
              <div class="flex flex-row items-center justify-center gap-[8px]">
                <div
                  class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff] text-left inline-block min-w-[61px] whitespace-nowrap">
                  주소 검색
                </div>
              </div>
            </button>
          </div>
        </div>
        <div class="self-stretch flex flex-row items-start justify-end max-w-full">
          <div class="w-[500px] flex flex-col items-start justify-start gap-[29px] max-w-full">
            <div
              class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[0px] px-[11px] max-w-full">
              <div
                class="flex-1 overflow-hidden flex flex-row items-start justify-start py-[8px] px-[0px] box-border relative min-h-[24px] max-w-full">
                <div class="h-[24px] w-[32px] !m-[0] absolute top-[calc(50%_-_12px)] left-[0px]"></div>
                <div class="flex-1 flex flex-row items-start justify-start relative max-w-full">
                  <input id="address"
                    class="w-full [border:none] [outline:none] font-[Roboto] text-[16px] bg-[transparent] h-[24px] flex-1 relative tracking-[0.15px] leading-[24px] text-[rgba(0,0,0,0.6)] text-left inline-block min-w-[250px] max-w-full p-[0px]"
                    placeholder="주소" type="text" />

                  <div class="h-full w-[24px] !m-[0] absolute top-[0px] bottom-[0px] left-[172px]"></div>
                </div>
              </div>
            </div>
            <div
              class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-row items-start justify-start py-[0px] px-[11px] max-w-full">
              <div
                class="flex-1 overflow-hidden flex flex-row items-start justify-start py-[8px] px-[0px] box-border relative min-h-[24px] max-w-full">
                <div class="h-[24px] w-[32px] !m-[0] absolute top-[calc(50%_-_12px)] left-[0px]"></div>
                <div class="flex-1 flex flex-row items-start justify-start relative max-w-full">
                  <input id="detailaddress"
                    class="w-full [border:none] [outline:none] font-[Roboto] text-[16px] bg-[transparent] h-[24px] flex-1 relative tracking-[0.15px] leading-[24px] text-[rgba(0,0,0,0.6)] text-left inline-block min-w-[250px] max-w-full p-[0px]"
                    placeholder="상세주소" type="text" />

                  <div class="h-full w-[24px] !m-[0] absolute top-[0px] bottom-[0px] left-[172px]"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-[493px] flex flex-row items-center justify-between gap-[20px] max-w-full mq800:flex-wrap">
          <h3
            class="m-[0px] h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center mq450:text-[20px] mq450:leading-[19px]">
            호스트 이름 :
          </h3>
          <div class="w-[303px] flex flex-col items-start justify-start">
            <div
              class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]">
              <input
                class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[40px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[8px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.6)] min-w-[167px] min-h-[24px]"
                placeholder="호스트 이름" type="text" name="hostName" data-str="호스트 이름" />
            </div>
          </div>
        </div>
        <div class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[15px] max-w-full">
          <h3
            class="m-[0px] h-[40px] w-[175px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]">
            호스트 소개 :
          </h3>
          <div
            class="flex-1 flex flex-row items-start justify-start min-w-[325px] max-w-full [row-gap:20px] mq800:flex-wrap">
            <textarea
              class="w-full h-[130px] self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-col items-start justify-start py-[10px] px-[11px] max-w-full mq1125:self-stretch mq1125:w-auto text-[15px] overflow-auto"
              placeholder="호스트 소개" name="hIntro"></textarea>
          </div>
        </div>
        <div
          class="self-stretch flex flex-col items-start justify-start pt-[0px] pb-[2px] pl-[0px] pr-[3px] box-border gap-[12px] max-w-full">
          <div
            class="self-stretch h-[40px] flex flex-row items-start gap-[60px] max-w-full mq800:h-auto mq800:gap-[30px]">
            <h3
              class="m-[0px] h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]">
              편의시설 :
            </h3>
            <div
              class="mt-[-1px] w-[470px] flex flex-row items-start justify-start flex-wrap content-start max-w-[calc(100%_-_180px)] [row-gap:20px]">
              <div th:each="facility, id : ${facilities}" th:if="${facilities != null} and ${4 > id.index}"
                class="flex-1 flex flex-row items-center justify-start min-w-[75px]">
                <div class="overflow-hidden flex flex-row items-center justify-start">
                  <div
                    class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border">
                    <input class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0" type="checkbox" name="facilities" th:value="${facility.id}"/>
                  </div>
                </div>
                <div class="w-max flex flex-col items-start justify-start">
                  <div
                    class="w-max relative text-[16px] tracking-[0.15px] leading-[150%] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left inline-block min-w-[67px]">
                    <span th:text="${facility.fCate}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch h-[40px] flex flex-row items-start gap-[60px] max-w-full mq800:h-auto mq800:gap-[30px]">
            <h3
              class="m-[0px] h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]">
            </h3>
            <div
              class="mt-[-1px] w-[470px] flex flex-row items-start justify-start flex-wrap content-start max-w-[calc(100%_-_180px)] [row-gap:20px]">
              <div th:each="facility, id : ${facilities}"
                th:if="${facilities != null} and ${id.index > 3} and ${8 > id.index}"
                class="flex-1 flex flex-row items-center justify-start min-w-[75px]">
                <div class="overflow-hidden flex flex-row items-center justify-start">
                  <div
                    class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border">
                    <input class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0" type="checkbox" name="facilities" th:value="${facility.id}"/>
                  </div>
                </div>
                <div class="w-max flex flex-col items-start justify-start">
                  <div
                    class="w-max relative text-[16px] tracking-[0.15px] leading-[150%] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left inline-block min-w-[67px]">
                    <span th:text="${facility.fCate}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch h-[40px] flex flex-row items-start gap-[60px] max-w-full mq800:h-auto mq800:gap-[30px]">
            <h3
              class="m-[0px] h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]">
            </h3>
            <div
              class="mt-[-1px] w-[600px] flex flex-row items-start justify-start flex-wrap content-start max-w-[calc(100%_-_180px)] [row-gap:20px]">
              <div th:each="facility, id : ${facilities}"
                th:if="${facilities != null} and ${id.index > 7} and ${12 > id.index}"
                class="flex flex-row items-center justify-start">
                <div class="overflow-hidden flex flex-row items-center justify-start">
                  <div
                    class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border">
                    <input class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0" type="checkbox" name="facilities" th:value="${facility.id}" />
                  </div>
                </div>
                <div class="flex flex-col items-start justify-start">
                  <div
                    class="relative text-[16px] tracking-[0.15px] leading-[150%] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left inline-block min-w-[73.2px]">
                    <span th:text="${facility.fCate}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch h-[40px] flex flex-row items-start gap-[60px] max-w-full mq800:h-auto mq800:gap-[30px]">
            <h3
              class="m-[0px] h-[40px] relative text-[25px] tracking-[0.15px] leading-[24px] font-bold font-[Roboto] text-[#000]  text-left flex items-center min-w-[120px] mq450:text-[20px] mq450:leading-[19px]">
            </h3>
            <div
              class="mt-[-1px] w-[470px] flex flex-row items-start justify-start flex-wrap content-start max-w-[calc(100%_-_180px)] [row-gap:20px]">
              <div th:each="facility, id : ${facilities}"
                th:if="${facility != null} and ${id.index > 11} and ${16 > id.index}"
                class="flex-1 flex flex-row items-center justify-start min-w-[75px]">
                <div class="overflow-hidden flex flex-row items-center justify-start">
                  <div
                    class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border">
                    <input class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0" type="checkbox" 
                    name="facilities" th:value="${facility.id}" />
                  </div>
                </div>
                <div class="w-max flex flex-col items-start justify-start">
                  <div
                    class="w-max relative text-[16px] tracking-[0.15px] leading-[150%] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left inline-block min-w-[67px]">
                    <span th:text="${facility.fCate}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="self-stretch flex flex-row items-start justify-start flex-wrap content-start max-w-full [row-gap:20px]">
          <div class="w-[170px] flex flex-col items-start justify-start gap-[185px]">
            <h3
              class="m-[0px] self-stretch h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit]  flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]">
              오시는 길 :
            </h3>
          </div>
          <div
            class="flex-1 flex flex-col items-start justify-start gap-[25px] min-w-[469px] max-w-full ml-[-6px] text-[12px] text-[rgba(0,0,0,0.6)] mq800:ml-[0px] mq1300:min-w-full">
            <div class="w-[552px] flex flex-row items-start justify-start py-[0px] px-[26px] box-border max-w-full">
              <textarea
                class="w-full h-[130px] self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid box-border flex flex-col items-start justify-start py-[10px] px-[11px] max-w-full mq1125:self-stretch mq1125:w-auto text-[15px] overflow-auto"
                placeholder="오시는 길" name="directions"></textarea>
            </div>
          </div>
        </div>
        <div
          class="self-stretch flex flex-row items-start justify-start flex-wrap content-start max-w-full [row-gap:20px]">
          <div class="w-[170px] flex flex-col items-start justify-start gap-[185px]">
            <h3
              class="m-[0px] w-[164px] h-[40px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center shrink-0 mq450:text-[20px] mq450:leading-[19px]">
              업체 이미지 :
            </h3>
          </div>
          <div class="w-[520px] flex flex-col items-start justify-start">
            <div
              class="w-[520px] flex flex-col items-start justify-start py-[0px] px-[20px] box-border max-w-full gap-[10px]">
              <button type="button" id="addimagebutton"
                class="cursor-pointer [border:none] py-[7px] px-[22px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-row items-start justify-start z-[1]">
                <div class="flex flex-row items-start justify-start gap-[8px]">
                  <b
                    class="relative text-[18px] tracking-[0.46px] leading-[26px] uppercase inline-block font-[Roboto] text-[#fff] text-left min-w-[105px] whitespace-nowrap">+
                    이미지 추가</b>
                </div>
              </button>
              <div class="hostimage">
                <div class="swiper-container w-[520px] overflow-hidden">
                    <!-- 네비게이션 버튼 -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                  <div id="image_container"
                    class="swiper-wrapper h-[300px] self-stretch flex flex-row items-start justify-start gap-[10px] mq1125:flex-wrap display-none hidden">
                    <div id="image_template"
                      class="w-[240px] h-[300px] flex-1 shadow-[0px_1px_3px_rgba(0,_0,_0,_0.12),_0px_1px_1px_rgba(0,_0,_0,_0.14),_0px_2px_1px_-1px_rgba(0,_0,_0,_0.2)] rounded-[4px] bg-[#fff] flex flex-col items-start justify-start pt-[0px] px-[0px] pb-[0px] box-border min-w-[175px] gap-[10px] display-none hidden">
                      <div class="w-[240px] h-[230px] self-stretch flex flex-row items-start justify-start">
                        <div class="w-full h-full flex-1 overflow-hidden flex flex-row items-start justify-start">
                          <div
                            class="w-full max-h-full flex-1 bg-[rgba(0,0,0,0.56)] flex flex-row items-start justify-center">
                            <img class="max-w-full max-h-full self-stretch relative overflow-hidden shrink-0"
                              loading="lazy" alt="" src="/image/host/photooutlined.svg" />
                          </div>
                        </div>
                      </div>
                      <div
                        class="w-[240px] h-[50px] self-stretch flex flex-col items-center justify-center py-[0px] px-[16px]">
                        <div
                          class="w-[100px] h-[50px] flex flex-col relative tracking-[0.15px] leading-[160%] font-medium flex items-center mq450:text-[16px] mq450:leading-[26px] gap-[10px]">
                          <button type="button" class="w-full h-[30px] cursor-pointer [border:none] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] 
                                      text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff]"
                            onclick="deletehostimage(this)">삭제</button>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" id="xaxis" name="xaxis" value=""/> 
        <input type="hidden" id="yaxis" name="yaxis" value=""/>
        <input type="hidden" id="region" name="region" value=""/>
        <input type="file" id="fileInput" style="display: none;" accept="image/*" multiple />
      </form>
    </div>
    <div
      class="self-stretch flex flex-row items-center justify-centerflex-wrap content-center max-w-full [row-gap:20px]">
      <button type="button" onclick="savehostinfo()"
        class="cursor-pointer [border:none] py-[8px] ml-[450px] px-[21px] bg-[#2196f3] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-col items-center justify-center">
        <div class="flex flex-row items-center justify-center gap-[8px]">
          <div
            class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff] text-left inline-block min-w-[31px]">
            저장
          </div>
        </div>
      </button>
    </div>
  </section>
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3ef2e683e23a5e204a33006079a1d014&libraries=services"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script>
    function searchPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var sido = ''; // 시도

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress+"("+data.buildingName+")";
                    sido = data.sido;

                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                    sido = data.sido;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $('#postcode').val(data.zonecode);
                $('#address').val(addr);
                $('#region').val(sido);
                // 커서를 상세주소 필드로 이동한다.
                $('#detailaddress').focus();

                console.log(data.zonecode);    
                console.log(addr);    
                console.log(sido); 

                //주소 좌표로 변환해서 저장
                var geocoder = new kakao.maps.services.Geocoder();
                    geocoder.addressSearch(addr, function(result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            var coords = result[0]; 
                            $('#xaxis').val(coords.x);
                            $('#yaxis').val(coords.y);
                            console.log(coords.x);    
                            console.log(coords.y);  
                        }
                    });
            }
        }).open();
    }


    $(document).ready(function () {
      const swiper = new Swiper('.swiper-container', {
        loop: false,
        slidesPerView: 2,
        spaceBetween: 10,
        slidesPerGroup: 1,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          520: {
            slidesPerView: 2,
          },
          0: {
            slidesPerView: 1,
          },
        },
        on: {
          init: function () {
            updateNavigationButtons(this);
          },
          slideChange: function () {
            updateNavigationButtons(this);
          },
        },
      });

      function updateNavigationButtons(swiper) {
        const nextButton = swiper.el.querySelector('.swiper-button-next');
        const prevButton = swiper.el.querySelector('.swiper-button-prev');

        if (swiper.isEnd) {
          nextButton.style.visibility = 'hidden';
        } else {
          nextButton.style.visibility = 'visible';
        }

        if (swiper.isBeginning) {
          prevButton.style.visibility = 'hidden';
        } else {
          prevButton.style.visibility = 'visible';
        }
      }

      $('#addimagebutton').click(function () {
        $('#fileInput').click();
      });

      $('#fileInput').change(function (event) {
        var file = event.target.files;
        for (var i = 0; i < files.length; i++) {
          var file = files[i];
          if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
              var $slide = $('<div class="swiper-slide"></div>');
              var $template = $('#image_template').clone();
              $template.removeClass('hidden');
              $template.removeAttr('id');
              $template.find('img').attr('src', e.target.result);
              $template.css('display', 'flex');
              $slide.append($template);
              $('#image_container').css('display', 'flex');
              $('#image_container').append($slide);
              swiper.appendSlide($slide); 
              swiper.update();
              updateNavigationButtons(swiper);
            };
            reader.readAsDataURL(file);
          }
        }  
      });

    });

    function deletehostimage(button){
      var swiper = $(button).closest('.swiper-slide'); 
      swiper.remove();
      swiper.update();
      updateNavigationButtons(swiper);
    }

    function savehostinfo() {
            var formData = new FormData($('#hostInfoForm')[0]);
            var files = $('#fileInput')[0].files;
            for (var i = 0; i < files.length; i++) {
                formData.append('images', files[i]);
            }
            $.ajax({
                url: '/host/hostinforeg', // 서버의 업로드 엔드포인트
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert('저장되었습니다.');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('저장 실패하였습니다.');
                }
            });
        }
  </script>
</body>
</html>