<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <link href="/css/global.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Whisper:wght@400&family=Roboto:wght@400;500;700&family=Inter:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;700&family=Oswald:wght@400;500;700&display=swap"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div
      class="w-full relative overflow-y-auto flex flex-row items-start justify-center py-[115px] pl-[66px] pr-[20px] box-border bg-[url('/image/host/host-login@3x.png')] bg-cover bg-no-repeat bg-[top] leading-[normal] tracking-[normal] text-center text-[70px] text-[#fff] font-[Whisper] mq675:pl-[33px] mq675:box-border"
    >
      <div
        class="w-[400px] flex flex-col items-center justify-center pt-[100px] px-[0px] pb-[96px] box-border max-w-full mq750:pt-[65px] mq750:pb-[62px] mq750:box-border"
      >
        <img
          class="self-stretch h-[80px] relative max-w-full overflow-hidden shrink-0 object-cover"
          loading="lazy"
          alt=""
          src="/image/logo/logo.png"
        />

        <h1
          class="m-[0px] self-stretch h-[50px] relative text-inherit font-normal font-[inherit] flex items-center justify-center shrink-0 mq450:text-[42px] mq750:text-[56px]"
        >
          HostHouse
        </h1>
        <form
          class="m-[0px] self-stretch rounded-[50px] bg-[rgba(255,255,255,0.6)] flex flex-col items-center justify-center py-[40px] px-[75px] gap-[5px] mq450:py-[26px] mq450:px-[20px] mq450:box-border"
        >
          <h1
            class="m-[0px] w-[79px] relative text-[32px] leading-[40px] font-normal font-[Roboto] text-[#000] text-center flex items-center justify-center overflow-hidden text-ellipsis whitespace-nowrap mq450:text-[19px] mq450:leading-[24px] mq750:text-[26px] mq750:leading-[32px]"
          >
            Login
          </h1>
          <div
            class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[3px]"
          >
            <div class="w-[1px] h-[10px] relative"></div>
          </div> 
          <div
            class="self-stretch flex flex-col items-start justify-start relative"
          >
            <div
              class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[12px]"
            >
              <div
                class="w-[196px] overflow-hidden flex flex-row items-center justify-start py-[16px] px-[0px] box-border min-w-[24px] min-h-[24px]"
              >
                <div
                  class="h-[24px] w-[32px] hidden flex-row items-center justify-start py-[0px] pl-[0px] pr-[8px] box-border"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/image/host/starsharp-2.svg"
                    />
                  </div>
                </div>
                <div
                  class="flex-1 relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left whitespace-nowrap"
                >
                  john@gmail.com
                </div>
                <div
                  class="self-stretch w-[98px] relative text-[16px] tracking-[0.15px] leading-[24px] font-[Roboto] text-[rgba(0,0,0,0.38)] text-left hidden"
                >
                  Placeholder
                </div>
                <div
                  class="h-[24px] w-[24px] hidden flex-row items-center justify-start"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/image/host/starsharp-2.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="h-[2px] !m-[0] absolute top-[0px] left-[12px] bg-[#fff] flex flex-row items-center justify-start py-[0px] px-[4px] box-border z-[1]"
            >
              <div
                class="relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left inline-block min-w-[12px]"
              >
                ID
              </div>
            </div>
            <div
              class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border z-[2]"
            >
              <div
                class="self-stretch h-[20px] relative text-[12px] tracking-[0.4px] leading-[166%] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
              >
                Helper text
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start relative"
          >
            <div
              class="self-stretch rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-col items-start justify-start py-[0px] px-[11px]"
            >
              <input
                class="w-full [border:none] [outline:none] bg-[transparent] self-stretch h-[56px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[16px] px-[0px] box-border font-[Roboto] text-[16px] text-[rgba(0,0,0,0.87)] min-w-[24px] min-h-[24px]"
                placeholder="**********"
                type="text"
              />
            </div>
            <div
              class="h-[2px] !m-[0] absolute top-[0px] left-[12px] bg-[#fff] flex flex-row items-center justify-start py-[0px] px-[4px] box-border z-[1]"
            >
              <div
                class="relative text-[12px] tracking-[0.15px] leading-[12px] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left inline-block min-w-[55px]"
              >
                Password
              </div>
            </div>
            <div
              class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border z-[2]"
            >
              <div
                class="self-stretch h-[20px] relative text-[12px] tracking-[0.4px] leading-[166%] font-[Roboto] text-[rgba(0,0,0,0.6)] text-left flex items-center"
              >
                Helper text
              </div>
            </div>
          </div>
          <div
            class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[3px]"
          >
            <div class="w-[1px] h-[8px] relative"></div>
          </div>
          <div
            class="self-stretch flex flex-row items-center justify-end py-[0px] px-[15px]"
          >
            <div
              class="overflow-hidden hidden flex-row items-center justify-start"
            >
              <div
                class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border"
              >
                <img
                  class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                  alt=""
                  src="/image/host/-hidden.svg"
                />
              </div>
            </div>
            <div class="flex flex-col items-start justify-start">
              <div
                class="relative text-[16px] tracking-[0.15px] leading-[150%] font-[Roboto] text-[rgba(0,0,0,0.87)] text-left inline-block min-w-[101px] whitespace-nowrap"
              ><a th:href="@{/host/findpw}">
                *비밀번호 찾기
              </a>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[3px]"
          >
            <div class="w-[1px] h-[8px] relative"></div>
          </div>
          <button
            class="cursor-pointer [border:none] py-[7px] px-[46px] bg-[#2196f3] w-[140px] shadow-[0px_1px_5px_rgba(0,_0,_0,_0.12),_0px_2px_2px_rgba(0,_0,_0,_0.14),_0px_3px_1px_-2px_rgba(0,_0,_0,_0.2)] rounded-[4px] overflow-hidden flex flex-col items-center justify-center box-border"
          >
            <div
              class="self-stretch flex flex-row items-center justify-center gap-[8px]"
            >
              <div
                class="w-[47px] relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#fff] text-left inline-block"
              >
                로그인
              </div>
            </div>
          </button>
          <button
            class="cursor-pointer [border:none] py-[7px] px-[41px] bg-[#fff] rounded-[4px] flex flex-col items-center justify-center"
          >
            <div class="flex flex-row items-center justify-center gap-[8px]">
              <div
                class="relative text-[15px] tracking-[0.46px] leading-[26px] uppercase font-medium font-[Roboto] text-[#2196f3] text-left inline-block min-w-[57px]"
              ><a th:href="@{/host/register}">
                회원가입
              </a>
              </div>
            </div>
          </button>
        </form>
        <b
          class="self-stretch relative text-[15px] tracking-[0.15px] leading-[24px] font-[Roboto]"
          >Copyright GC COMPANY Corp. All rights Reserved</b
        >
      </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
