.swiper-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: auto;
}

.column2 .swiper-slide{
    width: calc(100% / 6);
}

.column1 .swiper-slide{
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column1 .swiper-button-next,
.column1 .swiper-button-prev,
.column6 .swiper-button-next,
.column6 .swiper-button-prev {
    visibility: hidden;
}

.column1 .swiper-container:hover .swiper-button-next,
.column1 .swiper-container:hover .swiper-button-prev,
.column6 .swiper-container:hover .swiper-button-next,
.column6 .swiper-container:hover .swiper-button-prev {
    visibility: visible;
}

.column6 .swiper-button-next,
.column6 .swiper-button-prev{
    top: 55%;
}

.column2 .swiper-button-next,
.column2 .swiper-button-prev {
    top: 43%
}

.column4 .swiper-button-next,
.column4 .swiper-button-prev,
.column5 .swiper-button-next,
.column5 .swiper-button-prev{
    top: 33%
}

.swiper-button-prev::after,
.swiper-button-next:after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}
