<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/css/tailwind.css"/>
  <style>
    #navbar a {
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="max-w-[1920px] mx-auto bg-white flex">

    <!-- 네비게이션 -->
    <nav id="navbar" class="w-[185px] flex flex-col space-y-4 p-4 text-[#6a6ba1] shrink-0">
      <!-- 로고 -->
      <a href="/admin/main" class="mb-4">
        <img class="w-full" loading="lazy" src="/image/logo/logo.png" alt="Logo"/>
      </a>

      <!-- 섹션 타이틀 -->
      <div class="text-xl font-semibold text-[#1a1c35] text-center">
        메인
      </div>

      <!-- 메뉴 항목 -->
      <ul class="space-y-2">
        <li>
          <a href="/admin/main" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-1-main.png" alt="" class="w-5 h-5 object-cover"/>
            <span>메인</span>
          </a>
        </li>
      </ul>

      <!-- 섹션 타이틀 -->
      <div class="text-xl font-semibold text-[#1a1c35] text-center">
        가맹점 관리
      </div>

      <ul class="space-y-2">
        <li>
          <a href="/admin/request" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-2-request.png" alt="" class="w-5 h-5 object-cover"/>
            <span>입점요청</span>
          </a>
        </li>

        <li>
          <a href="/admin/calculation" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-3-payment.png" alt="" class="w-5 h-5 object-cover"/>
            <span>정산관리</span>
          </a>
        </li>

        <li>
          <a href="/admin/sales" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-4-sales.png" alt="" class="w-5 h-5 object-cover"/>
            <span>판매실적</span>
          </a>
        </li>

        <li>
          <a href="/admin/host_notice" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-5-notice.png" alt="" class="w-5 h-5 object-cover"/>
            <span>공지사항</span>
          </a>
        </li>
      </ul>

      <!-- 섹션 타이틀 -->
      <div class="text-xl font-semibold text-[#1a1c35] text-center">
        회원 관리
      </div>

      <!-- 메뉴 항목 -->
      <ul class="space-y-2">
        <li>
          <a href="/admin/member" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-7-member.png" alt="" class="w-5 h-5 object-cover"/>
            <span>회원정보</span>
          </a>
        </li>

        <li>
          <a href="/admin/user_notice" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-8-notice.png" alt="" class="w-5 h-5 object-cover"/>
            <span>공지사항</span>
          </a>
        </li>

        <li>
          <a href="/admin/coupon" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-12-coupon.png" alt="" class="w-5 h-5 object-cover"/>
            <span>쿠폰관리</span>
          </a>
        </li>

        <li>
          <a href="/admin/point" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-13-point.png" alt="" class="w-5 h-5 object-cover"/>
            <span>포인트관리</span>
          </a>
        </li>
      </ul>

      <!-- 섹션 타이틀 -->
      <div class="text-xl font-semibold text-[#1a1c35] text-center">
        숙소 관리
      </div>

      <!-- 메뉴 항목 -->
      <ul class="space-y-2">
        <li>
          <a href="/admin/recommendation" class="flex items-center gap-2 py-2 px-4 hover:bg-violet-200 hover:text-white">
            <img src="/image/admin/nav-14-recomm.png" alt="" class="w-5 h-5 object-cover"/>
            <span>추천숙소</span>
          </a>
        </li>
      </ul>
    </nav>

    <main layout:fragment="admin"></main>
  </div>

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>
