<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

  <style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 2px;
    }
  </style>
</head>

<body>
  <div
    class="w-[1735px] min-h-[800px] rounded-[30px] bg-[#f5f6fb] flex flex-col shrink-0 items-start justify-start p-[30px] box-border gap-[20px] text-left">

    <div class="flex flex-row gap-[10px]">
      <!-- 제목 영역 -->
      <label class="text-[24px] h-[40px] font-semibold">
        정산 관리
      </label>

      <select id="dateSelect"
        class="rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] border-solid box-border w-[150px] flex flex-row items-center justify-center py-[4px] px-[5px]">
      </select>
      <button class="w-[120px] bg-[#d4d8f1] rounded-[4px]" onclick="submitPeriod()">검색</button>
    </div>
    <p> * 요청액이 0원이면 정산요청액과 매출액이 맞지 않는 것이므로 가맹점으로 문의하시길 바랍니다. </p>

    <!-- 데이터 테이블 영역-->
    <div th:if="${list == null}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">정산 요청이 없습니다.</p>
    </div>

    <div th:if="${list != null}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px]">
      <div id="table">
        <table id="listTable" class="hover">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>정산 번호</th>
              <th>호스트 번호</th>
              <th>업체명</th>
              <th>매출발생</th>
              <th>매출액</th>
              <th>-입점수수료</th>
              <th>+본사부담할인</th>
              <th>=정산요청액</th>
              <th>상태</th>
              <th>정산요청일시</th>
              <th>정산승인일시</th>
              <th>정산완료일시</th>
              <th>매출상세</th>
              <th>정산</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="cal : ${list}">
              <td th:text="${cal.calculationDTO.id}"></td>
              <td th:text="${cal.hIdx}"></td>
              <td th:text="${cal.hostName}"></td>
              <td th:text="${#temporals.format(cal.calculationDTO.calMonth, 'yyyy-MM')}"></td>
              <td th:text="${cal.sell}"></td>
              <td th:text="${cal.commission}"></td>
              <td th:text="${cal.sales}"></td>
              <td th:text="${cal.calAmount}"></td>
              <td th:switch="${cal.calculationDTO.calStatus.name()}">
                <span th:case="'REQUEST'">요청</span>
                <span th:case="'APPROVE'">승인</span>
                <span th:case="'COMPLETED'">정산완료</span>
              </td>
              <td th:text="${#temporals.format(cal.calculationDTO.calRegTime, 'yyyy-MM-dd HH:mm')}"></td>
              <td th:text="${#temporals.format(cal.calculationDTO.calConfirmTime, 'yyyy-MM-dd HH:mm')}"></td>
              <td th:text="${#temporals.format(cal.calculationDTO.calCompleteTime, 'yyyy-MM-dd HH:mm')}"></td>
              <td>
                <a class="inline-block" th:href="@{/admin/calculation/detail(cIdx=${cal.calculationDTO.id})}">
                  <img src="/image/admin/icon-more.png" class="w-[15px]" alt="상세보기" />
                </a>
              </td>
              <td th:switch="${cal.calculationDTO.calStatus.name()}">
                <button th:case="'REQUEST'" class="openModal">정산</button>
                <button th:case="'APPROVE'" class="openModal">정산</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
            <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
          </tfoot>
        </table>
      </div>
    </div>

    <!-- 모달 -->
    <div th:replace="admins/modals/calculationModal"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/js/admin/modal.js"></script>
  <script type="text/javascript" src="/js/admin/dateSelect.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/ 
    var period = /*[[${period}]]*/ null; 
    if (period) {
      $('#dateSelect').val(period);
    }

    $(document).ready(function () {
      $('#listTable').DataTable({
        order: [], // 큰따옴표(")로 묶인 문자열 사용

        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              let column = this;
              let title = column.header().textContent;

              // Create input element
              let input = document.createElement('input');
              input.placeholder = title;

              column.footer().replaceChildren(input);

              input.addEventListener('keyup', () => {
                if (column.search() !== this.value) {
                  column.search(input.value).draw();
                }
              });
          });
        }
      });

      // 쿠폰 등록 모달
      $('.openModal').click(function () {
        const row = $(this).closest('tr');
        const cells = row.find('td');

        $('#calNumber').val(cells.eq(0).text());
        $('#hostNumber').val(cells.eq(1).text());
        $('#hostName').val(cells.eq(2).text());
        $('#salePeriod').val(cells.eq(3).text());
        $('#cost').val(cells.eq(4).text());
        $('#commission').val(cells.eq(5).text());
        $('#sales').val(cells.eq(6).text());
        $('#calAmount').val(cells.eq(7).text());
        $('#calStatus').val(cells.eq(8).find('span').text());
        $('#reqDate').val(cells.eq(9).text());
        $('#appDate').val(cells.eq(10).text());
        $('#comDate').val(cells.eq(11).text());

        if ($('#calStatus').val() === '요청') {
          $('#approve').attr('disabled', false);
          $('#approve').css('disabled', 'flex');
          $('#complete').attr('disabled', true);
          $('#complete').css('display', 'hidden');
        }
        if ($('#calStatus').val() === '승인') {
          $('#approve').attr('disabled', true);
          $('#approve').css('display', 'hidden');
          $('#complete').attr('disabled', false);
          $('#complete').css('disabled', 'flex');
        }
        if ($('#calStatus').val() === '완료') {
          $('#approve').css('display', 'hidden');
          $('#complete').css('display', 'hidden');
        }
        
        $('#modalOverlay').css('display', 'flex');
      });

      // 승인 버튼 클릭
      $('#approve').click(function () {
        var calIdx = $('#calNumber').val();

        $.ajax({
          url: '/admin/calculation/approve',
          type: 'GET',
          data: { calIdx: calIdx },
          success: function (response) {
            alert('정산이 승인되었습니다.');
            // 모달 상태 변경
            $('#calStatus').val(response.calStatus);
            $('#calApprove').val(response.calApprove);
            window.location.href = `/admin/calculation`;
          },
          error: function (xhr, status, error) {
            alert('정산 승인 중 오류가 발생했습니다.');
            console.error(error);
          }
        });

      });

      // 정산완료 버튼 클릭
      $('#complete').click(function () {
        var calIdx = $('#calNumber').val();

        $.ajax({
          url: '/admin/calculation/complete',
          type: 'GET',
          data: { calIdx: calIdx },
          success: function (response) {
            alert('정산이 승인되었습니다.');
            // 모달 상태 변경
            $('#calStatus').val(response.calStatus);
            $('#calComplete').val(response.calComplete);
            window.location.href = `/admin/calculation`;
          },
          error: function (xhr, status, error) {
            alert('정산 승인 중 오류가 발생했습니다.');
            console.error(error);
          }
        });
      });
    });

    function submitPeriod() {
      
    // select 요소에서 선택한 값을 가져옴
    const selectedValue = document.getElementById('dateSelect').value;
    // 선택한 값을 URL의 파라미터로 추가하여 페이지 이동
    window.location.href = `/admin/calculation?period=${selectedValue}`;
  }
  </script>
</body>

</html>