<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <style>
    #historyTable {
      table-layout: fixed;
      /* 테이블 레이아웃을 자동으로 설정 */
      width: 660px;
      /* 테이블 너비를 100%로 설정 */
    }
  </style>
</head>

<body>
  <div
    class="w-full relative rounded-[30px] bg-[#f5f6fb] overflow-hidden shrink-0 flex flex-col items-start justify-start pt-[30px] px-[20px] pb-[50px] box-border gap-[20px] leading-[normal] tracking-[normal] text-center text-[24px] text-[#000]">

    <!-- 제목 영역-->
    <label
      class="m-[0px] self-stretch h-[40px] relative text-inherit font-semibold font-[inherit] flex items-center shrink-0 mq450:text-[19px]">
      쿠폰 관리
    </label>

    <!-- 쿠폰 버튼 영역 -->
    <div class="flex flex-row text-[16px] justify-center items-center gap-4">
      <button id="addButton" class="w-[100px] h-[35px] bg-[#d4d8f1] rounded-[4px] text-[16px] ml-[30px]">쿠폰 등록</button>
      <span class="text-gray-400"> * 쿠폰 등록은 발급과 동시에 이루어집니다. 등록 후 삭제할 수 없으니 유의해주세요</span>
    </div>

    <!-- 테이블 영역-->

    <div th:if="${list == null}"
      class="w-[1300px] rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] max-w-full text-left text-[16px] text-[#000]">
      <p class="text-[18px] text-[#6c757d]">등록된 쿠폰이 없습니다.</p>
    </div>

    <div th:if="${list != null}"
      class="w-[1300px] rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] max-w-full text-left text-[16px] text-[#000]">

      <!-- 테이블 데이터 영역-->
      <div id="table" class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="listTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>쿠폰 번호</th>
              <th>쿠폰 내용</th>
              <th>쿠폰 형식</th>
              <th>발행일</th>
              <th>종료일</th>
              <th>할인구분</th>
              <th>할인내용</th>
              <th>사용 내역</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="coupon : ${list}">
              <td th:text="${coupon.id}"></td>
              <td th:text="${coupon.cpContent}"></td>
              <td th:switch="${coupon.cpMethod}">
                <span th:case="${T(com.omakase.omastay.entity.enumurate.CpMethod).DESIGNATED}">지정 발행</span>
                <span th:case="${T(com.omakase.omastay.entity.enumurate.CpMethod).SINGLE_USE}">일회용 코드</span>
                <span th:case="${T(com.omakase.omastay.entity.enumurate.CpMethod).MULTI_USE}">다회용 코드</span>
              </td>
              <td th:text="${#temporals.format(coupon.cpStartEnd.start, 'yyyy-MM-dd HH:mm')}"></td>
              <td th:text="${#temporals.format(coupon.cpStartEnd.end, 'yyyy-MM-dd HH:mm')}"></td>
              <td th:switch="${coupon.cpCate}">
                <span th:case="${T(com.omakase.omastay.entity.enumurate.CpCate).PERCENT}">백분율 할인</span>
                <span th:case="${T(com.omakase.omastay.entity.enumurate.CpCate).PRICE}">금액 할인</span>
              </td>
              <td th:text="${coupon.cpSale}"></td>
              <td><button th:onclick="'showDetails(' + ${coupon.id} + ')'"><img class="w-[15px] h-[15px]"
                    src="/image/admin/icon-more.png" /></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--쿠폰 등록 모달-->
    <div th:replace="admins/modals/add_coupon"></div>

    <!-- 쿠폰 사용내역 모달-->
    <div th:replace="admins/modals/coupon_history"></div>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
  <script type="text/javascript" src="/js/admin/modal.js"></script>
  <script type="text/javascript" src="/js/datepicker-singledate.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

  <script>
    $(document).ready(function () {

      $('#listTable').DataTable();

      $('#historyTable').DataTable({
        pageLength: 10,
        lengthChange: false,
      }).columns.adjust().draw();


      // 쿠폰 등록 모달
      $('#addButton').click(function () {
        $('#modalOverlay').show();
        $('#addCoupon').css('display', 'flex');
      });

      // 쿠폰 등록 모달 닫기
      $('#closeHistory').click(function () {
        $('#modalOverlay2').css('display', 'none');
      });

      // 쿠폰 등록 취소
      $('#addCancel').click(function () {
        $('#modalOverlay').css('display', 'none');
      });

      // 모달 외부 클릭 방지
      $('#modalOverlay2').click(function (event) {
        if (event.target === this) {
          $(this).css('display', 'none');
        }
      });

      // 쿠폰 상세보기 모달
      $('#history').click(function () {
        $('#modalOverlay2').show();
        $('#history_modal').show();
      });

      // 쿠폰 형식 - 라디오 버튼 클릭 이벤트
      $('input[name="couponType"]').change(function () {
        if ($(this).val() === 'DESIGNATED') {
          $('#selectCodeType').css('display', 'none');  // 쿠폰 코드 유형 숨기기
          $('#selectGrade').css('display', 'flex');  // 발행 대상 보이기
        } else if ($(this).val() === 'DOWNLOAD') {
          $('#selectGrade').css('display', 'none');  // 발행 대상 숨기기
          $('#selectCodeType').css('display', 'flex');  // 쿠폰 코드 유형 보이기
        }
      });

      // 쿠폰 코드 유형 - 라디오 버튼 클릭 이벤트
      $('input[name="codeType"]').change(function () {
        if ($(this).val() === 'MULTI_USE') {
          $('#SINGLE_USE').css('display', 'none');  // 쿠폰 코드 유형 숨기기
          $('#MULTI_USE').css('display', 'flex');  // 발행 대상 보이기
        } else if ($(this).val() === 'SINGLE_USE') {
          $('#MULTI_USE').css('display', 'none');  // 발행 대상 숨기기
          $('#SINGLE_USE').css('display', 'flex');  // 쿠폰 코드 유형 보이기
        }
      });

      // 할인 구분 - 라디오 버튼 클릭 이벤트
      $('input[name="saleType"]').change(function () {
        if ($(this).val() === 'PERCENT') {
          $('#salePrice').css('display', 'none');  // 쿠폰 코드 유형 숨기기
          $('#salePercent').css('display', 'flex');  // 발행 대상 보이기
        } else if ($(this).val() === 'PRICE') {
          $('#salePercent').css('display', 'none');  // 발행 대상 숨기기
          $('#salePrice').css('display', 'flex');  // 쿠폰 코드 유형 보이기
        }
      });


      // 모달 내 쿠폰 등록 버튼 클릭 이벤트 
      $('#addConfirm').click(function () {

        // 폼 요소 생성
        var form = $('<form></form>');
        form.attr('method', 'post');
        form.attr('action', '/admin/coupon/add'); // 서버 엔드포인트 URL로 변경

        // 쿠폰명
        var cpContent = $('#cpContent').val().trim();

        // 쿠폰명 유효성 검사
        console.log("cpContent: " + cpContent);
        if (cpContent === '') {
          alert($('#cpContent').data('str') + "을 입력하세요");
          $('#cpContent').focus();
          return;
        }

        // 쿠폰명폼 데이터 추가
        form.append($('<input>').attr('type', 'hidden').attr('name', 'cpContent').attr('value', cpContent));


        // 사용기간
        var date = $('#date-picker-input').val();

        // 사용기간 유효성 검사
        var cpContent = $('#date-picker-input').val().trim();
        console.log("date: " + date);
        if (cpContent === '') {
          alert($('#date-picker-input').data('str') + "을 입력하세요");
          $('#date-picker-input').focus();
          return;
        }

        // 사용기간 폼 데이터 추가
        var dates = date.split(' ~ ');
        date = dates[1];
        form.append($('<input>').attr('type', 'hidden').attr('name', 'date').attr('value', date));


        // 쿠폰형식
        var couponType = $('input[name="couponType"]:checked').val();
        console.log("couponType: " + couponType);

        if (couponType === 'DESIGNATED') { //지정발행이면 

          // 지정발행 폼 데이터 추가
          form.append($('<input>').attr('type', 'hidden').attr('name', 'cpMethod').attr('value', couponType));

          // 발행대상
          var selectGrade = $('#selectGradeOption').val();
          console.log("selectGrade: " + selectGrade);

          // 발행대상 폼 데이터 추가
          form.append($('<input>').attr('type', 'hidden').attr('name', 'selectGrade').attr('value', selectGrade)); //**따로 받아야함

        } else if (couponType === 'DOWNLOAD') { //쿠폰코드생성이면
          // 쿠폰 코드 유형
          var codeType = $('input[name="codeType"]:checked').val();
          console.log("codeType: " + codeType);

          if (codeType === 'MULTI_USE') { //다회성 쿠폰 코드

            // 다회성 쿠폰 코드 폼 데이터 추가
            form.append($('<input>').attr('type', 'hidden').attr('name', 'cpMethod').attr('value', codeType));

            // 쿠폰 코드 입력
            var code = $('#MULTI_USEInput').val().trim();
            console.log("code: " + code);

            // 쿠폰 코드 유효성 검사
            if (code === '') {
              alert($('#MULTI_USEInput').data('str') + "을 입력하세요");
              $('#MULTI_USEInput').focus();
              return;
            }

            //쿠폰 코드 폼 데이터 추가
            form.append($('<input>').attr('type', 'hidden').attr('name', 'code').attr('value', code)); //**따로 받아야함

            // 등록 가능 횟수
            var count = $('#MULTI_USECount').val().trim();
            console.log("count: " + count);

            // 등록 가능 횟수 유효성 검사
            if (count === '') {
              alert($('#MULTI_USECount').data('str') + "을 입력하세요");
              $('#MULTI_USECount').focus();
              return;
            }

            //등록 가능 횟수 폼 데이터 추가
            form.append($('<input>').attr('type', 'hidden').attr('name', 'count').attr('value', count)); //**따로 받아야함

          } else if (codeType === 'SINGLE_USE') { //일회성 쿠폰 코드

            // 일회성 쿠폰 코드 폼 데이터 추가
            form.append($('<input>').attr('type', 'hidden').attr('name', 'cpMethod').attr('value', codeType));

            // 생성할 쿠폰 코드 개수
            var count = $('#SINGLE_USECount').val();
            console.log("count: " + count);

            // 생성할 쿠폰 코드 개수 유효성 검사
            if (count === '') {
              alert($('#MULTI_USECount').data('str') + "을 입력하세요");
              $('#MULTI_USECount').focus();
              return;
            }

            // 생성할 쿠폰 코드 개수 폼 데이터 추가
            form.append($('<input>').attr('type', 'hidden').attr('name', 'count').attr('value', count)); //**따로 받아야함

          }
        }

        // 할인구분
        var saleType = $('input[name="saleType"]:checked').val();
        console.log("saleType: " + saleType);

        // 할인구분 폼 데이터 추가
        form.append($('<input>').attr('type', 'hidden').attr('name', 'cpCate').attr('value', saleType));


        if (saleType === 'PERCENT') { //할인율
          // 할인율
          var salePercent = $('#salePercentInput').val().trim();



          console.log("salePercent: " + salePercent);
          form.append($('<input>').attr('type', 'hidden').attr('name', 'cpSale').attr('value', salePercent));

          // 할인율 유효성 검사
          if (salePercent === '') {
            alert($('#salePercentInput').data('str') + "을 입력하세요");
            $('#salePercentInput').focus();
            return;
          }

        } else if (saleType === 'PRICE') { //할인금액
          // 할인금액
          var salePrice = $('#salePriceInput').val().trim();

          // 할인율 유효성 검사
          if (salePrice === '') {
            alert($('#salePriceInput').data('str') + "을 입력하세요");
            $('#salePriceInput').focus();
            return;
          }

          form.append($('<input>').attr('type', 'hidden').attr('name', 'cpSale').attr('value', salePrice));
          console.log("salePrice: " + salePrice);
        }

        // 폼을 body에 추가하고 제출
        $('body').append(form);
        form.submit();

      });

      // 범위 검사 함수
      function validateInput(inputElement, min, max) {
            const value = parseInt($(inputElement).val(), 10);

            if (isNaN(value) || value < min || value > max) {
                alert(min + '에서 ' + max + ' 사이의 숫자를 입력하세요.');
                $(inputElement).val(''); // 입력 값을 지움
                $(inputElement).focus();  // 포커스 설정
            }
        }

        //유효성 검사 (1~100000)
        $('#pValue').on('input', function() {
            validateInput(this, 1, 100000);
        });

        // SINGLE_USECount 유효성 검사 (1~10000)
        $('#SINGLE_USECount').on('input', function() {
            validateInput(this, 1, 10000);
        });

        // salePercentInput 유효성 검사 (1~100)
        $('#salePercentInput').on('input', function() {
            validateInput(this, 1, 100);
        });

        // salePriceInput 유효성 검사 (1~100000)
        $('#salePriceInput').on('input', function() {
            validateInput(this, 1, 100000);
        });

    });


    //사용내역 띄우기
    function showDetails(id) {
      // // 행의 ID를 가져옴
      console.log("id: " + id);

      // AJAX 요청을 통해 데이터를 가져옴
      fetch(`/admin/coupon/history?id=${id}`)
        .then(response => response.json())
        .then(data => {
          console.log(data);

          // 모달에 데이터를 채움
          var modalContent = $('#tbody'); // jQuery 사용
          modalContent.empty(); // 기존 내용 지우기

          // 반복문으로 데이터를 채움, 문자열 생성 후 한 번에 추가
          if (data.list && data.list.length > 0) {

            var issueCount = $('#issueCount'); // jQuery 사용
            issueCount.empty(); // 기존 내용 지우기
            issueCount.append(data.list.filter(item => item.issuedCouponDTO).length);

            var useCount = $('#useCount'); // jQuery 사용
            useCount.empty(); // 기존 내용 지우기
            useCount.append(data.list.filter(item => item.issuedCouponDTO && item.issuedCouponDTO.icStatus === 'USED').length);

            let rowsHtml = '';
            data.list.forEach(item => {

              const startDate = new Date(item.couponDTO.cpStartEnd.start).toLocaleDateString('ko-KR', { year: 'numeric', month: '2-digit', day: '2-digit' });
              const endDate = new Date(item.couponDTO.cpStartEnd.end).toLocaleDateString('ko-KR', { year: 'numeric', month: '2-digit', day: '2-digit' });

              rowsHtml += `
                    <tr>
                        <td>${item.issuedCouponDTO.icCode != null ? item.issuedCouponDTO.icCode : '회원지정'}</td>
                        <td>${item.issuedCouponDTO.midx != null ? item.issuedCouponDTO.midx : '미발급'}</td>
                        <td>${startDate}</td> 
                        <td>${endDate}</td>
                        <td>${item.issuedCouponDTO.icStatus === 'USED' ? item.payTime : '미사용'}</td>
                        <td>${item.issuedCouponDTO.icStatus === 'USED' ? item.paymentId : '미사용'}</td>
                    </tr>
                `;
            });
            modalContent.append(rowsHtml);
          } else {
            // 데이터가 없는 경우 처리
            modalContent.append('<tr><td colspan="5">등록된 데이터가 없습니다</td></tr>');
          }

          // 모달을 표시함 
          $('#modalOverlay2').show();
          $('#history_modal').show();
        })
        .catch(error => {
          console.error('Error fetching coupon details:', error);
        });
    }


  </script>
</body>

</html>