<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap" />

  <style>
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .modal {
      background-color: #f5f6fb;
      padding: 42px 30px;
      box-sizing: border-box;
      width: 700px;
      height: 800px;
      /* max-width: 100%; */
      border-radius: 12px;
      position: relative;
      top: 60px;
      margin: auto;
    }
  </style>
</head>

<body>
  <div
    class="w-full relative rounded-[30px] bg-[#f5f6fb] overflow-hidden shrink-0 flex flex-col items-start justify-start pt-[30px] px-[20px] pb-[50px] box-border gap-[20px] leading-[normal] tracking-[normal] text-center text-[24px] text-[#000] font-[Inter]">

    <!-- 제목 영역-->
    <label
      class="m-[0px] self-stretch h-[40px] relative text-inherit font-semibold font-[inherit] flex items-center shrink-0 mq450:text-[19px]">
      쿠폰 관리
    </label>

    <!-- 검색 영역-->
    <div
      class="w-[1300px] rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-col items-start justify-start p-[10px] box-border gap-[5px] max-w-full text-center text-[18px] text-[#000] font-[Inter]">

      <!-- 검색어 영역 -->
      <div
        class="w-[700px] overflow-hidden flex flex-row items-center justify-center flex-wrap content-center py-[5px] px-[20px] box-border gap-[15px] max-w-full">
        <label
          class="m-[0px] w-[130px] relative text-[20px] font-light font-[Inter] flex items-center justify-center shrink-0 mq450:text-[16px]">
          검색어
        </label>

        <div id="search-input"
          class="flex-1 rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] border-solid box-border w-[300px] flex flex-row items-center justify-center py-[4px] px-[5px]">
          <select id="search-type"
            class="w-[40px] [border:none] [outline:none] h-[24px] justify-start text-[16px] text-[#6c757d] min-w-[94px] px-[11px]">
            <option value="all">전체</option>
            <option value="title">제목</option>
            <option value="ffname">파일명</option>
          </select>
          <input id="search-keyword"
            class="w-full [border:none] [outline:none] h-[24px] flex-1 flex flex-row items-center justify-start text-[16px] text-[#6c757d] min-w-[94px] px-[11px]"
            type="text" />
        </div>

        <div
          class="w-[300px] flex-1 box-border flex flex-row items-center justify-center py-[4px] px-[30px] gap-[15px]">
          <button id="search-button" class="w-[100px] h-[30px] bg-[#d4d8f1] rounded-[4px]">검색</button>
          <button id="reset-button"
            class="flex flex-row items-center justify-center w-[100px] h-[30px] border-[2px] border-[#d4d8f1] rounded-[4px]">초기화</button>
        </div>
      </div>
    </div>
    <!-- 쿠폰 버튼 영역 -->
    <div class="self-stretch flex flex-row justify-start flex-wrap pl-[30px] gap-[10px] text-center ">
      <button id="addButton" class="w-[100px] h-[35px] bg-[#d4d8f1] rounded-[4px] text-[16px]">쿠폰 등록</button>
      <button id="deleteButton" class="w-[100px] h-[35px] border-[2px] border-[#d4d8f1] rounded-[4px] text-[16px]">쿠폰
        삭제</button>
    </div>


    <!-- 테이블 영역-->
    <div
      class="w-[1300px] rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] max-w-full text-left text-[16px] text-[#000]">

      <!-- 테이블 데이터 영역-->
      <div id="table" class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="listTable" class="w-[1200px] font-medium font-[Inter] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] py-[20px] pl-[30px] pr-[634px] gap-[20px] ">
              <th data-orderable="false"><input type="checkbox" id="selectAllCheckbox" /></th>
              <th>번호</th>
              <th>유형</th>
              <th>제목</th>
              <th>등록일</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] "></tbody>
        </table>
      </div>
    </div>

    <!-- 쿠폰 등록 모달 -->
    <div id="modalOverlay" class="modal-overlay">
      <div id="addCoupon" class="modal">
        <div
          class="shadow-md rounded-lg bg-white overflow-hidden flex flex-col items-center justify-start p-0 max-w-full">

          <div class="self-stretch flex flex-col gap-1 items-center justify-start relative w-full bg-white p-6">
            <h2 class="text-lg font-semibold">쿠폰 등록</h2>
            <p class="text-sm text-gray-500">등록할 쿠폰의 정보를 입력해주세요</p>
          </div>

          <button id="closeModal" class="absolute top-4 right-4 p-2 rounded-lg z-10">
            <img class="h-6 w-6" alt="" src="/image/admin/icon-cancel.png" />
          </button>

          <!-- 쿠폰 내용 -->
          <div class="">
            <form class="flex flex-col items-center gap-4 p-6 w-full">
              <!-- 쿠폰명 -->
              <div class="w-full flex flex-col gap-2 items-start">
                <label class="text-sm font-medium text-gray-700">쿠폰명*</label>
                <input class="w-full p-2 border rounded-lg focus:outline-none h-[40px] text-[18px]" type="text"
                  placeholder="예: 사이트 오픈 1주년 할인 쿠폰" />
              </div>

              <!-- 쿠폰 형식 -->
              <div class="w-full flex flex-col gap-2 items-start">
                <label class="text-sm font-medium text-gray-700">쿠폰형식*</label>
                <div class="flex gap-4">
                  <label class="flex items-center gap-2">
                    <input type="radio" name="couponType" class="h-4 w-4 cursor-pointer" />
                    <span class="text-base">지정 발행</span>
                  </label>
                  <label class="flex items-center gap-2">
                    <input type="radio" name="couponType" class="h-4 w-4 cursor-pointer" />
                    <span class="text-base">쿠폰코드 생성</span>
                  </label>
                </div>
              </div>

              <!-- 발행대상 -->
              <div class="w-full flex flex-col gap-2 items-start">
                <label class="text-sm font-medium text-gray-700">발행대상*</label>
                <!-- <div class="flex items-center justify-between p-2 border rounded-lg">
                  <span class="text-base">개척자</span>
                  <img class="h-5 w-5" alt="" src="/public/chevrondown.svg" />
                </div> -->
                <select class="flex items-center justify-between p-2 border rounded-lg h-[40px] w-[120px] text-[18px]">
                  <option value="all">전체</option>
                  <option value="seller">방랑자</option>
                  <option value="seller">탐험가</option>
                  <option value="seller">개척자</option>
                </select>
              </div>

              <!-- 할인금액 -->
              <div class="w-full flex flex-col gap-2 items-start">
                <label class="text-sm font-medium text-gray-700">할인금액*</label>
                <div class="flex items-center gap-2 h-[40px] text-[18px]">
                  <input type="text" class="p-2 border rounded-lg w-full shadow-sm" />
                  <span class="text-base">KRW</span>
                </div>
              </div>

              <!-- 사용기간 -->
              <div class="w-full flex flex-col gap-2 items-start">
                <label class="text-sm font-medium text-gray-700">사용기간*</label>
                <input class="p-2 border rounded-lg w-full" type="text" />
              </div>
            </form>
          </div>

          <div class=" flex gap-4 p-6">
            <button class="w-[80px] h-[35px] bg-[#d4d8f1] rounded-[4px] text-[18px]">등록</button>
            <button class="w-[80px] h-[35px] border-[2px] border-[#d4d8f1] rounded-[4px] text-[18px]">취소</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#addButton').click(function () {
        $('#modalOverlay').show();
        $('#addCoupon').show();
      });

      $('#closeModal').click(function () {
        $('#modalOverlay').css('display', 'none');
      });

      // 모달 외부 클릭 방지
      $('#modalOverlay').click(function (event) {
        if (event.target === this) {
          $(this).css('display', 'none');
        }
      });
    });

  </script>
</body>

</html>