<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      layout:fragment="admin">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div
      class="w-full relative rounded-[80px] bg-[#f5f6fb] overflow-hidden flex flex-col items-start justify-start py-[54.5px] px-[20px] box-border gap-[20px] leading-[normal] tracking-[normal] text-left text-[20px] text-[#000] font-[Roboto]"
    >
      <header
        class="w-[1091px] flex flex-col items-start justify-start gap-[20px] max-w-full text-left text-[24px] text-[#000] font-[Inter]"
      >
        <h2
          class="m-[0px] self-stretch h-[40px] relative text-inherit font-semibold font-[inherit] whitespace-pre-wrap flex items-center shrink-0 mq450:text-[19px]"
        >
          회원 등급
        </h2>
        <div
          class="w-[463px] flex flex-row items-start justify-start py-[0px] px-[30px] box-border max-w-full text-[20px] font-[Roboto]"
        >
          <div
            class="flex-1 overflow-hidden flex flex-row items-center justify-between max-w-full gap-[20px] mq750:flex-wrap"
          >
            <a
              class="[text-decoration:none] h-[44px] w-[152px] relative tracking-[0.15px] leading-[25px] text-[inherit] flex items-center shrink-0 mq450:text-[16px] mq450:leading-[20px]"
              >회원 등급 현황</a
            >
            <div
              class="w-[213px] rounded-[4px] bg-[rgba(156,39,176,0.04)] border-[rgba(156,39,176,0.5)] border-[1px] border-solid box-border overflow-hidden shrink-0 flex flex-col items-center justify-center py-[1px] px-[21px] text-[15px] text-[#9c27b0]"
            >
              <div
                class="self-stretch flex flex-row items-center justify-center gap-[8px]"
              >
                <img
                  class="h-[22px] w-[18px] relative hidden"
                  alt=""
                  src="/public/masked-icon.svg"
                />

                <div
                  class="flex-1 relative tracking-[0.46px] leading-[26px] uppercase font-medium whitespace-nowrap"
                >
                  변경된 회원 등급 적용하기
                </div>
                <img
                  class="h-[22px] w-[18px] relative hidden"
                  alt=""
                  src="/public/masked-icon1.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </header>
      <section
        class="w-[1220px] h-[126px] flex flex-row items-start justify-start py-[0px] px-[30px] box-border max-w-full text-left text-[20px] text-[#000] font-[Poppins]"
      >
        <div
          class="self-stretch flex-1 rounded-[30px] bg-[#eaecf8] overflow-x-auto flex flex-row items-start justify-start p-[27px] box-border gap-[94px] max-w-full mq750:gap-[23px] mq1050:gap-[47px]"
        >
          <div
            class="self-stretch rounded-[20px] bg-[#fff] border-[#a4a4a4] border-[1px] border-solid overflow-x-auto shrink-0 flex flex-row items-start justify-start py-[8px] pl-[59px] pr-[54px] gap-[19.5px] mq450:pl-[20px] mq450:pr-[20px] mq450:box-border"
          >
            <div
              class="flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px]"
            >
              <div
                class="h-[30px] relative inline-block min-w-[60px] mq450:text-[16px]"
              >
                방랑자
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-center py-[0px] pl-[0px] pr-[2px]"
            >
              <div class="w-[1px] h-0 relative hidden"></div>
              <div
                class="w-[1px] flex-1 relative border-[rgba(0,0,0,0.12)] border-r-[1px] border-solid box-border"
              ></div>
            </div>
            <div
              class="flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px]"
            >
              <div
                class="h-[30px] relative inline-block min-w-[64px] mq450:text-[16px]"
              >
                nnn 명
              </div>
            </div>
          </div>
          <div
            class="self-stretch rounded-[20px] bg-[#fff] border-[#a4a4a4] border-[1px] border-solid overflow-x-auto shrink-0 flex flex-row items-start justify-start py-[8px] pl-[59px] pr-[54px] gap-[19.5px] mq450:pl-[20px] mq450:pr-[20px] mq450:box-border"
          >
            <div
              class="flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px]"
            >
              <div
                class="h-[30px] relative inline-block min-w-[60px] mq450:text-[16px]"
              >
                탐험가
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-center py-[0px] pl-[0px] pr-[2px]"
            >
              <div class="w-[1px] h-0 relative hidden"></div>
              <div
                class="w-[1px] flex-1 relative border-[rgba(0,0,0,0.12)] border-r-[1px] border-solid box-border"
              ></div>
            </div>
            <div
              class="flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px]"
            >
              <div
                class="h-[30px] relative inline-block min-w-[64px] mq450:text-[16px]"
              >
                nnn 명
              </div>
            </div>
          </div>
          <div
            class="self-stretch rounded-[20px] bg-[#fff] border-[#a4a4a4] border-[1px] border-solid overflow-x-auto shrink-0 flex flex-row items-start justify-start py-[8px] pl-[59px] pr-[54px] gap-[19.5px] mq450:pl-[20px] mq450:pr-[20px] mq450:box-border"
          >
            <div
              class="flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px]"
            >
              <div
                class="h-[30px] relative inline-block min-w-[60px] mq450:text-[16px]"
              >
                개척자
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-center py-[0px] pl-[0px] pr-[2px]"
            >
              <div class="w-[1px] h-0 relative hidden"></div>
              <div
                class="w-[1px] flex-1 relative border-[rgba(0,0,0,0.12)] border-r-[1px] border-solid box-border"
              ></div>
            </div>
            <div
              class="flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px]"
            >
              <div
                class="h-[30px] relative inline-block min-w-[64px] mq450:text-[16px]"
              >
                nnn 명
              </div>
            </div>
          </div>
        </div>
      </section>
      <div
        class="flex flex-row items-start justify-start py-[0px] px-[30px] box-border max-w-full"
      >
        <div
          class="overflow-hidden flex flex-row items-center justify-center gap-[10px] max-w-full mq450:flex-wrap"
        >
          <h3
            class="m-[0px] h-[25px] w-[257px] relative text-inherit tracking-[0.15px] leading-[25px] font-normal font-[inherit] flex items-center mq450:text-[16px] mq450:leading-[20px]"
          >
            회원가입 시 회원등급 기본설정
          </h3>
          <div
            class="w-[73px] rounded-[4px] bg-[rgba(156,39,176,0.04)] border-[rgba(156,39,176,0.5)] border-[1px] border-solid box-border overflow-hidden shrink-0 flex flex-col items-center justify-center py-[0px] px-[20px] text-[15px] text-[#9c27b0]"
          >
            <div class="flex flex-row items-center justify-center gap-[8px]">
              <img
                class="h-[22px] w-[18px] relative hidden"
                alt=""
                src="/public/masked-icon.svg"
              />

              <div
                class="relative tracking-[0.46px] leading-[26px] uppercase font-medium inline-block min-w-[31px]"
              >
                저장
              </div>
              <img
                class="h-[22px] w-[18px] relative hidden"
                alt=""
                src="/public/masked-icon1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[1220px] flex flex-row items-start justify-start py-[0px] px-[30px] box-border max-w-full font-[Poppins]"
      >
        <div
          class="flex-1 bg-[#eaecf8] overflow-hidden flex flex-row items-start justify-start py-[8px] px-[60px] box-border gap-[22px] max-w-full mq1000:flex-wrap mq1000:pl-[30px] mq1000:pr-[30px] mq1000:box-border"
        >
          <div
            class="w-[158px] flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px] box-border"
          >
            <h3
              class="m-[0px] self-stretch h-[30px] relative text-inherit font-normal font-[inherit] inline-block whitespace-nowrap mq450:text-[16px]"
            >
              회원등급 기본 설정
            </h3>
          </div>
          <div
            class="h-[56px] flex flex-col items-start justify-center py-[0px] pl-[0px] pr-[2px] box-border"
          >
            <div class="w-[1px] h-0 relative hidden"></div>
            <div
              class="w-[1px] flex-1 relative border-[rgba(0,0,0,0.12)] border-r-[1px] border-solid box-border"
            ></div>
          </div>
          <div
            class="w-[200px] flex flex-col items-start justify-start pt-[13px] px-[0px] pb-[0px] box-border"
          >
            <h3
              class="m-[0px] self-stretch h-[30px] relative text-inherit font-normal font-[inherit] inline-block whitespace-nowrap mq450:text-[16px]"
            >
              회원가입 시 회원 등급을
            </h3>
          </div>
          <div
            class="w-[165px] flex flex-col items-start justify-start pt-[8px] px-[0px] pb-[0px] box-border text-center text-[10px] text-[#fff] font-[Roboto]"
          >
            <div class="self-stretch flex flex-row items-start justify-start">
              <div
                class="flex-1 rounded-[4px] border-[rgba(0,0,0,0.23)] border-[1px] border-solid flex flex-row items-start justify-start py-[0px] px-[11px]"
              >
                <div
                  class="flex-1 overflow-hidden flex flex-row items-start justify-start py-[8px] pl-[0px] pr-[24px] relative"
                >
                  <div class="h-[24px] w-0 relative hidden z-[0]"></div>
                  <div
                    class="hidden flex-row items-start justify-start py-[0px] pl-[0px] pr-[8px] gap-[8px] z-[1]"
                  >
                    <div
                      class="rounded-[100px] bg-[rgba(0,0,0,0.08)] overflow-x-auto flex flex-row items-center justify-start py-[3px] px-[4px] box-border min-h-[24px] max-h-[24px]"
                    >
                      <div
                        class="rounded-[100px] bg-[#bdbdbd] flex flex-col items-center justify-center relative"
                      >
                        <div
                          class="w-[18px] absolute !m-[0] top-[calc(50%_-_4px)] left-[calc(50%_-_9px)] leading-[10px] flex items-center justify-center max-w-[18px] z-[0]"
                        >
                          OP
                        </div>
                        <div
                          class="w-[18px] h-[18px] relative [transform:_rotate(-90deg)] z-[1]"
                        ></div>
                        <div
                          class="w-[12px] h-[12px] absolute !m-[0] right-[-6px] bottom-[-6px] rounded-[100px] bg-[#fff] hidden z-[2]"
                        >
                          <div
                            class="absolute h-[66.67%] w-[66.67%] top-[16.67%] right-[16.67%] bottom-[16.67%] left-[16.67%] rounded-[100px] bg-[#2e7d32] overflow-hidden flex flex-row items-start justify-start"
                          >
                            <div
                              class="h-[8px] w-[8px] relative rounded-[100px]"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="flex flex-col items-start justify-start py-[0px] px-[6px] text-left text-[13px] text-[rgba(0,0,0,0.87)]"
                      >
                        <div class="relative tracking-[0.16px] leading-[18px]">
                          Chip
                        </div>
                      </div>
                      <img
                        class="h-[16px] w-[16px] relative rounded-[100px] overflow-hidden shrink-0"
                        alt=""
                        src="/public/cancelfilled.svg"
                      />
                    </div>
                    <div
                      class="rounded-[100px] bg-[rgba(0,0,0,0.08)] overflow-x-auto hidden flex-row items-center justify-start py-[3px] px-[4px] box-border min-h-[24px] max-h-[24px]"
                    >
                      <div
                        class="rounded-[100px] bg-[#bdbdbd] flex flex-col items-center justify-center relative"
                      >
                        <div
                          class="w-[18px] absolute !m-[0] top-[calc(50%_-_4px)] left-[calc(50%_-_9px)] leading-[10px] flex items-center justify-center max-w-[18px] z-[0]"
                        >
                          OP
                        </div>
                        <div
                          class="w-[18px] h-[18px] relative [transform:_rotate(-90deg)] z-[1]"
                        ></div>
                        <div
                          class="w-[12px] h-[12px] absolute !m-[0] right-[-6px] bottom-[-6px] rounded-[100px] bg-[#fff] hidden z-[2]"
                        >
                          <div
                            class="absolute h-[66.67%] w-[66.67%] top-[16.67%] right-[16.67%] bottom-[16.67%] left-[16.67%] rounded-[100px] bg-[#2e7d32] overflow-hidden flex flex-row items-start justify-start"
                          >
                            <div
                              class="h-[8px] w-[8px] relative rounded-[100px]"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="flex flex-col items-start justify-start py-[0px] px-[6px] text-left text-[13px] text-[rgba(0,0,0,0.87)]"
                      >
                        <div class="relative tracking-[0.16px] leading-[18px]">
                          Chip
                        </div>
                      </div>
                      <img
                        class="h-[16px] w-[16px] relative rounded-[100px] overflow-hidden shrink-0"
                        alt=""
                        src="/public/cancelfilled.svg"
                      />
                    </div>
                    <div
                      class="rounded-[100px] bg-[rgba(0,0,0,0.08)] overflow-x-auto hidden flex-row items-center justify-start py-[3px] px-[4px] box-border min-h-[24px] max-h-[24px]"
                    >
                      <div
                        class="rounded-[100px] bg-[#bdbdbd] flex flex-col items-center justify-center relative"
                      >
                        <div
                          class="w-[18px] absolute !m-[0] top-[calc(50%_-_4px)] left-[calc(50%_-_9px)] leading-[10px] flex items-center justify-center max-w-[18px] z-[0]"
                        >
                          OP
                        </div>
                        <div
                          class="w-[18px] h-[18px] relative [transform:_rotate(-90deg)] z-[1]"
                        ></div>
                        <div
                          class="w-[12px] h-[12px] absolute !m-[0] right-[-6px] bottom-[-6px] rounded-[100px] bg-[#fff] hidden z-[2]"
                        >
                          <div
                            class="absolute h-[66.67%] w-[66.67%] top-[16.67%] right-[16.67%] bottom-[16.67%] left-[16.67%] rounded-[100px] bg-[#2e7d32] overflow-hidden flex flex-row items-start justify-start"
                          >
                            <div
                              class="h-[8px] w-[8px] relative rounded-[100px]"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="flex flex-col items-start justify-start py-[0px] px-[6px] text-left text-[13px] text-[rgba(0,0,0,0.87)]"
                      >
                        <div class="relative tracking-[0.16px] leading-[18px]">
                          Chip
                        </div>
                      </div>
                      <img
                        class="h-[16px] w-[16px] relative rounded-[100px] overflow-hidden shrink-0"
                        alt=""
                        src="/public/cancelfilled.svg"
                      />
                    </div>
                  </div>
                  <div
                    class="flex-1 flex flex-row items-start justify-start relative text-left text-[16px] text-[rgba(0,0,0,0.6)]"
                  >
                    <div
                      class="flex-1 relative tracking-[0.15px] leading-[24px]"
                    >
                      Label
                    </div>
                    <div
                      class="!m-[0] absolute top-[calc(50%_-_10px)] right-[0px] flex flex-row items-start justify-start"
                    >
                      <img
                        class="h-[20px] w-[20px] relative overflow-hidden shrink-0"
                        alt=""
                        src="/public/closefilled.svg"
                      />
                    </div>
                  </div>
                  <div class="h-0 w-[24px] relative hidden z-[3]"></div>
                  <img
                    class="h-[24px] w-[24px] absolute !m-[0] top-[calc(50%_-_12px)] right-[0px] overflow-hidden shrink-0 z-[1]"
                    alt=""
                    src="/public/arrowdropdownfilled.svg"
                  />
                </div>
              </div>
              <div
                class="h-[20px] w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border text-left text-[12px] text-[rgba(0,0,0,0.6)]"
              >
                <div
                  class="self-stretch relative tracking-[0.4px] leading-[166%]"
                >
                  Helper text
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col items-start justify-start pt-[16px] px-[0px] pb-[0px] text-[16px] font-[Roboto]"
          >
            <div
              class="relative tracking-[0.15px] leading-[24px] inline-block min-w-[124px] whitespace-nowrap"
            >
              (으)로 설정합니다.
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-[513px] flex flex-row items-start justify-start py-[0px] px-[30px] box-border max-w-full"
      >
        <h3
          class="m-[0px] h-[30px] flex-1 relative text-inherit tracking-[0.15px] leading-[25px] font-normal font-[inherit] flex items-center max-w-full mq450:text-[16px] mq450:leading-[20px]"
        >
          회원 등급 관리
        </h3>
      </div>
      <section
        class="w-[1220px] flex flex-row items-start justify-start py-[0px] px-[30px] box-border max-w-full text-left text-[14px] text-[rgba(0,0,0,0.87)] font-[Roboto]"
      >
        <div
          class="flex-1 bg-[#eaecf8] flex flex-row items-start justify-start flex-wrap content-start pt-[0px] px-[0px] pb-[7.5px] box-border min-h-[220px] max-w-full"
        >
          <div
            class="flex-1 bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start py-[7px] pl-[4px] pr-[0px] box-border min-w-[275px] [row-gap:20px] mq450:flex-wrap mq450:pr-[4px] mq450:box-border"
          >
            <div
              class="overflow-hidden flex flex-row items-center justify-start"
            >
              <div
                class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border"
              >
                <input
                  class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0"
                  type="checkbox"
                />
              </div>
            </div>
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
            <div
              class="relative tracking-[0.17px] leading-[24px] font-medium inline-block min-w-[56px]"
            >
              회원 등급
            </div>
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
            <div
              class="relative tracking-[0.17px] leading-[24px] font-medium inline-block min-w-[69px]"
            >
              구매 적립률
            </div>
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
            <div
              class="relative tracking-[0.17px] leading-[24px] font-medium inline-block min-w-[69px]"
            >
              구매 할인율
            </div>
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
          </div>
          <div
            class="flex-[0.9161] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start py-[16px] px-[14px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
            <div
              class="relative tracking-[0.17px] leading-[24px] font-medium inline-block min-w-[29px]"
            >
              조건
            </div>
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
          </div>
          <div
            class="h-[56px] flex-[0.7586] bg-[rgba(0,0,0,0)] hidden flex-row items-center justify-start p-[16px] box-border min-w-[114px] z-[5]"
          >
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
            <div
              class="self-stretch relative tracking-[0.17px] leading-[24px] font-medium"
            ></div>
            <div
              class="hidden flex-row items-start justify-start py-[0px] px-[4px]"
            >
              <img
                class="h-[18px] w-[18px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/arrowdownwardfilled.svg"
              />
            </div>
          </div>
          <div
            class="flex-1 bg-[rgba(0,0,0,0)] flex flex-row items-start justify-start py-[16px] pl-[4px] pr-[0px] box-border min-w-[275px] [row-gap:20px] ml-[-1.3px] mq450:flex-wrap mq450:pr-[4px] mq450:box-border"
          >
            <div
              class="h-[20px] w-[42px] flex flex-row items-start justify-start relative"
            >
              <div
                class="!m-[0] absolute w-full top-[calc(50%_-_21px)] right-[0px] left-[0px] overflow-hidden flex flex-row items-start justify-start"
              >
                <div
                  class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border"
                >
                  <input
                    class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0"
                    type="checkbox"
                  />
                </div>
              </div>
            </div>
            <div
              class="flex-1 flex flex-row items-start justify-start min-w-[24px]"
            >
              <div class="flex flex-row items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[24px]"
                >
                  Cell
                </div>
              </div>
              <div class="hidden flex-col items-start justify-start">
                <div class="relative tracking-[0.17px] leading-[143%]">
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.7586] bg-[rgba(0,0,0,0)] hidden flex-row items-center justify-start p-[16px] box-border min-w-[114px] z-[10]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="w-[25px] flex flex-col items-start justify-start">
                <div
                  class="self-stretch relative tracking-[0.17px] leading-[143%]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-1 bg-[rgba(0,0,0,0)] flex flex-row items-start justify-start py-[16px] pl-[4px] pr-[0px] box-border min-w-[275px] [row-gap:20px] ml-[-1.3px] mq450:flex-wrap mq450:pr-[4px] mq450:box-border"
          >
            <div
              class="h-[20px] w-[42px] flex flex-row items-start justify-start relative"
            >
              <div
                class="!m-[0] absolute w-full top-[calc(50%_-_21px)] right-[0px] left-[0px] overflow-hidden flex flex-row items-start justify-start"
              >
                <div
                  class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border"
                >
                  <input
                    class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0"
                    type="checkbox"
                  />
                </div>
              </div>
            </div>
            <div
              class="flex-1 flex flex-row items-start justify-start min-w-[24px]"
            >
              <div class="flex flex-row items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[24px]"
                >
                  Cell
                </div>
              </div>
              <div class="hidden flex-col items-start justify-start">
                <div class="relative tracking-[0.17px] leading-[143%]">
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.7586] bg-[rgba(0,0,0,0)] hidden flex-row items-center justify-start p-[16px] box-border min-w-[114px] z-[15]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="w-[25px] flex flex-col items-start justify-start">
                <div
                  class="self-stretch relative tracking-[0.17px] leading-[143%]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-1 bg-[rgba(0,0,0,0)] flex flex-row items-start justify-start py-[16px] pl-[4px] pr-[0px] box-border min-w-[275px] [row-gap:20px] ml-[-1.3px] mq450:flex-wrap mq450:pr-[4px] mq450:box-border"
          >
            <div
              class="h-[20px] w-[42px] flex flex-row items-start justify-start relative"
            >
              <div
                class="!m-[0] absolute w-full top-[calc(50%_-_21px)] right-[0px] left-[0px] overflow-hidden flex flex-row items-start justify-start"
              >
                <div
                  class="h-[42px] w-[42px] rounded-[100px] flex flex-row items-start justify-start p-[9px] box-border"
                >
                  <input
                    class="m-[0px] h-[24px] w-[24px] relative overflow-hidden shrink-0"
                    type="checkbox"
                  />
                </div>
              </div>
            </div>
            <div
              class="flex-1 flex flex-row items-start justify-start min-w-[24px]"
            >
              <div class="flex flex-row items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[24px]"
                >
                  Cell
                </div>
              </div>
              <div class="hidden flex-col items-start justify-start">
                <div class="relative tracking-[0.17px] leading-[143%]">
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.9021] bg-[rgba(0,0,0,0)] flex flex-row items-center justify-start p-[16px] box-border min-w-[275px] ml-[-1.3px]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="flex flex-col items-start justify-start">
                <div
                  class="relative tracking-[0.17px] leading-[143%] inline-block min-w-[25px]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex-[0.7586] bg-[rgba(0,0,0,0)] hidden flex-row items-center justify-start p-[16px] box-border min-w-[114px] z-[20]"
          >
            <div class="flex-1 flex flex-col items-start justify-start">
              <div class="w-[25px] flex flex-col items-start justify-start">
                <div
                  class="self-stretch relative tracking-[0.17px] leading-[143%]"
                >
                  Cell
                </div>
              </div>
              <div class="w-[75px] hidden flex-col items-start justify-start">
                <div
                  class="self-stretch h-[20px] relative tracking-[0.17px] leading-[143%] inline-block"
                >
                  Typography
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div
        class="flex flex-row items-start justify-start py-[0px] px-[30px] text-[15px] text-[#9c27b0]"
      >
        <div
          class="rounded-[4px] bg-[rgba(156,39,176,0.04)] border-[rgba(156,39,176,0.5)] border-[1px] border-solid overflow-hidden flex flex-row items-start justify-start py-[0px] px-[21px]"
        >
          <div class="flex flex-row items-start justify-start gap-[8px]">
            <img
              class="h-[22px] w-[18px] relative hidden"
              alt=""
              src="/public/masked-icon.svg"
            />

            <div
              class="relative tracking-[0.46px] leading-[26px] uppercase font-medium inline-block min-w-[123px] whitespace-nowrap"
            >
              회원 등급 추가하기
            </div>
            <img
              class="h-[22px] w-[18px] relative hidden"
              alt=""
              src="/public/masked-icon1.svg"
            />
          </div>
        </div>
      </div>
      <section
        class="w-[1220px] flex flex-row items-start justify-start py-[0px] px-[30px] box-border max-w-full text-left text-[16px] text-[rgba(0,0,0,0.87)] font-[Roboto]"
      >
        <div
          class="flex-1 rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-row items-center justify-start flex-wrap content-center pt-[20.8px] pb-[20.7px] pl-[27px] pr-[35px] box-border gap-x-[10px] gap-y-[20px] min-h-[220px] max-w-full"
        >
          <div class="w-[223px] flex flex-col items-start justify-start">
            <div
              class="self-stretch rounded-[4px] border-[#2196f3] border-[2px] border-solid flex flex-col items-start justify-start py-[0px] px-[10px] relative"
            >
              <div
                class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[16px] px-[0px] box-border min-w-[24px] min-h-[24px]"
              >
                <div
                  class="h-[24px] w-[32px] hidden flex-row items-center justify-start py-[0px] pl-[0px] pr-[8px] box-border"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/public/starsharp.svg"
                    />
                  </div>
                </div>
                <div class="flex-1 relative tracking-[0.15px] leading-[24px]">
                  |
                </div>
                <div
                  class="self-stretch w-[98px] relative tracking-[0.15px] leading-[24px] text-[rgba(0,0,0,0.38)] hidden"
                >
                  Placeholder
                </div>
                <div
                  class="h-[24px] w-[24px] hidden flex-row items-center justify-start"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/public/starsharp.svg"
                    />
                  </div>
                </div>
              </div>
              <div
                class="h-[2px] !m-[0] absolute top-[0px] left-[12px] bg-[#fff] flex flex-row items-center justify-start py-[0px] px-[2px] box-border z-[1] text-[12px] text-[#2196f3]"
              >
                <div
                  class="relative tracking-[0.15px] leading-[12px] inline-block min-w-[49px]"
                >
                  회원등급
                </div>
              </div>
            </div>
            <div
              class="self-stretch hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] text-[12px] text-[rgba(0,0,0,0.6)]"
            >
              <div
                class="self-stretch h-[20px] relative tracking-[0.4px] leading-[166%] flex items-center"
              >
                Helper text
              </div>
            </div>
          </div>
          <div class="w-[279px] flex flex-col items-start justify-start">
            <div
              class="self-stretch rounded-[4px] border-[#2196f3] border-[2px] border-solid flex flex-col items-start justify-start py-[0px] px-[10px] relative"
            >
              <div
                class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[16px] px-[0px] box-border min-w-[24px] min-h-[24px]"
              >
                <div
                  class="h-[24px] w-[32px] hidden flex-row items-center justify-start py-[0px] pl-[0px] pr-[8px] box-border"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/public/starsharp.svg"
                    />
                  </div>
                </div>
                <div class="flex-1 relative tracking-[0.15px] leading-[24px]">
                  |
                </div>
                <div
                  class="self-stretch w-[98px] relative tracking-[0.15px] leading-[24px] text-[rgba(0,0,0,0.38)] hidden"
                >
                  Placeholder
                </div>
                <div
                  class="h-[24px] w-[24px] hidden flex-row items-center justify-start"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/public/starsharp.svg"
                    />
                  </div>
                </div>
              </div>
              <input
                class="w-[67px] [border:none] [outline:none] bg-[#fff] h-[2px] !m-[0] absolute top-[0px] left-[12px] flex flex-row items-center justify-start py-[0px] px-[4px] box-border font-[Roboto] text-[12px] text-[#2196f3] z-[1]"
                placeholder="구매 적립률"
                type="text"
              />
            </div>
            <div
              class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border text-[12px] text-[rgba(0,0,0,0.6)]"
            >
              <div
                class="self-stretch h-[20px] relative tracking-[0.4px] leading-[166%] flex items-center"
              >
                Helper text
              </div>
            </div>
          </div>
          <div class="w-[236px] flex flex-col items-start justify-start">
            <div
              class="self-stretch rounded-[4px] border-[#2196f3] border-[2px] border-solid flex flex-col items-start justify-start py-[0px] px-[10px] relative"
            >
              <div
                class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[16px] px-[0px] box-border min-w-[24px] min-h-[24px]"
              >
                <div
                  class="h-[24px] w-[32px] hidden flex-row items-center justify-start py-[0px] pl-[0px] pr-[8px] box-border"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/public/starsharp.svg"
                    />
                  </div>
                </div>
                <div class="flex-1 relative tracking-[0.15px] leading-[24px]">
                  |
                </div>
                <div
                  class="self-stretch w-[98px] relative tracking-[0.15px] leading-[24px] text-[rgba(0,0,0,0.38)] hidden"
                >
                  Placeholder
                </div>
                <div
                  class="h-[24px] w-[24px] hidden flex-row items-center justify-start"
                >
                  <div class="hidden flex-row items-start justify-start">
                    <img
                      class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
                      alt=""
                      src="/public/starsharp.svg"
                    />
                  </div>
                </div>
              </div>
              <input
                class="w-[67px] [border:none] [outline:none] bg-[#fff] h-[2px] !m-[0] absolute top-[0px] left-[12px] flex flex-row items-center justify-start py-[0px] px-[4px] box-border font-[Roboto] text-[12px] text-[#2196f3] z-[1]"
                placeholder="구매 할인율"
                type="text"
              />
            </div>
            <div
              class="w-[220px] hidden flex-col items-start justify-start pt-[3px] px-[14px] pb-[0px] box-border text-[12px] text-[rgba(0,0,0,0.6)]"
            >
              <div
                class="self-stretch h-[20px] relative tracking-[0.4px] leading-[166%] flex items-center"
              >
                Helper text
              </div>
            </div>
          </div>
          <div
            class="w-[1098px] rounded-[4px] border-[#2196f3] border-[2px] border-solid box-border flex flex-col items-start justify-start py-[0px] px-[10px] relative max-w-full"
          >
            <div
              class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[16px] px-[0px] box-border min-w-[24px] min-h-[24px] max-w-full"
            >
              <div class="h-[24px] w-[32px] hidden"></div>
              <div
                class="flex-1 relative tracking-[0.15px] leading-[24px] inline-block max-w-full"
              >
                |
              </div>
              <div
                class="w-[98px] relative tracking-[0.15px] leading-[24px] text-[rgba(0,0,0,0.38)] hidden"
              >
                Placeholder
              </div>
              <div class="h-[24px] w-[24px] hidden"></div>
            </div>
            <input
              class="w-[31px] [border:none] [outline:none] bg-[#fff] h-[12px] !m-[0] absolute top-[0px] left-[12px] flex flex-row items-center justify-start py-[0px] px-[3px] box-border font-[Roboto] text-[12px] text-[#2196f3] z-[1]"
              placeholder="조건"
              type="text"
            />
          </div>
          <div
            class="w-[69px] flex flex-col items-start justify-start text-center text-[20px] text-[#fff] font-[Abel]"
          >
            <div
              class="self-stretch rounded-[4.8px] bg-[#007bff] flex flex-col items-center justify-center py-[8px] px-[14px]"
            >
              <div
                class="self-stretch flex flex-row items-center justify-center gap-[4px]"
              >
                <img
                  class="h-[30px] w-[30px] relative overflow-hidden shrink-0 object-cover hidden min-h-[30px]"
                  alt=""
                  src="/public/l-icon6@2x.png"
                />

                <h3
                  class="m-[0px] relative text-inherit leading-[30px] font-normal font-[inherit] inline-block min-w-[40px] mq450:text-[16px] mq450:leading-[24px]"
                >
                  저장
                </h3>
                <img
                  class="h-[30px] w-[30px] relative overflow-hidden shrink-0 object-cover hidden min-h-[30px]"
                  alt=""
                  src="/public/l-icon6@2x.png"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[69px] flex flex-col items-start justify-start text-center text-[20px] text-[#007bff] font-[Abel]"
          >
            <div
              class="self-stretch rounded-[4.8px] border-[#007bff] border-[1px] border-solid flex flex-col items-center justify-center py-[6px] px-[13px]"
            >
              <div
                class="w-[41px] flex flex-row items-center justify-center gap-[4px]"
              >
                <img
                  class="h-[30px] w-[30px] relative overflow-hidden shrink-0 object-cover hidden min-h-[30px]"
                  alt=""
                  src="/public/l-icon6@2x.png"
                />

                <h3
                  class="m-[0px] relative text-inherit leading-[30px] font-normal font-[inherit] inline-block min-w-[40px] mq450:text-[16px] mq450:leading-[24px]"
                >
                  취소
                </h3>
                <img
                  class="h-[30px] w-[30px] relative overflow-hidden shrink-0 object-cover hidden min-h-[30px]"
                  alt=""
                  src="/public/l-icon6@2x.png"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
