<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>

<body>
  <div class="w-[1735px] min-h-[800px] rounded-[30px] bg-[#f5f6fb] flex flex-col shrink-0 items-start justify-start p-[30px] box-border gap-[20px] text-left">

    <label class="text-[24px] h-[40px] font-semibold">
      가맹점 공지사항
    </label>

    <!-- 검색 영역-->
    <section
      class="w-[1300px] rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-col items-start justify-start p-[10px] box-border gap-[5px] max-w-full text-center text-[18px] text-[#000] font-[Inter]">

      <!-- 등록일 영역 -->
      <div
        class="w-[450px] overflow-hidden flex flex-row items-center justify-center flex-wrap content-center py-[5px] px-[20px] box-border gap-[15px] max-w-full">
        <label
          class="m-[0px] w-[100px] relative font-light font-[inherit] flex items-center justify-center shrink-0 mq450:text-[16px]">
          등록일
        </label>
        <div id="date-range-picker"
          class="flex-1 rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] border-solid box-border w-[300px] flex flex-row items-center justify-center py-[4px] px-[11px]">
          <img class="h-[16px] w-[16px]" src="/image/admin/icon-calendar.png" />
          <input readonly id="date-range-picker-input"
            class="w-full [border:none] [outline:none] h-[24px] flex-1 flex flex-row items-center justify-start text-[16px] text-[#6c757d] min-w-[94px] px-[11px]"
            type="text" placeholder="전체 기간" />
        </div>
      </div>

      <!-- 검색어 영역 -->
      <div
        class="w-[700px] overflow-hidden flex flex-row items-center justify-center flex-wrap content-center py-[5px] px-[20px] box-border gap-[15px] max-w-full">
        <label
          class="m-[0px] w-[100px] relative font-light font-[inherit] flex items-center justify-center shrink-0 mq450:text-[16px]">
          검색어
        </label>
        <div id="search-input"
          class="flex-1 rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] border-solid box-border w-[300px] flex flex-row items-center justify-center py-[4px] px-[5px]">
          <select id="search-type"
            class="w-[40px] [border:none] [outline:none] h-[24px] justify-start text-[16px] text-[#6c757d] min-w-[94px] px-[11px]">
            <option value="all">전체</option>
            <option value="title">제목</option>
            <option value="ffname">파일명</option>
          </select>
          <input id="search-keyword"
            class="w-full [border:none] [outline:none] h-[24px] flex-1 flex flex-row items-center justify-start text-[16px] text-[#6c757d] min-w-[94px] px-[11px]"
            type="text" />
        </div>
      </div>

      <!-- 검색버튼 영역 -->
      <div class="w-[300px] flex-1 box-border flex flex-row items-center justify-center py-[4px] px-[30px] gap-[15px]">
        <button id="search-button"
          class="w-[100px] h-[30px] bg-[#d4d8f1] rounded-[4px]">검색</button>
          <button id="reset-button" 
          class="flex flex-row items-center justify-center w-[100px] h-[30px] border-[2px] border-[#d4d8f1] rounded-[4px]">초기화</button>
      </div>

    </section>


    <!-- 테이블 영역 -->
    <section
      class="w-[1300px] rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] max-w-full text-left text-[16px] text-[#000]">

      <!-- 테이블 데이터 영역 -->
      <div id="table"
        class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="listTable" class="w-[1200px] font-medium font-[Inter] hover" >
          <thead>
            <tr
              class="bg-[#d4d8f1] py-[20px] pl-[30px] pr-[634px] gap-[20px] ">
              <th data-orderable="false"><input type="checkbox" id="selectAllCheckbox"/></th>
              <th>번호</th>
              <th>유형</th>
              <th>제목</th>
              <th>등록일</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] "></tbody>
        </table>
      </div>

      <!-- 글쓰기 버튼 영역 -->
      <div
        class="self-stretch flex flex-row justify-start flex-wrap pl-[30px] gap-[10px] text-center ">
        <button onclick="javascript:location.href='/admin/host_notice/write'"
          class="w-[80px] h-[35px] bg-[#d4d8f1] rounded-[4px]">글쓰기</button>
        <button id="deleteButton"
          class="w-[80px] h-[35px] border-[2px] border-[#d4d8f1] rounded-[4px]">삭제</button>
      </div>
    </section>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="/js/datepicker-search.js"></script>
<script>

  $(document).ready(function () {
    $('#listTable').DataTable({
      "searching": false,

      ajax: {
        url: '/admin/host_notice/getList',
        type: 'GET',
        dataSrc: 'data'
      },

      columns: [
        {
          data: null,
          render: function (data, type, row) {
            return '<input type="checkbox" class="itemCheckbox" value="' + row.id + '">';
          }
        },
        { data: 'id' }, // ID 칼럼 추가
        { data: 'scate',
          render: function(data, type, row) {
            switch (data) {
              case 'NOTICE':
                return '공지사항';
              case 'FAQ':
                return '자주묻는질문';
              default:
                return data;
            }
          }
        }, 
        {
          data: 'stitle',
          render: function (data, type, row) {
            return '<a href="/admin/host_notice/view?id=' + row.id + '">' + data + '</a>';
          }
        },
        { 
          data: 'sdate',
          render: function (data, type, row) {
            if (data) {
              var date = new Date(data);
              var year = date.getFullYear();
              var month = ('0' + (date.getMonth() + 1)).slice(-2);
              var day = ('0' + date.getDate()).slice(-2);
              var hours = ('0' + date.getHours()).slice(-2);
              var minutes = ('0' + date.getMinutes()).slice(-2);
              var seconds = ('0' + date.getSeconds()).slice(-2);
              return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
            }
            return data;
          }
        }
      ],
      columnDefs: [
        {width: 50, targets: 0 },
        {width: 70, targets: 1},
        {width: 160, targets: 2},
        {width: 600, targets: 3},
        {width: 300, targets: 4}
      ],

    });

    // 전체 선택 체크박스 이벤트 처리
    $('#selectAllCheckbox').on('click', function () {
      $('.itemCheckbox').prop('checked', this.checked);
    });

    // 검색 버튼 클릭 이벤트 처리
    $('#search-button').on('click', function () {
      var dateValue = $('#date-range-picker-input').val().trim();
      var searchType = $('#search-type').val();
      var searchKeyword = $('#search-keyword').val().trim();

      // 검색 요청
      $.ajax({
        url: '/admin/host_notice/search',
        type: 'GET',
        data: {
          type: searchType,
          keyword: searchKeyword,
          date: dateValue
        },
        success: function (data) {
          var table = $('#listTable').DataTable();
          table.clear();
          table.rows.add(data.list).draw(); // data.list를 사용하여 데이터 갱신

        },
        error: function (error) {
          alert("검색 중 오류가 발생했습니다.");
          console.error(error);
        }
      });
    });


    // 삭제 버튼 클릭 이벤트 처리
    $('#deleteButton').on('click', function () {
      var selectedIds = [];
      $('.itemCheckbox:checked').each(function () {
        selectedIds.push($(this).val());
      });

      if (selectedIds.length === 0) {
        alert("삭제할 항목을 선택하세요.");
        return;
      }

      if (confirm("선택한 항목을 삭제하시겠습니까?")) {

        $.ajax({
          url: '/admin/notice/delete', 
          type: 'POST',
          data: { ids: selectedIds },
        }).done(function (response) {
          alert("삭제가 완료되었습니다.");

          console.log(response);

          $('#listTable').DataTable().ajax.reload();

        }).fail(function (error) {
          // 삭제 실패 시 에러 처리
          alert("삭제 중 오류가 발생했습니다.");
          console.error(error);
        });
      }
    });

    $('#reset-button').on('click', function () {
      $('#date-range-picker-input').val('');
      $('#search-keyword').val('');
      $('#search-type').val('all');
    });


    // DataTables 초기화 후 이벤트 리스너 등록
    var table = $('#listTable').DataTable();
    table.on('order.dt', function() {
        // 정렬 이벤트 발생 시 모든 체크박스 해제
        $('.itemCheckbox').prop('checked', false);
        $('#selectAllCheckbox').prop('checked', false); // 전체 선택 체크박스도 해제
    });
  });

</script>

</html>