<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
</head>

<body>
  <div
    class="w-full relative rounded-tl-[80px] rounded-tr-[0px] rounded-br-[0px] rounded-bl-[80px] bg-[#f5f6fb] overflow-hidden flex flex-col items-start justify-start py-[55px] px-[125px] box-border gap-[10px] leading-[normal] tracking-[normal] text-left text-[20px] text-[#000] font-[Roboto] lg:pl-[62px] lg:pr-[62px] lg:box-border mq750:pl-[31px] mq750:pr-[31px] mq750:box-border">
    
    <!-- 제목 영역 -->
    <label
      class="w-[1201px] relative tracking-[0.46px] leading-[20px] uppercase font-medium inline-block max-w-full mq450:text-[16px] mq450:leading-[16px]">
      1:1 문의 내역
    </label>

    <!-- 문의 내역 조회 영역 -->
    <section
      class="w-[1200px] rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-col items-start justify-start py-[42px] pl-[138px] pr-[136px] box-border gap-[6px] max-w-full text-left text-[12px] text-[rgba(0,0,0,0.6)] font-[Roboto] lg:pl-[69px] lg:pr-[68px] lg:box-border mq450:pt-[27px] mq450:pb-[27px] mq450:box-border mq750:pl-[34px] mq750:pr-[34px] mq750:box-border">
      <div th:if="${sDto != null}">

        <table summary="게시판 상세보기">
            <tbody>
                <tr>
                    <td><input type="text" id="title" name="sTitle" th:value="${sDto.sTitle}" data-str="제목"
                            placeholder="제목을 입력하세요" class="w-full h-[40px] flex-1 flex flex-row items-center justify-start text-[16px] 
      text-[#000] rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] 
      border-solid box-border py-[4px] px-[11px] mb-2" readonly /></td>
                </tr>
                <tr><td><div class="mb-[10px] p-2"><span class="text-black">등록일: </span><span class="text-black" th:text="${sDto.sDate}"> </span><span> (* 등록일만 저장됩니다.) </span></div></td></tr>
                <tr>
                    <td><textarea th:text="${sDto.sContent}" id="content"
                            class="bg-[#fff] w-[1000px] h-[500px] text-[#000]" name="sContent" cols="50"
                            data-str="내용" rows="8" readonly></textarea></td>
                </tr>
                <tr>
                    <td>
                        <div th:if="${sDto.fileName != null}">
                            <a th:href="|javascript:down('${sDto.fileName.fName}')|">
                                <span th:text="${sDto.fileName.fName}"></span>
                            </a>
                        </div>
                        <div th:if="${sDto.fileName == null}">
                            <span>첨부된 파일이 없습니다.</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </section>
    
    <!-- 제목 영역 -->
    <label
      class="w-[1201px] relative tracking-[0.46px] leading-[20px] uppercase font-medium inline-block max-w-full mq450:text-[16px] mq450:leading-[16px]">
      1:1 문의 답변
    </label>

    <section
      class="w-[1200px] rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-col items-start justify-start py-[42px] pl-[138px] pr-[136px] box-border gap-[6px] max-w-full text-left text-[12px] text-[rgba(0,0,0,0.6)] font-[Roboto] lg:pl-[69px] lg:pr-[68px] lg:box-border mq450:pt-[27px] mq450:pb-[27px] mq450:box-border mq750:pl-[34px] mq750:pr-[34px] mq750:box-border">
      <div th:if="${sDto != null}">

        <table summary="게시판 상세보기">
            <tbody>
                <tr>
                    <td><input type="text" id="title" name="sTitle" th:value="${sDto.sTitle}" data-str="제목"
                            placeholder="제목을 입력하세요" class="w-full h-[40px] flex-1 flex flex-row items-center justify-start text-[16px] 
      text-[#000] rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] 
      border-solid box-border py-[4px] px-[11px] mb-2" readonly /></td>
                </tr>
                <tr><td><div class="mb-[10px] p-2"><span class="text-black">등록일: </span><span class="text-black" th:text="${sDto.sDate}"> </span><span> (* 등록일만 저장됩니다.) </span></div></td></tr>
                <tr>
                    <td><textarea th:text="${sDto.sContent}" id="content"
                            class="bg-[#fff] w-[1000px] h-[500px] text-[#000]" name="sContent" cols="50"
                            data-str="내용" rows="8" readonly></textarea></td>
                </tr>
                <tr>
                    <td>
                        <div th:if="${sDto.fileName != null}">
                            <a th:href="|javascript:down('${sDto.fileName.fName}')|">
                                <span th:text="${sDto.fileName.fName}"></span>
                            </a>
                        </div>
                        <div th:if="${sDto.fileName == null}">
                            <span>첨부된 파일이 없습니다.</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </section>
  </div>
</body>

</html>