<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <link rel="stylesheet" href="/summernote/css/style.css" />
  <link rel="stylesheet" href="/summernote/css/summernote-lite.css" />
  <style>
    .note-editable {
      background-color: white !important;
      color: black !important;
    }
  </style>
</head>

<body>
  <div
    class="w-[1720px] relative rounded-[30px] bg-[#f5f6fb] overflow-hidden shrink-0 flex flex-col items-start justify-start pt-[30px] px-[20px] pb-[50px] gap-[20px]">
    <main
      class="flex-1 overflow-hidden flex flex-col items-center justify-center py-[0px] px-[65px] gap-[10px] max-w-full text-left text-[24px] text-[#000] font-[Roboto] mq1275:pl-[32px] mq1275:pr-[32px]">

      <!-- 제목 영역 -->
      <h2
        class="m-[0px] self-stretch h-[48px] relative text-inherit tracking-[0.46px] leading-[26px] uppercase font-semibold font-[inherit] flex items-center shrink-0 mq450:text-[19px] mq450:leading-[21px]">
        게시물 수정
      </h2>

      <!-- 게시판 수정 영역-->
      <section
        class="text-[#6c757d] text-[16px] w-[1300px] self-stretch h-[700px] rounded-[30px] bg-[#eaecf8] overflow-hidden shrink-0 flex flex-col items-center justify-center py-[48px] px-[61px] mq450:pt-[20px] mq450:pb-[20px] mq900:pt-[31px] mq900:pb-[31px] mq1275:pl-[30px] mq1275:pr-[30px]">
        <div th:if="${sDto != null}">
          <form action="/admin/host_notice/modify" method="post" encType="multipart/form-data">
            <table summary="게시판 수정하기">
              <tbody>
                <input type="hidden" name="id" th:value="${sDto.id}" />
                <input type="hidden" id="sc" th:value="${sDto.sCate}" />
                <tr>
                  <td>
                    <div class="flex flex-row">
                      <select id="notice-type" name="sCate" data-str="게시판 유형"
                        class="w-[150px] h-[40px] rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] border-solid box-border py-[4px] px-[5px]">
                        <option value="">---선택---</option>
                        <option value="NOTICE">공지사항</option>
                        <option value="FAQ">자주묻는질문</option>
                      </select>
                      <input type="text" id="title" name="sTitle" th:value="${sDto.sTitle}" data-str="제목"
                        placeholder="제목을 입력하세요" class="w-full h-[40px] flex-1 flex flex-row items-center justify-start text-[16px] 
                    text-[#000] rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] 
                    border-solid box-border py-[4px] px-[11px] mb-2" />
                  </div>
                  </td>
                </tr>
                <tr>
                  <td><textarea th:text="${sDto.sContent}" id="content" class="bg-[#fff]" name="sContent" cols="50"
                      data-str="내용" rows="8" style="background-color: white !important;" readonly></textarea></td>
                </tr>
                <div th:if="${sDto.fileName != null}">
                  <tr>
                    <td>
                      <div th:if="${sDto.fileName != null and sDto.fileName.fName != null}">
                        <a th:href="|javascript:down('${sDto.fileName.fName}')|">
                          <span>현재 파일: </span><span id="ff" th:text="${sDto.fileName.fName}"></span>
                          <button id="deleteFileButton" class="ml-[20px] p-1">[삭제하기]</button>
                        </a>
                      </div>
                    </td>
                  </tr>
                </div>
                <tr>
                  <td>
                    <div th:if="${sDto.fileName != null and sDto.fileName.fName != null}">
                      <input type="hidden" id="selectedFile" name="selectedFile" th:value="${sDto.fileName.fName}" />
                    </div>
                    <input type="file" id="fileUpload" name="file" data-str="첨부파일" class="mt-2 text-[#6c757d]" />
                    <div> * 수정 파일 선택 시 기존 파일은 삭제됩니다.</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </section>

      <!-- 버튼 영역 -->
      <div
        class="text-[15px] font-medium overflow-hidden flex flex-row items-center justify-start py-[15px] pl-[20px] pr-[1170px] gap-[11px] mq450:pr-[20px] mq900:pr-[292px] mq1275:pr-[585px] mq1650:flex-wrap">

        <button onclick="sendData()" class="w-[80px] h-[35px] bg-[#d4d8f1] rounded-[4px]">
          등록
        </button>
        <button onclick="resetData()" class="w-[80px] h-[35px] bg-[#d4d8f1] rounded-[4px]">
          다시 입력
        </button>
        <button onclick="javascript:location.href='/admin/host_notice'"
          class="w-[80px] h-[35px] bg-[#d4d8f1] rounded-[4px]">
          목록
        </button>
      </div>
    </main>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="/summernote/js/summernote-lite.js"></script>
  <script>

    $(function () {
      $("#content").summernote({
        lang: "ko-KR",
        width: 1000,
        height: 400,
        maxHeight: 500,
        minHeight: 200,

        callbacks: {  //이미지가 에디터에 추가될 때 실행
          onImageUpload: function (files, editor) {
            for (let i = 0; i < files.length; i++)
              sendImage(files[i], editor);//이미지를 서버로 보낸다.
          }
        }

        
      });

      var sCateValue = $("#sc").val();
      console.log("sCate value:", sCateValue);

      if (sCateValue) {
        $('#notice-type').prop('disabled', false);
        $('#notice-type option').each(function () {
          if ($(this).val() === sCateValue) {
            $(this).prop('selected', true);
          }
        });
      }

      // 파일 업로드 시 파일 이름을 숨겨진 필드에 저장
      $("#fileUpload").on("change", function () {
        var fileName = this.files[0].name;
        $("#selectedFile").val(fileName);
      });

      // 삭제 버튼 클릭 이벤트
      $("#deleteFileButton").on("click", function () {
        $("#selectedFile").val("");
        $("#ff").text("");
        $("#deleteFileButton").remove();
        $("#ff").reload();
      });
    });

    function sendImage(file, editor) {
      //서버로 파일을 보내기 위해 폼객체 준비
      let frm = new FormData();

      //보내고자 하는 자원을 폼에 파라미터 값으로 등록!(추가)
      frm.append("s_file", file);//폼 안에 "upload"라는 이름으로
      //전달하고자 하는 파일이 등록되었다.
      $.ajax({
        url: "/admin/saveImg",
        type: "POST",
        data: frm,
        contentType: false, //파일 전송시 반드시 이 속성을 false로 지정
        processData: false, //파일 전송시 반드시 이 속성을 false로 지정
        dataType: "json",//서버로부터 받는 자원이 JSON

      }).done(function (data) {
        console.log(data);
        console.log(data.url);
        //또 다른 방법
        $("#content").summernote("insertImage", data.url);

      }).fail(function (jqXHR, textStatus, errorThrown) {
        console.error("File upload failed:", textStatus, errorThrown);
      });
    }

    function sendData() {
      var form = document.forms[0];
      // 게시판 유형 (select) 검사
      var noticeType = form.querySelector('select[name="sCate"]');
      if (noticeType.value.trim() === "") {
        alert(noticeType.dataset.str + "을(를) 선택하세요");
        noticeType.focus();
        return;
      }

      // 제목 (input text) 검사
      var title = form.querySelector('input[name="sTitle"]');
      if (title.value.trim() === "") {
        alert(title.dataset.str + "을(를) 입력하세요");
        title.focus();
        return;
      }

      document.forms[0].submit();
    }

    function resetData() {
      $("#title").val("");
      $("#content").summernote("code", "");
      $("#selectedFile").val("");
      $("#ff").text("");
      $("#fileUpload").val("");
      $("#notice-type").val("");
    }
  </script>
</body>

</html>