<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.css" />
</head>

<body>
  <div
    class="w-[1735px] min-h-[800px] rounded-[30px] bg-[#f5f6fb] flex flex-col shrink-0 items-start justify-start p-[30px] box-border gap-[20px] text-left">

    <!-- 제목 영역-->
    <label class="text-[24px] h-[40px] font-semibold">
      회원 조회
    </label>
    <button id="openModal">[임시]</button>
    
    <!-- 테이블 영역-->
    <div th:if="${list == null}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">등록된 회원 정보가 없습니다.</p>
    </div>

    <div th:if="${list != null}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">

      <!-- 테이블 데이터 영역-->
      <div id="table" class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="listTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>회원 번호</th>
              <th>등급</th>
              <th>이메일</th>
              <th>연락처</th>
              <th>이름</th>
              <th>가입일</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="mem : ${list}" th:data-id="${mem.id}">
              <td th:text="${mem.id}"></td>
              <td th:text="${mem.gIdx}"></td>
              <td th:text="${mem.memberProfile.email}"></td>
              <td th:text="${mem.memPhone}"></td>
              <td th:text="${mem.memName}"></td>
              <td th:text="${#temporals.format(mem.memJoinDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 회원 상세보기 모달 -->
    <div th:replace="admins/modals/memberModal"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
  <script type="text/javascript" src="/js/admin/modal.js"></script>
  <script>
    $(document).ready(function () {
      $("#listTable").DataTable();

      // 테이블 행 클릭 이벤트
      $('#listTable tbody').on('click', 'tr', function () {
        var memberId = $(this).data('id');
        console.log("memberId: "+memberId)
        fetchMemberDetails(memberId);
      });

      $("#openModal").click(function () {
        $("#modalOverlay").css("display", "flex");
      });

    });

    // 회원 상세 정보 가져오기
    function fetchMemberDetails(memberId) {

      $.ajax({
          url: '/admin/member/detail', // 요청할 URL (백엔드 엔드포인트)
          data: {memId:memberId},
          method: 'GET', // HTTP 메서드
          success: function(data) {
            console.log(data);
              // 성공적으로 데이터를 받았을 때 실행될 코드
              $("#monthCount").val(data.monthCount);
              $("#totalCount").val(data.totalCount);

              var tableBody = $('#modalTable tbody');
              tableBody.empty();  // 테이블을 비워줍니다 (기존 데이터가 있다면 제거)

              // response.data가 예약 목록이라고 가정
              data.recentList.forEach(function (item) {
                  var row = '<tr>' +
                      '<td>' + item.reservation.id + '</td>' +
                      '<td>' + item.hostInfo.hostName + '</td>' +
                      '<td>' + item.reservation.startEndVo.start + '</td>' +
                      '<td>' + item.reservation.startEndVo.end + '</td>' +
                      // '<td>' + item.payment + '</td>' +
                      '<td>' + item.reservation.resStatus + '</td>' +
                      '</tr>';
                  
                  tableBody.append(row);  // tbody에 행 추가
              });
          },
          error: function(xhr, status, error) {
            console.log("Status: " + xhr.status); // HTTP 상태 코드 출력
            console.log("Response: " + xhr.responseText); // 서버에서 반환된 응답 내용 출력
            console.log("Error: " + error); // jQuery에서 발생한 에러 메시지 출력
            $('#result').html('<p>오류 발생: ' + error + '</p>');
          }
      });
      
      // 모달 표시
      $("#modalOverlay").css("display", "flex");
    
    }
  </script>
</body>

</html>