<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <div
    class="w-full relative rounded-[80px] bg-[#f5f6fb] overflow-hidden shrink-0 flex flex-col items-start justify-start py-[30px] px-[20px] box-border gap-[20px] leading-[normal] tracking-[normal] text-center text-[24px] text-[#000]">
    
    <!-- 제목 영역 -->
    <label
      class="self-stretch h-[40px] relative font-semibold flex items-center shrink-0 ">
      정산 관리
    </label>

    <!-- 검색 영역 -->
    <div
      class="w-[1670px] flex flex-col items-start justify-start gap-[10px] max-w-full text-left text-[20px] text-[#000]
      rounded-[30px] bg-[#eaecf8] p-[20px] box-border ">
      

      <div class="gap-2 flex flex-row items-start justify-center box-border">
        <label class="font-semibold">
          정산 등록 일시
        </label>
        <div id="date-range-picker"
          class="rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] border-solid box-border w-[300px] flex flex-row items-center justify-center py-[4px] px-[10px]">
          <img class="h-[16px] w-[16px]" src="/image/admin/icon-calendar.png" />
          <input readonly id="date-range-picker-input" name="dateRange"
            class="w-full [border:none] [outline:none] h-[24px] flex-1 flex flex-row items-center justify-start text-[16px] text-[#6c757d] min-w-[94px] px-[11px]"
            type="text" placeholder="전체 기간" />
        </div>
      </div>

      <div class="gap-2 flex flex-row items-start justify-center box-border">
        <label class="font-semibold">
          정산 처리 상태
        </label>
        <select  
          class="rounded-[4px] bg-[#fff] border-[#d4d8f1] border-[2px] border-solid box-border w-[300px] flex flex-row items-center justify-center py-[4px] px-[5px]">
          <option value="전체">전체</option>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>

      <div class="gap-2 flex flex-row items-start justify-center box-border">
        <label class="font-semibold w-full">
          업체명
        </label>
        <input />
      </div>

      <div
          class="w-[300px] flex-1 box-border flex flex-row items-center justify-start py-[4px] px-[10px] gap-[10px] text-[16px]">
          <button id="search-button" class="w-[100px] h-[30px] bg-[#d4d8f1] rounded-[4px]">검색</button>
          <button id="reset-button"
            class="flex flex-row items-center justify-center w-[100px] h-[30px] border-[2px] border-[#d4d8f1] rounded-[4px]">초기화</button>
        </div>

    </div>

    <!-- 데이터 테이블 영역-->
    <section
      class="self-stretch rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-col items-start justify-start pt-[18px] px-[23px] pb-[29px] text-left text-[14px] text-[#000] font-['Work_Sans'] mq900:pt-[20px] mq900:pb-[20px] mq900:box-border">
      <div class="self-stretch overflow-hidden flex flex-col items-start justify-start p-[10px] gap-[10px]">
        
      </div>
    </section>
  </div>
</body>

</html>