<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin}"
      layout:fragment="admin">
<head>
  </head>
  <body>
    <div
      class="w-full relative rounded-[80px] bg-[#f5f6fb] overflow-hidden shrink-0 flex flex-col items-start justify-start py-[35px] pl-[30px] pr-[251px] box-border gap-[10px] leading-[normal] tracking-[normal] text-center text-[20px] text-[#fff] font-[ABeeZee] mq1150:pr-[125px] mq1150:box-border mq450:pr-[20px] mq450:box-border"
    >
      <div
        class="w-[979px] rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-row items-center justify-start flex-wrap content-center py-[10px] px-[33px] box-border gap-[30px] max-w-full"
      >
        <nav
          class="m-[0px] flex-1 overflow-hidden flex flex-row items-center justify-center py-[5px] px-[38px] box-border gap-[20px] max-w-full whitespace-nowrap text-center text-[20px] text-[#000] font-[Inter] mq1150:flex-wrap mq1150:min-w-full"
        >
          <a
            class="[text-decoration:none] w-[130px] relative font-light text-[inherit] flex items-center justify-center shrink-0 mq450:text-[16px]"
            >[가맹점명]의</a
          >
          <div
            class="flex-1 flex flex-row items-start justify-center gap-[13.5px] min-w-[260px] max-w-full text-left text-[16px] text-[rgba(0,0,0,0.87)] font-[Roboto] mq800:flex-wrap"
          >
            <div
              class="flex-1 shadow-[0px_0px_0px_3.2px_rgba(0,_123,_255,_0.25)] rounded-[4px] bg-[#fff] border-[#80bdff] border-[1px] border-solid box-border overflow-hidden flex flex-row items-center justify-center py-[4px] px-[11px] min-w-[117px]"
            >
              <input
                class="w-full [border:none] [outline:none] bg-[transparent] h-[24px] flex-1 overflow-hidden flex flex-row items-center justify-start font-[ABeeZee] text-[16px] text-[#6c757d] min-w-[94px]"
                placeholder="Placeholder"
                type="text"
              />

              <div class="h-[24px] hidden flex-row items-center justify-center">
                <img
                  class="h-[16px] w-[16px] relative overflow-hidden shrink-0"
                  alt=""
                  src="/public/check.svg"
                />
              </div>
            </div>
            <div
              class="h-[36px] relative tracking-[0.15px] leading-[150%] flex items-center min-w-[13px] mq800:w-full mq800:h-[13px]"
            >
              —
            </div>
            <div
              class="flex-1 shadow-[0px_0px_0px_3.2px_rgba(0,_123,_255,_0.25)] rounded-[4px] bg-[#fff] border-[#80bdff] border-[1px] border-solid box-border overflow-hidden flex flex-row items-center justify-center py-[4px] px-[11px] min-w-[117px]"
            >
              <input
                class="w-full [border:none] [outline:none] bg-[transparent] h-[24px] flex-1 overflow-hidden flex flex-row items-center justify-start font-[ABeeZee] text-[16px] text-[#6c757d] min-w-[94px]"
                placeholder="Placeholder"
                type="text"
              />

              <div class="h-[24px] hidden flex-row items-center justify-center">
                <img
                  class="h-[16px] w-[16px] relative overflow-hidden shrink-0"
                  alt=""
                  src="/public/check.svg"
                />
              </div>
            </div>
          </div>
          <a
            class="[text-decoration:none] w-[130px] relative font-light text-[inherit] flex items-center justify-center shrink-0 mq450:text-[16px]"
            >매출 내역</a
          >
        </nav>
        <div class="flex flex-col items-start justify-start">
          <div
            class="rounded-[4.8px] bg-[#343a40] flex flex-col items-center justify-center py-[8px] px-[16px]"
          >
            <div class="flex flex-row items-center justify-center gap-[4px]">
              <img
                class="h-[30px] w-[30px] relative overflow-hidden shrink-0 object-cover hidden min-h-[30px]"
                alt=""
                src="/public/l-icon@2x.png"
              />

              <a
                class="[text-decoration:none] relative leading-[30px] text-[inherit] inline-block min-w-[74px] whitespace-nowrap mq450:text-[16px] mq450:leading-[24px]"
                >뒤로가기</a
              >
              <img
                class="h-[30px] w-[30px] relative overflow-hidden shrink-0 object-cover hidden min-h-[30px]"
                alt=""
                src="/public/l-icon@2x.png"
              />
            </div>
          </div>
        </div>
      </div>
      <main
        class="self-stretch rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-col items-start justify-start py-[18px] px-[23px]"
      >
        <section
          class="self-stretch overflow-hidden flex flex-col items-start justify-start pt-[10px] px-[10px] pb-[317px] gap-[10px] text-left text-[14px] text-[#000] font-['Work_Sans'] mq1150:pt-[20px] mq1150:pb-[206px] mq1150:box-border mq450:pb-[134px] mq450:box-border"
        >
          <div
            class="self-stretch rounded-[10px] bg-[#e1e1e1] overflow-hidden flex flex-row items-center justify-between py-[20px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
          <div
            class="self-stretch rounded-[10px] bg-[#fff] overflow-hidden flex flex-row items-center justify-between py-[10px] px-[30px] gap-[20px] mq1350:flex-wrap"
          >
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              예약 번호
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              예약자
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[56px]"
            >
              결제 내용
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 시작일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              예약 종료일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[42px]"
            >
              결제일
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 전 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[73px] whitespace-nowrap"
            >
              할인 후 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[86px] whitespace-nowrap"
            >
              쿠폰 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[99px] whitespace-nowrap"
            >
              포인트 적용 금액
            </div>
            <div
              class="relative leading-[150%] font-semibold inline-block min-w-[69px] whitespace-nowrap"
            >
              매출 확정일
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
