<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
</head>

<body>
  <div
    class="w-[1735px] min-h-[800px] rounded-[30px] bg-[#f5f6fb] flex flex-col shrink-0 items-start justify-start p-[30px] box-border gap-[20px] text-left">

    <!-- 제목 영역 -->
    <label class="text-[24px] h-[40px] font-semibold">
      포인트 관리
    </label>


    <!-- 포인트 버튼 영역 -->
    <div class="flex flex-row text-[16px] justify-center items-center gap-4">
      <button id="addButton" class="w-[100px] h-[35px] bg-[#d4d8f1] rounded-[4px] text-[16px] ml-[30px]">포인트 등록</button>
      <span class="text-gray-400"> * 포인트는 등록 후 삭제할 수 없으니 유의해주세요</span>
    </div>


    <!-- 본문 영역 -->
    <!-- 테이블 영역 -->
    <div th:if="${list == null}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">포인트 내역이 없습니다.</p>
    </div>

    <div th:if="${list != null}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">

      <!-- 테이블 데이터 영역-->
      <div id="table" class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="listTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>포인트 번호</th>
              <th>이메일</th>
              <th>회원명</th>
              <th>내용</th>
              <th>변동 포인트</th>
              <th>변동 후 잔여 포인트</th>
              <th>일시</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="item : ${list}">
              <td th:text="${item.point.id}"></td>
              <td th:text="${item.member.memberProfile.email}"></td>
              <td th:text="${item.member.memName}"></td>
              <td th:text="${item.point.pContent}"></td>
              <td th:text="${item.point.pValue}"></td>
              <td th:text="${item.point.pSum}"></td>
              <td th:text="${#temporals.format(item.point.pDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div th:replace="admins/modals/pointAddModal"></div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/js/admin/modal.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ null;
    if (message) {
      alert(message);
    }

    $(document).ready(function () {
      $('#listTable').DataTable({
        order: []
      });

      // 포인트 등록 모달
      $('#addButton').click(function () {
        $('#modalOverlay').show();
      });

      // 범위 검사 함수
      function validateInput(inputElement, min, max) {
        const value = $(inputElement).val();

        // 숫자인지 확인하고, 숫자일 경우만 범위 검사 진행
        if (!/^\d+$/.test(value)) {
          alert('숫자만 입력 가능합니다.');
          $(inputElement).val(''); // 입력 값을 지움
          $(inputElement).focus();  // 포커스 설정
        } else {
          const numericValue = parseInt(value, 10);
          if (numericValue < min || numericValue > max) {
            alert(min + '에서 ' + max + ' 사이의 숫자를 입력하세요.');
            $(inputElement).val(''); // 입력 값을 지움
            $(inputElement).focus();  // 포커스 설정
          }
        }
      }

      // 유효성 검사 (1~10000)
      $('#pValue').on('input', function () {
        validateInput(this, 1, 10000);
      });

    });
  </script>
</body>

</html>