<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
</head>

<body>
  <div
    class="w-[1735px] min-h-[800px] rounded-[30px] bg-[#f5f6fb] flex flex-col shrink-0 items-start justify-start p-[30px] box-border gap-[20px] text-left">

    <!-- 제목 영역 -->
    <div class="flex flex-row gap-[15px] items-center">
      <label class="text-[24px] h-[40px] font-semibold">
        추천 숙소
      </label>
      <div th:if="${date != null}">
      <span>(</span><span th:text="${#temporals.format(date, 'yyyy-MM-dd')}"></span> <span>갱신)</span>
    </div>
    </div>

    <!-- 전체 추천 영역 -->
    <div th:if="${1 > #lists.size(totalList)}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">등록된 추천 숙소가 없습니다.</p>
    </div>

    <!-- 전체 추천 영역 -->
    <div th:if="${totalList != null and #lists.size(totalList) > 0 }"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <label class="text-[18px] font-semibold">전체 추천</label>

      <!-- 테이블 데이터 영역-->
      <div id="table" class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="listTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>호스트번호</th>
              <th>업체명</th>
              <th>숙소유형</th>
              <th>대표자명</th>
              <th>연락처</th>
              <th>도로명주소</th>
              <th>상세주소</th>
              <th>매출액수</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="list : ${totalList}">
              <td th:text="${list.hostInfoDTO.id}"></td>
              <td th:text="${list.hostInfoDTO.hname}"></td>
              <td th:switch="${list.recommendationDTO.recType.name()}">
                <span th:case="'MOTEL'">모텔</span>
                <span th:case="'HOTEL_RESORT'">호텔/리조트</span>
                <span th:case="'POOL_VILLA'">풀빌라</span>
                <span th:case="'GUESTHOUSE_HANOK'">게스트하우스/한옥</span>
              </td>
              <td th:text="${list.hostInfoDTO.hostOwnerInfo.hostName}"></td>
              <td th:text="${list.hostInfoDTO.hphone}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.postCode}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.street}"></td>
              <td th:text="${list.recommendationDTO.recPoint}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- 호텔/리조트 추천 영역 -->
    <div th:if="${1 > #lists.size(hotelList)}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">등록된 호텔/리조트 추천 숙소가 없습니다.</p>
    </div>

    <!-- 호텔/리조트 추천 영역 -->
    <div th:if="${hotelList != null and #lists.size(hotelList) > 0}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <label class="text-[18px] font-semibold">호텔/리조트 추천</label>

      <!-- 테이블 데이터 영역-->
      <div class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="hotelTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>호스트번호</th>
              <th>업체명</th>
              <th>대표자명</th>
              <th>연락처</th>
              <th>도로명주소</th>
              <th>상세주소</th>
              <th>매출액수</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="list : ${hotelList}">
              <td th:text="${list.hostInfoDTO.id}"></td>
              <td th:text="${list.hostInfoDTO.hname}"></td>
              <td th:text="${list.hostInfoDTO.hostOwnerInfo.hostName}"></td>
              <td th:text="${list.hostInfoDTO.hphone}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.postCode}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.street}"></td>
              <td th:text="${list.recommendationDTO.recPoint}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- 모텔 추천 영역 -->
    <div th:if="${1 > #lists.size(motelList)}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">등록된 모텔 추천 숙소가 없습니다.</p>
    </div>

    <!-- 모텔 추천 영역 -->
    <div th:if="${motelList != null and #lists.size(motelList) > 0}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <label class="text-[18px] font-semibold">모텔 추천</label>
      
      <!-- 테이블 데이터 영역-->
      <div class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="motelTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>호스트번호</th>
              <th>업체명</th>
              <th>대표자명</th>
              <th>연락처</th>
              <th>도로명주소</th>
              <th>상세주소</th>
              <th>매출액수</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="list : ${motelList}">
              <td th:text="${list.hostInfoDTO.id}"></td>
              <td th:text="${list.hostInfoDTO.hname}"></td>
              <td th:text="${list.hostInfoDTO.hostOwnerInfo.hostName}"></td>
              <td th:text="${list.hostInfoDTO.hphone}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.postCode}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.street}"></td>
              <td th:text="${list.recommendationDTO.recPoint}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 풀빌라 추천 영역 -->
    <div th:if="${1 > #lists.size(poolList)}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">등록된 풀빌라 추천 숙소가 없습니다.</p>
    </div>

    <!-- 풀빌라 추천 영역 -->
    <div th:if="${poolList != null and #lists.size(poolList) > 0}" 
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <label class="text-[18px] font-semibold">풀빌라 추천</label>
      <!-- 테이블 데이터 영역-->
      <div class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        
        <table id="poolTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>호스트번호</th>
              <th>업체명</th>
              <th>대표자명</th>
              <th>연락처</th>
              <th>도로명주소</th>
              <th>상세주소</th>
              <th>매출액수</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="list : ${poolList}">
              <td th:text="${list.hostInfoDTO.id}"></td>
              <td th:text="${list.hostInfoDTO.hname}"></td>
              <td th:text="${list.hostInfoDTO.hostOwnerInfo.hostName}"></td>
              <td th:text="${list.hostInfoDTO.hphone}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.postCode}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.street}"></td>
              <td th:text="${list.recommendationDTO.recPoint}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- 게하/한옥 추천 영역 -->
    <div th:if="${1 > #lists.size(guestList)}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <p class="text-[18px] text-[#6c757d]">등록된 게하/한옥 추천 숙소가 없습니다.</p>
    </div>

    <!-- 게하/한옥 추천 영역 -->
    <div th:if="${guestList != null and #lists.size(guestList) > 0}"
      class="w-full rounded-[30px] bg-[#eaecf8] oflex flex-col items-start justify-start p-[20px] box-border gap-[10px] text-[16px] ">
      <label class="text-[18px] font-semibold">게하/한옥 추천</label>
      <!-- 테이블 데이터 영역-->
      <div class="pt-[10px] px-[10px] pb-[10px] gap-[10px] m-auto">
        <table id="guestTable" class="w-[1200px] hover ">
          <thead>
            <tr class="bg-[#d4d8f1] font-medium">
              <th>호스트번호</th>
              <th>업체명</th>
              <th>대표자명</th>
              <th>연락처</th>
              <th>도로명주소</th>
              <th>상세주소</th>
              <th>매출액수</th>
            </tr>
          </thead>
          <tbody class="bg-[#ffffff] pt-[100px] ">
            <tr th:each="list : ${guestList}">
              <td th:text="${list.hostInfoDTO.id}"></td>
              <td th:text="${list.hostInfoDTO.hname}"></td>
              <td th:text="${list.hostInfoDTO.hostOwnerInfo.hostName}"></td>
              <td th:text="${list.hostInfoDTO.hphone}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.postCode}"></td>
              <td th:text="${list.hostInfoDTO.addressVo.street}"></td>
              <td th:text="${list.recommendationDTO.recPoint}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#listTable').DataTable({
        order: []
      });
      $('#hotelTable').DataTable({
        order: []
      });
      $('#motelTable').DataTable({
        order: []
      });
      $('#poolTable').DataTable({
        order: []
      });
      $('#guestTable').DataTable({
        order: []
      });
    });
  </script>

</body>

</html>