<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/admin}" layout:fragment="admin">

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <div
    class="w-full relative rounded-[80px] bg-[#f5f6fb] overflow-hidden shrink-0 flex flex-col items-start justify-start py-[30px] px-[20px] box-border gap-[20px] leading-[normal] tracking-[normal] text-center text-[24px] text-[#000] font-[Inter]">
    
    <!-- 제목 영역 -->
    <label
      class="m-[0px] self-stretch h-[40px] relative text-inherit font-semibold font-[inherit] flex items-center shrink-0 mq450:text-[19px]">
      판매실적
    </label>

    <!-- 검색과 차트 영역-->
    <section
      class="w-[1500px] flex flex-row items-start justify-center gap-[10px] max-w-full text-left text-[20px] text-[#000] font-[Roboto] mq1300:flex-wrap">
      <div
        class="w-[888px] gap-2 rounded-[30px] bg-[#eaecf8] overflow-hidden shrink-0 flex flex-col items-start justify-center py-[25.5px] px-[24px] box-border min-w-[888px] max-w-full mq1125:min-w-full mq1300:flex-1">
        <label
          class="m-[0px] w-[800px] relative text-inherit tracking-[0.4px] leading-[166%] font-medium font-[inherit] flex items-center max-w-full mq450:text-[16px] mq450:leading-[27px]">
          검색 필터
        </label>
        <div id="regionSection" class="flex flex-col w-full gap-2">
          <div class="flex flex-row text-[18px] gap-2">
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">전체</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">서울</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">부산</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">인천</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">대구</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">대전</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">광주</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">울산</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">세종</button>
          </div>
          <div class="flex flex-row text-[18px] gap-2">
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">경기</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">충북</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">충남</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">전북</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">전남</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">경북</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">경남</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">강원</button>
            <button class="border-[1px] rounded-md border-violet-300 w-[80px]">제주도</button>
          </div>
        </div>
        
        <div
          class="w-full flex flex-row items-center justify-start box-border gap-[10px] text-[18px]">
          <label>
            기간
          </label>
          <input class="border-[1px] border-violet-300 h-[24px]" />
        </div>
        <div
          class="w-[595px] flex flex-row items-center justify-start gap-[15px] text-[18px] ">
          <label>
            검색어
          </label>
          <select>
            <option>호스트명</option>
            <option>예약자명</option>
            <option>결제내용</option>
          </select>
          <input class="border-[1px] border-violet-300 h-[24px]" />
          <button>검색</button>
        </div>
      </div>
      <!-- 판매실적 차트-->
      <div
        class="flex-1 rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-row items-start justify-start py-[17px] px-[20px] box-border min-w-[434px] max-w-full text-[22px] text-[#111618] font-[Lato] mq800:min-w-full">
        
      </div>
    </section>


    <section
      class="w-[1565px] rounded-[30px] bg-[#eaecf8] overflow-hidden flex flex-col items-start justify-start p-[20px] box-border max-w-full text-left text-[14px] text-[#000] font-['Work_Sans']">
      
    </section>
  </div>
</body>

</html>