<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coupon Modal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <!-- Modal Background -->

    <!-- Open Modal Button -->
    <button
      class="open-modal bg-blue-500 text-white py-2 px-4 rounded-md mt-10 mx-auto block"
    >
      Open Coupon Modal
    </button>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      $(document).ready(function () {});
    </script>
  </body>
</html>
