<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <header th:fragment="host_header"
      class="z-50 w-[1920px] max-w-full flex flex-col items-start justify-start leading-[normal] tracking-[normal] mx-auto"
    >
      <div
        class="self-stretch bg-[#fff] border-[#ebebeb] border-b-[1px] border-solid flex flex-row items-start justify-between py-[0px] px-[360px] gap-[20px] mq750:pl-[90px] mq750:pr-[90px] mq750:box-border mq1050:flex-wrap mq1050:pl-[180px] mq1050:pr-[180px] mq1050:box-border"
      >
      <a class="dropdown-item" th:href="@{/host/main}">
        <img
          class="h-[75px] relative object-cover"
          alt=""
          src="/image/logo/logo.png"
        />
        </a>
        <div
          class="flex flex-row items-start justify-start pt-[17.5px] px-[0px] pb-[0px] gap-[20px]"
        >
        <div class="dropdown">
          <button
            class="cursor-pointer border-[#ebebeb] border-[1px] border-solid py-[14px] px-[27px] bg-[#fff] rounded-[10px] flex flex-row items-start justify-start hover:bg-[#e6e6e6] hover:border-[#d1d1d1] hover:border-[1px] hover:border-solid hover:box-border"
            type="button" data-bs-toggle="dropdown" aria-expanded="false"
            >
            <div
              class="[text-decoration:none] relative text-[16px] leading-[20px] font-semibold font-[Inter] text-[#333] text-center inline-block min-w-[74px] whitespace-nowrap"
              >마이페이지</div
            >
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/host/mypage}">마이페이지</a></li>
            <li><a class="dropdown-item" th:href="@{/host/inquiry}">나의 1:1 문의</a></li>
          </ul>
        </div> 
        <button
        class="cursor-pointer border-[#ebebeb] border-[1px] border-solid py-[14px] pl-[35px] pr-[34px] bg-[#fff] rounded-[10px] flex flex-row items-start justify-start hover:bg-[#e6e6e6] hover:border-[#d1d1d1] hover:border-[1px] hover:border-solid hover:box-border"
      >
        <a th:href="@{/host/logout}"
          class="w-[70px] [text-decoration:none] relative text-[16px] leading-[20px] font-semibold font-[Inter] text-[#333] text-center inline-block min-w-[59px]"
          >로그아웃</a
        >
      </button>
        </div>
      </div>
      <div
        class="self-stretch bg-[#fff] border-[#ebebeb] border-b-[1px] border-solid box-border flex flex-row items-start justify-start pt-[0.5px] px-[360px] pb-[0px] max-w-full mq750:pl-[90px] mq750:pr-[90px] mq750:box-border mq1050:pl-[180px] mq1050:pr-[180px] mq1050:box-border"
      >
        <div
          class="flex-1 flex flex-row items-start justify-between max-w-full gap-[20px] lg:flex-wrap"
        >
          <div
            class="w-[700px] shrink-0 flex flex-row items-start justify-start py-[12px] px-[1px] box-border gap-[27px] max-w-full mq1050:flex-wrap"
          >
            <div class="dropdown">
            <button
              class="cursor-pointer border-[#ebebeb] border-[1px] border-solid py-[14px] pl-[35px] pr-[34px] bg-[#fff] rounded-[10px] flex flex-row items-start justify-start hover:bg-[#e6e6e6] hover:border-[#d1d1d1] hover:border-[1px] hover:border-solid hover:box-border"
              type="button" data-bs-toggle="dropdown" aria-expanded="false"
              >
              <div
                class="[text-decoration:none] relative text-[16px] leading-[20px] font-semibold font-[Inter] text-[#333] text-center inline-block min-w-[59px]"
                >숙소관리</div
              >
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/host/info}">숙소 소개</a></li>
              <li><a class="dropdown-item" th:href="@{/host/rules}">이용규칙 관리</a></li>
              <li><a class="dropdown-item" th:href="@{/host/roomlist}">객실 관리</a></li>
              <li><a class="dropdown-item" th:href="@{/host/review}">리뷰 관리</a></li>
            </ul>
            </div>
            <div class="dropdown">
            <button
              class="cursor-pointer border-[#ebebeb] border-[1px] border-solid py-[14px] pl-[35px] pr-[34px] bg-[#fff] rounded-[10px] flex flex-row items-start justify-start hover:bg-[#e6e6e6] hover:border-[#d1d1d1] hover:border-[1px] hover:border-solid hover:box-border"
              type="button" data-bs-toggle="dropdown" aria-expanded="false"
              >
              <div
                class="[text-decoration:none] relative text-[16px] leading-[20px] font-semibold font-[Inter] text-[#333] text-center inline-block min-w-[59px]"
                >예약관리</div
              >
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/host/reservation}">예약 관리</a></li>
              <li><a class="dropdown-item" th:href="@{/host/sales}">매출 관리</a></li>
              <li><a class="dropdown-item" th:href="@{/host/payment}">정산 관리</a></li>
            </ul>
            </div>
            <div class="dropdown">
            <button
              class="cursor-pointer border-[#ebebeb] border-[1px] border-solid py-[14px] pl-[35px] pr-[34px] bg-[#fff] rounded-[10px] flex flex-row items-start justify-start hover:bg-[#e6e6e6] hover:border-[#d1d1d1] hover:border-[1px] hover:border-solid hover:box-border"
              type="button" data-bs-toggle="dropdown" aria-expanded="false"
              >
              <div
                class="[text-decoration:none] relative text-[16px] leading-[20px] font-semibold font-[Inter] text-[#333] text-center inline-block min-w-[59px]"
                >고객센터</div
              >
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/host/notice}">공지사항</a></li>
              <li><a class="dropdown-item" th:href="@{/host/faq}">자주 묻는 질문</a></li>
              <li><a class="dropdown-item" th:href="@{/host/inquiry}">1:1 문의</a></li>
            </ul>
            </div>
          </div>
          <div
            class="flex flex-row items-start justify-start py-[12px] px-[0px]"
          >
            <div
              class="border-[none] py-[14px] px-[28px] bg-[#fff] flex-1 rounded-[10px] flex flex-row items-start justify-start min-w-[130px] whitespace-nowrap "
            >
              <div
                class="[text-decoration:none] relative text-[20px] leading-[20px] font-semibold font-[Inter] text-[#333] text-center whitespace-nowrap"
                ><span th:text="${adminMember != null ? adminMember.adId : 'Guest'}">변우석</span>님 환영합니다.</div
              >
          </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
