<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admins/layout}"
      layout:fragment="main">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <form
      class="m-[0px] w-[640px] shadow-[0px_20px_24px_-4px_rgba(16,_24,_40,_0.1),_0px_8px_8px_-4px_rgba(16,_24,_40,_0.04)] rounded-[12px] bg-[#fff] max-w-full overflow-hidden flex flex-col items-center justify-start leading-[normal] tracking-[normal]"
    >
      <section
        class="self-stretch bg-[#fff] flex flex-col items-center justify-start relative max-w-full"
      >
        <div
          class="self-stretch bg-[#fff] flex flex-col items-start justify-start pt-[24px] px-[24px] pb-[0px] gap-[16px]"
        >
          <img
            class="w-[48px] h-[48px] relative rounded-[10px] hidden"
            alt=""
            src="/public/featured-icon.svg"
          />

          <div
            class="self-stretch flex flex-col items-start justify-start gap-[4px]"
          >
            <a
              class="[text-decoration:none] self-stretch relative text-[18px] leading-[28px] font-semibold font-[Inter] text-[#101828] text-left"
              >포인트 등록</a
            >
            <div
              class="self-stretch relative text-[14px] leading-[20px] font-[Inter] text-[#475467] text-left"
            >
              등록할 포인트의 정보를 입력해주세요
            </div>
          </div>
        </div>
        <div
          class="!m-[0] absolute top-[16px] right-[16px] rounded-[8px] overflow-hidden flex flex-row items-center justify-center p-[10px] z-[1]"
        >
          <img
            class="h-[24px] w-[24px] relative overflow-hidden shrink-0"
            loading="lazy"
            alt=""
            src="/public/xclose.svg"
          />
        </div>
        <div class="self-stretch h-[20px]"></div>
        <img
          class="w-[400px] relative max-h-full hidden max-w-full z-[3]"
          alt=""
          src="/public/divider.svg"
        />
      </section>
      <section
        class="self-stretch flex flex-col items-start justify-start py-[0px] px-[24px] box-border max-w-full"
      >
        <div
          class="self-stretch flex flex-col items-center justify-center gap-[16px] max-w-full"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[6px]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[316px] gap-[6px] mq450:pr-[20px] mq450:box-border mq600:pr-[158px] mq600:box-border"
            >
              <div
                class="relative text-[14px] leading-[20px] font-medium font-[Inter] text-[#344154] text-left inline-block min-w-[76px] whitespace-nowrap"
              >
                회원 아이디*
              </div>
              <div
                class="self-stretch shadow-[0px_1px_2px_rgba(16,_24,_40,_0.05)] rounded-[8px] bg-[#fff] border-[#d0d5dd] border-[1px] border-solid overflow-hidden flex flex-row items-center justify-start py-[8px] px-[13px]"
              >
                <input
                  class="w-full [border:none] [outline:none] bg-[transparent] h-[24px] flex-1 min-w-[149px]"
                  type="text"
                />
              </div>
            </div>
            <div
              class="w-[320px] relative text-[14px] leading-[20px] font-[Inter] text-[#475467] text-left hidden"
            >
              This is a hint text to help user.
            </div>
          </div>
          <div
            class="self-stretch flex flex-row items-start justify-start max-w-full"
          >
            <div
              class="flex-1 flex flex-col items-start justify-start gap-[8px] max-w-full"
            >
              <input
                class="w-[76px] [border:none] [outline:none] font-medium font-[Inter] text-[14px] bg-[transparent] h-[20px] relative leading-[20px] text-[#344154] text-left inline-block p-[0px]"
                placeholder="포인트 내용*"
                type="text"
              />

              <div
                class="w-[320px] relative text-[14px] leading-[20px] font-[Inter] text-[#475467] text-left hidden"
              >
                This is a hint text to help user.
              </div>
              <div
                class="self-stretch h-[44px] shadow-[0px_1px_2px_rgba(16,_24,_40,_0.05)] rounded-[8px] bg-[#fff] border-[#d0d5dd] border-[1px] border-solid box-border overflow-hidden shrink-0 flex flex-row items-center justify-start py-[10px] px-[13px] max-w-full"
              >
                <div class="self-stretch flex-1 max-w-full"></div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[6px]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start py-[0px] pl-[0px] pr-[302px] gap-[6px] mq450:pr-[20px] mq450:box-border mq600:pr-[151px] mq600:box-border"
            >
              <div
                class="relative text-[14px] leading-[20px] font-medium font-[Inter] text-[#344154] text-left inline-block min-w-[76px] whitespace-nowrap"
              >
                포인트 금액*
              </div>
              <div
                class="self-stretch overflow-hidden flex flex-row items-center justify-start py-[2.5px] pl-[0px] pr-[118px] gap-[9px] mq450:pr-[20px] mq450:box-border"
              >
                <button
                  class="cursor-pointer border-[#d0d5dd] border-[1px] border-solid py-[6px] px-[13px] bg-[#fff] flex-1 shadow-[0px_1px_2px_rgba(16,_24,_40,_0.05)] rounded-[8px] overflow-hidden flex flex-row items-center justify-start"
                >
                  <div class="flex-1 flex flex-row items-center justify-start">
                    <a
                      class="[text-decoration:none] flex-1 relative text-[16px] leading-[24px] font-[Inter] text-[#667085] text-left"
                      >How much?</a
                    >
                  </div>
                </button>
                <div
                  class="relative text-[16px] leading-[24px] font-[Inter] text-[#000] text-left inline-block min-w-[16px]"
                >
                  원
                </div>
              </div>
            </div>
            <div
              class="w-[320px] relative text-[14px] leading-[20px] font-[Inter] text-[#475467] text-left hidden"
            >
              This is a hint text to help user.
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch flex flex-col items-start justify-start pt-[32px] px-[0px] pb-[0px] box-border max-w-full"
      >
        <div
          class="w-[560px] hidden flex-col items-start justify-start pt-[0px] px-[0px] pb-[24px] box-border max-w-full"
        >
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full"
            alt=""
            src="/public/divider.svg"
          />
        </div>
        <div
          class="self-stretch flex flex-row items-start justify-start flex-wrap content-start pt-[0px] px-[24px] pb-[24px] gap-[12px]"
        >
          <button
            class="cursor-pointer border-[#d0d5dd] border-[1px] border-solid py-[8px] px-[20px] bg-[#fff] flex-1 shadow-[0px_1px_2px_rgba(16,_24,_40,_0.05)] rounded-[8px] box-border overflow-hidden flex flex-row items-center justify-center min-w-[188px] hover:bg-[#e6e6e6] hover:border-[#b5bdc4] hover:border-[1px] hover:border-solid hover:box-border"
          >
            <div
              class="relative text-[16px] leading-[24px] font-semibold font-[Inter] text-[#344154] text-left inline-block min-w-[54px]"
            >
              Cancel
            </div>
          </button>
          <button
            class="cursor-pointer border-[#7e56d9] border-[1px] border-solid py-[8px] px-[20px] bg-[#7e56d9] flex-1 shadow-[0px_1px_2px_rgba(16,_24,_40,_0.05)] rounded-[8px] box-border overflow-hidden flex flex-row items-center justify-center min-w-[188px] hover:bg-[#9970f2] hover:border-[#9970f2] hover:border-[1px] hover:border-solid hover:box-border"
          >
            <div
              class="relative text-[16px] leading-[24px] font-semibold font-[Inter] text-[#fff] text-left inline-block min-w-[63px]"
            >
              Confirm
            </div>
          </button>
        </div>
      </section>
    </form>
  </body>
</html>
