<!DOCTYPE html>
<div id="modalOverlay2"
  class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 justify-center items-center z-50 hidden ">
  <div id="history_modal"
    class="relative top-[40px] w-[640px] rounded-[12px] bg-[#fff] max-w-full shrink-0 flex flex-col leading-[normal] tracking-[normal] m-auto">
    <!-- 헤더 -->
    <section class="bg-[#fff] flex flex-col items-start justify-center relative rounded-[12px] w-full">
      <div id="closeHistory" class="w-auto flex flex-row items-end justify-end p-[10px]">
        <img class="h-[24px] w-[24px] shrink-0" src="/image/admin/icon-cancel.png" />
      </div>
      <header
        class="w-full bg-[#fff] flex flex-col items-start justify-center gap-[10px] text-left text-[18px] text-[#101828] mb-2">
        <p class="px-[30px] font-semibold text-[inherit] whitespace-nowrap">쿠폰 사용 내역</p>
        <div class="px-[40px] text-[14px] text-[#475467] whitespace-nowrap">등록할 쿠폰의 정보를 입력해주세요</div>
      </header>
    </section>

    <!-- 본문 영역 -->
    <section
      class="w-full flex flex-col items-start justify-start px-[30px] py-[10px] max-w-full text-left text-[14px] text-[#989898]">
      <!-- 발행 현황
      <div class="flex flex-row items-start justify-start gap-[10.5px] text-[12px]">
        <div>발행</div>
        <div>N</div>
        <div>건 /</div>
        <div>사용</div>
        <div>N</div>
        <div>건</div>
      </div> -->

      <!-- 테이블 영역 -->
      <div id="historyTableSection"
        class="w-full self-stretch flex flex-row items-center justify-center py-[30px] box-border max-w-full text-center text-[16px] text-[rgba(0,0,0,0.87)] font-[Roboto]">
        <table id="historyTable" class="w-full font-medium hover ">
          <thead>
            <tr class="bg-[#d4d8f1]">
              <th>쿠폰 코드</th>
              <th>고객 번호</th>
              <th>발행일</th>
              <th>만료일</th>
              <th>사용일</th>
              <th>사용주문</th>
            </tr>
          </thead>
          <tbody id="tbody" class="bg-[#ffffff] pt-[10px] mb-[50px] font-normal"></tbody>
        </table>
      </div>
    </section>
  </div>
</div>