<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admins/layout}" layout:fragment="main">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work Sans:wght@600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap" />
</head>

<body>
  <div
    class="w-auto relative rounded-[30px] bg-[#fff] flex flex-col items-start justify-start gap-[15px] leading-[normal] tracking-[normal] text-left text-[20px] text-[#000] font-[Roboto]">
    <header
      class="self-stretch rounded-t-[30px] rounded-b-[0px] bg-[#8492e6] flex flex-row items-start justify-center py-[15px] px-[20px] box-border top-[0] z-[99] sticky max-w-full text-center text-[30px] text-[#fff] font-[Roboto]">
      <h3
        class="m-[0px] h-[30px] w-[382px] relative text-inherit tracking-[0.15px] leading-[24px] font-bold font-[inherit] flex items-center justify-center shrink-0 whitespace-nowrap max-w-full">
        객실 상세보기
      </h3>
    </header>

    
    <div
      class="w-full flex flex-row items-start justify-start py-[10px] px-[60px] box-border">
      <div class="flex-1 relative tracking-[0.15px] leading-[24px]">
        <h3>객실명 : </h3>
      </div>
      <div>
        <input type="text" placeholder="객실명" readonly/>
      </div>
    </div>
    <div
      class="w-full flex flex-row items-start justify-start py-[10px] px-[60px] box-border">
      <div class="flex-1 relative tracking-[0.15px] leading-[24px]">
        <h3>객실유형 : </h3>
      </div>
      <div>
        <input type="text" placeholder="객실유형" readonly/>
      </div>
    </div>
    <div
      class="w-full flex flex-row items-start justify-start py-[10px] px-[60px] box-border">
      <div class="flex-1 relative tracking-[0.15px] leading-[24px]">
        <h3>객실정원 : </h3>
      </div>
      <div>
        <input type="text" placeholder="객실정원" readonly/>
      </div>
    </div>
    <div
      class="w-full flex flex-row items-start justify-start py-[10px] px-[60px] box-border">
      <div class="flex-1 relative tracking-[0.15px] leading-[24px]">
        <h3>객실소개 : </h3>
      </div>
      <div>
        <input type="textarea" placeholder="객실소개" readonly/>
      </div>
    </div>
    <h2>요금 설정</h2>
    <div
      class="w-full flex flex-row items-start justify-start py-[10px] px-[60px] box-border">
      <label>기본(비수기) : </label>
      <div>
        <input type="textarea" placeholder="비수기 요금" readonly/>
      </div>
      <span>원 </span>
    </div>
    <div
      class="w-full flex flex-row items-start justify-start py-[10px] px-[60px] box-border">
      <label>준성수기 : </label>
      <div>
        <input type="textarea" placeholder="준성수기 요금" readonly/>
      </div>
      <span>원 </span>
    </div>
    <div
      class="w-full flex flex-row items-start justify-start py-[10px] px-[60px] box-border">
      <label>성수기 : </label>
      <div>
        <input type="textarea" placeholder="성수기 요금" readonly/>
      </div>
      <span>원 </span>
    </div>
    <div>
      <label>객실 이미지</label>
      
    </div>
    
  </div>
</body>

</html>